bpel.samples/resources/AsynchronousSample/AsynchronousSample/src/AsynchronousSample.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions name="AsynchronousSample"
                  targetNamespace="http://enterprise.netbeans.org/bpel/AsynchronousSample"
                  xmlns:tns="http://enterprise.netbeans.org/bpel/AsynchronousSample"
                  xmlns:xs="http://enterprise.netbeans.org/bpel/AsynchronousSampleSchemaNamespace"
                  xmlns="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"                          
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
                  xmlns:bpws="http://docs.oasis-open.org/wsbpel/2.0/varprop">
    
    <types>
        <xsd:schema xmlns="http://enterprise.netbeans.org/bpel/AsynchronousSampleSchemaNamespace" 
                    targetNamespace="http://enterprise.netbeans.org/bpel/AsynchronousSample"  >
            <xsd:import namespace="http://enterprise.netbeans.org/bpel/AsynchronousSampleSchemaNamespace"
                        schemaLocation="AsynchronousSample.xsd"/>
        </xsd:schema>
    </types>
    
    <wsdl:message name="requestMessage">
        <wsdl:part name="inputType" element="xs:typeA"/>
    </wsdl:message>
    
    <wsdl:message name="responseMessage">
        <wsdl:part name="resultType" element="xs:typeA"/>
    </wsdl:message>
    
    <wsdl:portType name="MyPortType">
        <wsdl:operation name="asyncOperation">
            <wsdl:input  message="tns:requestMessage" />
        </wsdl:operation>             
    </wsdl:portType>
    
    <wsdl:portType name="MyCallbackPortType">
        <wsdl:operation name="onResult">
            <wsdl:input message="tns:responseMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <binding name="SoapBinding" type="tns:MyPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="asyncOperation">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>           
    </binding>
    
    <wsdl:service name="AsynchronousSample_asyncService">
        <wsdl:port name="AsynchronousSample_asyncPortName" binding="tns:SoapBinding">                    
            <soap:address location="http://localhost:18181/AsynchronousSample"/>
        </wsdl:port>
    </wsdl:service>
    
    <binding name="CallbackSoapBinding" type="tns:MyCallbackPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="onResult">
            <soap:operation/>
            <input>
                <soap:body use="literal"/>
            </input>
        </operation>           
    </binding>    
    
    <wsdl:service name="AsynchronousClient_asyncCallbackService">
        <wsdl:port name="AsynchronousClient_asyncCallbackPortName" binding="tns:CallbackSoapBinding">                    
            <soap:address location="http://localhost:18181/AsynchronousSampleCallback"/>
        </wsdl:port>
    </wsdl:service>     
    
    <plnk:partnerLinkType name="AsyncPartnerLinkType">
        <plnk:role name="serviceProvider"
                   portType="tns:MyPortType">
        </plnk:role>
        <plnk:role name="serviceRequestor"
                   portType="tns:MyCallbackPortType">
        </plnk:role>
    </plnk:partnerLinkType>
</wsdl:definitions>
