bpel.samples/resources/AsynchronousSample/AsynchronousSample/src/AsynchronousSample.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema
    xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://enterprise.netbeans.org/bpel/AsynchronousSampleSchemaNamespace"
    elementFormDefault="qualified">

    <element name="typeA">
        <complexType>
            <sequence>
                <element name="paramA" type="xsd:string"/>
                <element name="id" type="xsd:string"/>
            </sequence>
        </complexType>
    </element>
</xsd:schema>
