mobility.jsr172/test/qa-functional/data/projects/WebAppEchoWebService/EchoArraysDOCUMENTService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is unknown. -->
<definitions targetNamespace="http://ws/" name="EchoArrays_DOCUMENTService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
    <types>
        <xsd:schema>
            
            <xsd:element name="getBooleanArray" type="tns:getBooleanArray"/>
            
            <xsd:element name="getBooleanArrayResponse" type="tns:getBooleanArrayResponse"/>
            
            <xsd:element name="getByteArray" type="tns:getByteArray"/>
            
            <xsd:element name="getByteArrayResponse" type="tns:getByteArrayResponse"/>
            
            <xsd:element name="getByteWrapperArray" type="tns:getByteWrapperArray"/>
            
            <xsd:element name="getByteWrapperArrayResponse" type="tns:getByteWrapperArrayResponse"/>
            
            <xsd:element name="getDoubleArray" type="tns:getDoubleArray"/>
            
            <xsd:element name="getDoubleArrayResponse" type="tns:getDoubleArrayResponse"/>
            
            <xsd:element name="getFloatArray" type="tns:getFloatArray"/>
            
            <xsd:element name="getFloatArrayResponse" type="tns:getFloatArrayResponse"/>
            
            <xsd:element name="getIntArray" type="tns:getIntArray"/>
            
            <xsd:element name="getIntArrayResponse" type="tns:getIntArrayResponse"/>
            
            <xsd:element name="getLongArray" type="tns:getLongArray"/>
            
            <xsd:element name="getLongArrayResponse" type="tns:getLongArrayResponse"/>
            
            <xsd:element name="getShortArray" type="tns:getShortArray"/>
            
            <xsd:element name="getShortArrayResponse" type="tns:getShortArrayResponse"/>
            
            <xsd:element name="getStringArray" type="tns:getStringArray"/>
            
            <xsd:element name="getStringArrayResponse" type="tns:getStringArrayResponse"/>
            
            <xsd:complexType name="getByteWrapperArray">
                <xsd:sequence>
                    <xsd:element name="parameter" type="xsd:byte" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="getByteWrapperArrayResponse">
                <xsd:sequence>
                    <xsd:element name="return" type="xsd:byte" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="getFloatArray">
                <xsd:sequence>
                    <xsd:element name="parameter" type="xsd:float" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="getFloatArrayResponse">
                <xsd:sequence>
                    <xsd:element name="return" type="xsd:float" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="getLongArray">
                <xsd:sequence>
                    <xsd:element name="parameter" type="xsd:long" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="getLongArrayResponse">
                <xsd:sequence>
                    <xsd:element name="return" type="xsd:long" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="getIntArray">
                <xsd:sequence>
                    <xsd:element name="parameter" type="xsd:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="getIntArrayResponse">
                <xsd:sequence>
                    <xsd:element name="return" type="xsd:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="getByteArray">
                <xsd:sequence>
                    <xsd:element name="parameter" type="xsd:byte"/>
                </xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="getByteArrayResponse">
                <xsd:sequence>
                    <xsd:element name="return" type="xsd:byte"/>
                </xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="getBooleanArray">
                <xsd:sequence>
                    <xsd:element name="parameter" type="xsd:boolean" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="getBooleanArrayResponse">
                <xsd:sequence>
                    <xsd:element name="return" type="xsd:boolean" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="getShortArray">
                <xsd:sequence>
                    <xsd:element name="parameter" type="xsd:short" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="getShortArrayResponse">
                <xsd:sequence>
                    <xsd:element name="return" type="xsd:short" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="getDoubleArray">
                <xsd:sequence>
                    <xsd:element name="parameter" type="xsd:double" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="getDoubleArrayResponse">
                <xsd:sequence>
                    <xsd:element name="return" type="xsd:double" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="getStringArray">
                <xsd:sequence>
                    <xsd:element name="parameter" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
            
            <xsd:complexType name="getStringArrayResponse">
                <xsd:sequence>
                    <xsd:element name="return" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="getStringArray">
        <part name="parameters" element="tns:getStringArray"/>
    </message>
    <message name="getStringArrayResponse">
        <part name="parameters" element="tns:getStringArrayResponse"/>
    </message>
    <message name="getIntArray">
        <part name="parameters" element="tns:getIntArray"/>
    </message>
    <message name="getIntArrayResponse">
        <part name="parameters" element="tns:getIntArrayResponse"/>
    </message>
    <message name="getLongArray">
        <part name="parameters" element="tns:getLongArray"/>
    </message>
    <message name="getLongArrayResponse">
        <part name="parameters" element="tns:getLongArrayResponse"/>
    </message>
    <message name="getShortArray">
        <part name="parameters" element="tns:getShortArray"/>
    </message>
    <message name="getShortArrayResponse">
        <part name="parameters" element="tns:getShortArrayResponse"/>
    </message>
    <message name="getBooleanArray">
        <part name="parameters" element="tns:getBooleanArray"/>
    </message>
    <message name="getBooleanArrayResponse">
        <part name="parameters" element="tns:getBooleanArrayResponse"/>
    </message>
    <message name="getFloatArray">
        <part name="parameters" element="tns:getFloatArray"/>
    </message>
    <message name="getFloatArrayResponse">
        <part name="parameters" element="tns:getFloatArrayResponse"/>
    </message>
    <message name="getDoubleArray">
        <part name="parameters" element="tns:getDoubleArray"/>
    </message>
    <message name="getDoubleArrayResponse">
        <part name="parameters" element="tns:getDoubleArrayResponse"/>
    </message>
    <message name="getByteArray">
        <part name="parameters" element="tns:getByteArray"/>
    </message>
    <message name="getByteArrayResponse">
        <part name="parameters" element="tns:getByteArrayResponse"/>
    </message>
    <message name="getByteWrapperArray">
        <part name="parameters" element="tns:getByteWrapperArray"/>
    </message>
    <message name="getByteWrapperArrayResponse">
        <part name="parameters" element="tns:getByteWrapperArrayResponse"/>
    </message>
    <portType name="EchoArrays_DOCUMENT">
        <operation name="getStringArray">
            <input message="tns:getStringArray"/>
            <output message="tns:getStringArrayResponse"/>
        </operation>
        <operation name="getIntArray">
            <input message="tns:getIntArray"/>
            <output message="tns:getIntArrayResponse"/>
        </operation>
        <operation name="getLongArray">
            <input message="tns:getLongArray"/>
            <output message="tns:getLongArrayResponse"/>
        </operation>
        <operation name="getShortArray">
            <input message="tns:getShortArray"/>
            <output message="tns:getShortArrayResponse"/>
        </operation>
        <operation name="getBooleanArray">
            <input message="tns:getBooleanArray"/>
            <output message="tns:getBooleanArrayResponse"/>
        </operation>
        <operation name="getFloatArray">
            <input message="tns:getFloatArray"/>
            <output message="tns:getFloatArrayResponse"/>
        </operation>
        <operation name="getDoubleArray">
            <input message="tns:getDoubleArray"/>
            <output message="tns:getDoubleArrayResponse"/>
        </operation>
        <operation name="getByteArray">
            <input message="tns:getByteArray"/>
            <output message="tns:getByteArrayResponse"/>
        </operation>
        <operation name="getByteWrapperArray">
            <input message="tns:getByteWrapperArray"/>
            <output message="tns:getByteWrapperArrayResponse"/>
        </operation>
    </portType>
    <binding name="EchoArrays_DOCUMENTPortBinding" type="tns:EchoArrays_DOCUMENT">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="getStringArray">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getIntArray">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getLongArray">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getShortArray">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getBooleanArray">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getFloatArray">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getDoubleArray">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getByteArray">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getByteWrapperArray">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="EchoArrays_DOCUMENTService">
        <port name="EchoArrays_DOCUMENTPort" binding="tns:EchoArrays_DOCUMENTPortBinding">
            <soap:address location="HTTP://fake.url"/>
        </port>
    </service>
</definitions>

