xml.schema.model/src/org/netbeans/modules/xml/schema/model/primitiveTypesSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
The contents of this file are subject to the terms of the Common Development
and Distribution License (the License). You may not use this file except in
compliance with the License.

 You can obtain a copy of the License at http://www.netbeans.org/cddl.html
or http://www.netbeans.org/cddl.txt.

When distributing Covered Code, include this CDDL Header Notice in each file
and include the License file at http://www.netbeans.org/cddl.txt.
If applicable, add the following below the CDDL Header, with the fields
enclosed by brackets [] replaced by your own identifying information:
"Portions Copyrighted [year] [name of copyright owner]"

 The Original Software is NetBeans. The Initial Developer of the Original
Software is Sun Microsystems, Inc. Portions Copyright 1997-2006 Sun
 Microsystems, Inc. All Rights Reserved.
-->


<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="qualified">
    
    <xs:simpleType name="anyType" id="anyType"/>
    
    <xs:simpleType name="anyURI" id="anyURI">
        <xs:restriction base="xs:anySimpleType">
            <xs:whiteSpace value="collapse" fixed="true"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="base64Binary" id="base64Binary">
        <xs:restriction base="xs:anySimpleType">
            <xs:whiteSpace value="collapse" fixed="true"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="boolean" id="boolean">
        <xs:restriction base="xs:anySimpleType">
            <xs:whiteSpace value="collapse" fixed="true"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="byte" id="byte">
        <xs:restriction base="xs:short">
            <xs:minInclusive value="-128"/>
            <xs:maxInclusive value="127"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="date" id="date">
        <xs:restriction base="xs:anySimpleType">
            <xs:whiteSpace value="collapse" fixed="true"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="dateTime" id="dateTime">
        <xs:restriction base="xs:anySimpleType">
            <xs:whiteSpace value="collapse" fixed="true"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="decimal" id="decimal">
        <xs:restriction base="xs:anySimpleType">
            <xs:whiteSpace value="collapse" fixed="true"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="double" id="double">
        <xs:restriction base="xs:anySimpleType">
            <xs:whiteSpace value="collapse" fixed="true"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="duration" id="duration">
        <xs:restriction base="xs:anySimpleType">
            <xs:whiteSpace value="collapse" fixed="true"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ENTITIES" id="ENTITIES">
        <xs:restriction>
        <xs:simpleType>
        <xs:list>
            <xs:simpleType>
                <xs:restriction base="xs:ENTITY"/>
            </xs:simpleType>
        </xs:list>
            </xs:simpleType>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ENTITY" id="ENTITY">
        <xs:restriction base="xs:NCName"/>
    </xs:simpleType>

    <xs:simpleType name="float" id="float">
        <xs:restriction base="xs:anySimpleType">
            <xs:whiteSpace value="collapse" fixed="true"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="gDay" id="gDay">
        <xs:restriction base="xs:anySimpleType">
            <xs:whiteSpace value="collapse" fixed="true"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="gMonth" id="gMonth">
        <xs:restriction base="xs:anySimpleType">
            <xs:whiteSpace value="collapse" fixed="true"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="gMonthDay" id="gMonthDay">
        <xs:restriction base="xs:anySimpleType">
            <xs:whiteSpace value="collapse" fixed="true"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="gYear" id="gYear">
        <xs:restriction base="xs:anySimpleType">
            <xs:whiteSpace value="collapse" fixed="true"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="gYearMonth" id="gYearMonth">
        <xs:restriction base="xs:anySimpleType">
            <xs:whiteSpace value="collapse" fixed="true"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="hexBinary" id="hexBinary">
        <xs:restriction base="xs:anySimpleType">
            <xs:whiteSpace value="collapse" fixed="true"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="ID" id="ID">
        <xs:restriction base="xs:NCName"/>
    </xs:simpleType>

    <xs:simpleType name="IDREF" id="IDREF">
        <xs:restriction base="xs:NCName"/>
    </xs:simpleType>

    <xs:simpleType name="IDREFS" id="IDREFS">
        <xs:restriction>
        <xs:simpleType>
        <xs:list>
            <xs:simpleType>
                <xs:restriction base="xs:IDREF"/>
            </xs:simpleType>
        </xs:list>
            </xs:simpleType>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="int" id="int">
        <xs:restriction base="xs:long">
            <xs:minInclusive value="-2147483648"/>
            <xs:maxInclusive value="2147483647"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="integer" id="integer">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0" fixed="true"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="language" id="language">
        <xs:restriction base="xs:token">
            <xs:pattern
            value="([a-zA-Z]{2}|[iI]-[a-zA-Z]+|[xX]-[a-zA-Z]{1,8})(-[a-zA-Z]{1,8})*"
            />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="long" id="long">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="-9223372036854775808"/>
            <xs:maxInclusive value="9223372036854775807"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Name" id="Name">
        <xs:restriction base="xs:token">
            <xs:pattern value="\i\c*"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="NCName" id="NCName">
        <xs:restriction base="xs:Name">
            <xs:pattern value="[\i-[:]][\c-[:]]*"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="negativeInteger" id="negativeInteger">
        <xs:restriction base="xs:nonPositiveInteger">
            <xs:maxInclusive value="-1"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="NMTOKEN" id="NMTOKEN">
        <xs:restriction base="xs:token">
            <xs:pattern value="\c+"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="NMTOKENS" id="NMTOKENS">
        <xs:restriction>
        <xs:simpleType>
        <xs:list>
            <xs:simpleType>
                <xs:restriction base="xs:NMTOKEN"/>
            </xs:simpleType>
        </xs:list>
            </xs:simpleType>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="nonNegativeInteger" id="nonNegativeInteger">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="nonPositiveInteger" id="nonPositiveInteger">
        <xs:restriction base="xs:integer">
            <xs:maxInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="normalizedString" id="normalizedString">
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="replace"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="NOTATION" id="NOTATION">
        <xs:restriction base="xs:anySimpleType">
            <xs:whiteSpace value="collapse" fixed="true"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="positiveInteger" id="positiveInteger">
        <xs:restriction base="xs:nonNegativeInteger">
            <xs:minInclusive value="1"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="QName" id="QName">
        <xs:restriction base="xs:anySimpleType">
            <xs:whiteSpace value="collapse" fixed="true"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="short" id="short">
        <xs:restriction base="xs:int">
            <xs:minInclusive value="-32768"/>
            <xs:maxInclusive value="32767"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="string" id="string">
        <xs:restriction base="xs:anySimpleType">
            <xs:whiteSpace value="preserve"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="time" id="time">
        <xs:restriction base="xs:anySimpleType">
            <xs:whiteSpace value="collapse" fixed="true"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="token" id="token">
        <xs:restriction base="xs:normalizedString">
            <xs:whiteSpace value="collapse"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="unsignedByte" id="unsignedBtype">
        <xs:restriction base="xs:unsignedShort">
            <xs:maxInclusive value="255"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="unsignedInt" id="unsignedInt">
        <xs:restriction base="xs:unsignedLong">
            <xs:maxInclusive value="4294967295"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="unsignedLong" id="unsignedLong">
        <xs:restriction base="xs:nonNegativeInteger">
            <xs:maxInclusive value="18446744073709551615"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="unsignedShort" id="unsignedShort">
        <xs:restriction base="xs:unsignedInt">
            <xs:maxInclusive value="65535"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
