iep.editor/src/org/netbeans/modules/iep/model/validator/iep_def.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- 
 # BEGIN_HEADER - DO NOT EDIT
 # 
 # The contents of this file are subject to the terms
 # of the Common Development and Distribution License
 # (the "License").  You may not use this file except
 # in compliance with the License.
 #
 # You can obtain a copy of the license at
 # https://open-jbi-components.dev.java.net/public/CDDLv1.0.html.
 # See the License for the specific language governing
 # permissions and limitations under the License.
 #
 # When distributing Covered Code, include this CDDL
 # HEADER in each file and include the License file at
 # https://open-jbi-components.dev.java.net/public/CDDLv1.0.html.
 # If applicable add the following below this CDDL HEADER,
 # with the fields enclosed by brackets "[]" replaced with
 # your own identifying information: Portions Copyright
 # [year] [name of copyright owner]
-->
<!-- 
 # @(#)wfse_def.xsd 
 #
 # Copyright 2004-2007 Sun Microsystems, Inc. All Rights Reserved.
 # 
 # END_HEADER - DO NOT EDIT
-->
<!--W3C Schema generated by XMLSpy v2006 sp1 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://jbi.com.sun/iep" targetNamespace="http://jbi.com.sun/iep" elementFormDefault="qualified">
    <xs:complexType name="componentType">
        <xs:sequence>
            <xs:element ref="tns:documentation" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="tns:property" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element ref="tns:component" minOccurs="0" maxOccurs="unbounded"/>
            
        </xs:sequence>
        <xs:attribute name="name" type="xs:string"/>
        <xs:attribute name="title" type="xs:string"/>
        <xs:attribute name="type" type="xs:string"/>
        <xs:attribute name="packageName" type="xs:string" use="optional"/>
    </xs:complexType>
    <xs:element name="component" type="tns:componentType"></xs:element>
    <xs:element name="property" type="tns:propertyType"></xs:element>
    <xs:complexType name="propertyType">
        <xs:attribute name="name" type="xs:string"/>
        <xs:attribute name="value" type="xs:string"/>
    </xs:complexType>
    <xs:simpleType name="documentationType">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:element name="documentation" type="tns:documentationType"></xs:element>
</xs:schema>
