wsdlextensions.jdbc/src/org/netbeans/modules/wsdlextensions/jdbc/builder/wsdl/jdbc.xsd.template

<?xml version="1.0" encoding="UTF-8"?>
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://j2ee.netbeans.org/xsd/tableSchema" xmlns="http://j2ee.netbeans.org/xsd/tableSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="CUSTOMER" type="CUSTOMER"></xsd:element>
    <xsd:complexType name="CUSTOMER">
      <xsd:sequence maxOccurs="unbounded">
        <xsd:element name="STATE" type="xsd:string"></xsd:element>
        <xsd:element name="ADDRESSLINE2" type="xsd:string"></xsd:element>
        <xsd:element name="ADDRESSLINE1" type="xsd:string"></xsd:element>
        <xsd:element name="CUSTOMER_ID" type="xsd:int"></xsd:element>
        <xsd:element name="CITY" type="xsd:string"></xsd:element>
        <xsd:element name="FAX" type="xsd:string"></xsd:element>
        <xsd:element name="NAME" type="xsd:string"></xsd:element>
        <xsd:element name="ZIP" type="xsd:string"></xsd:element>
        <xsd:element name="DISCOUNT_CODE" type="xsd:string"></xsd:element>
        <xsd:element name="CREDIT_LIMIT" type="xsd:int"></xsd:element>
        <xsd:element name="EMAIL" type="xsd:string"></xsd:element>
        <xsd:element name="PHONE" type="xsd:string"></xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:schema>