xml.wsdlextui/src/org/netbeans/modules/xml/wsdlextui/resources/soap/soap.xsd

<?xml version="1.0" encoding="UTF-8" ?> 

<!--
The contents of this file are subject to the terms of the Common Development
and Distribution License (the License). You may not use this file except in
compliance with the License.

 You can obtain a copy of the License at http://www.netbeans.org/cddl.html
or http://www.netbeans.org/cddl.txt.

When distributing Covered Code, include this CDDL Header Notice in each file
and include the License file at http://www.netbeans.org/cddl.txt.
If applicable, add the following below the CDDL Header, with the fields
enclosed by brackets [] replaced by your own identifying information:
"Portions Copyrighted [year] [name of copyright owner]"

 The Original Software is NetBeans. The Initial Developer of the Original
Software is Sun Microsystems, Inc. Portions Copyright 1997-2006 Sun
 Microsystems, Inc. All Rights Reserved.
-->

<!-- 
 
Copyright 2001-2003 International Business Machines Corporation, Microsoft Corporation. All rights reserved.

The presentation, distribution or other dissemination of the
information contained herein by Microsoft is not a license,
either expressly or impliedly, to any intellectual property owned or
controlled by Microsoft.

This document and the information contained herein is provided on an
"AS IS" basis and to the maximum extent permitted by applicable law,
Microsoft provides the document AS IS AND WITH ALL FAULTS, and hereby
disclaims all other warranties and conditions, either express, implied
or statutory, including, but not limited to, any (if any) implied
warranties, duties or conditions of merchantability, of fitness for a
particular purpose, of accuracy or completeness of responses, of
results, of workmanlike effort, of lack of viruses, and of lack of
negligence, all with regard to the document. ALSO, THERE IS NO
WARRANTY OR CONDITION OF TITLE, QUIET ENJOYMENT, QUIET POSSESSION,
CORRESPONDENCE TO DESCRIPTION OR NON-INFRINGEMENT WITH REGARD TO THE
DOCUMENT.

IN NO EVENT WILL MICROSOFT BE LIABLE TO ANY OTHER PARTY FOR THE COST
OF PROCURING SUBSTITUTE GOODS OR SERVICES, LOST PROFITS, LOSS OF USE,
LOSS OF DATA, OR ANY INCIDENTAL, CONSEQUENTIAL, DIRECT, INDIRECT, OR
SPECIAL DAMAGES WHETHER UNDER CONTRACT, TORT, WARRANTY, OR OTHERWISE,
ARISING IN ANY WAY OUT OF THIS OR ANY OTHER AGREEMENT RELATING TO THIS
DOCUMENT, WHETHER OR NOT SUCH PARTY HAD ADVANCE NOTICE OF THE
POSSIBILITY OF SUCH DAMAGES.  

--> 
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
           xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
           targetNamespace="http://schemas.xmlsoap.org/wsdl/soap/" >

  <xs:import namespace = "http://schemas.xmlsoap.org/wsdl/" schemaLocation="wsdl.xsd" />

  <xs:simpleType name="encodingStyle" >
    <xs:annotation>
      <xs:documentation>
      "encodingStyle" indicates any canonicalization conventions followed in the contents of the containing element.  For example, the value "http://schemas.xmlsoap.org/soap/encoding/" indicates the pattern described in SOAP specification
      </xs:documentation>
    </xs:annotation>
    <xs:list itemType="xs:anyURI" />
  </xs:simpleType>

  <xs:element name="binding" type="soap:tBinding" >
  <xs:annotation>
      <xs:documentation>
      	"binding" indicates a soap protocol binding.
      </xs:documentation>
    </xs:annotation>
    </xs:element>
    
  <xs:complexType name="tBinding" >
    <xs:complexContent>
      <xs:extension base="wsdl:tExtensibilityElement" >
        <xs:attribute name="transport" type="xs:anyURI" use="required" />
        <xs:attribute name="style" type="soap:tStyleChoice" use="optional" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="tStyleChoice" >
    <xs:restriction base="xs:string" >
      <xs:enumeration value="rpc" />
      <xs:enumeration value="document" />
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="operation" type="soap:tOperation" >
	  <xs:annotation>
	      <xs:documentation>
	      	"operation" indicates a soap protocol operation.
	      </xs:documentation>
	    </xs:annotation>
    </xs:element>
  <xs:complexType name="tOperation" >
    <xs:complexContent>
      <xs:extension base="wsdl:tExtensibilityElement" >
        <xs:attribute name="soapAction" type="xs:anyURI" use="optional" />
        <xs:attribute name="style" type="soap:tStyleChoice" use="optional" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="body" type="soap:tBody" >
      <xs:annotation>
          <xs:documentation>
              "body" indicates a  soap protocol body.
          </xs:documentation>
          <xs:appinfo>
              <prop:ElementProperties  xmlns:prop="http://xml.netbeans.org/schema/wsdlui/property">
                  <prop:Property attributeName="parts" propertyOrder="1">
                      <prop:BuiltInCustomizer>
                          <prop:SimpleCustomizer name="PartsChooser"/>
                      </prop:BuiltInCustomizer>
                  </prop:Property>
              </prop:ElementProperties>
          </xs:appinfo>
      </xs:annotation>
   </xs:element>
   
  <xs:attributeGroup name="tBodyAttributes" >
    <xs:attribute name="encodingStyle" type="soap:encodingStyle" use="optional" />	   
    <xs:attribute name="use" type="soap:useChoice" use="optional" />
    <xs:attribute name="namespace" type="xs:anyURI" use="optional" />
  </xs:attributeGroup>
  <xs:complexType name="tBody" >
    <xs:complexContent>
      <xs:extension base="wsdl:tExtensibilityElement" >
        <xs:attribute name="parts" type="xs:NMTOKENS" use="optional" />
        <xs:attributeGroup ref = "soap:tBodyAttributes" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
  <xs:simpleType name="useChoice" >
    <xs:restriction base="xs:string" >
      <xs:enumeration value="literal" />
      <xs:enumeration value="encoded" />
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="fault" type="soap:tFault" >
    <xs:annotation>
	      <xs:documentation>
	      	"fault" indicates a soap protocol fault.
	      </xs:documentation>
	    </xs:annotation>
    </xs:element>
    
  <xs:complexType name="tFaultRes" abstract="true" >
    <xs:complexContent>
      <xs:restriction base="soap:tBody" >
	    <xs:attribute ref="wsdl:required" use="optional" /> 
        <xs:attribute name="parts" type="xs:NMTOKENS" use="prohibited" />
		<xs:attributeGroup ref="soap:tBodyAttributes" />
      </xs:restriction>
    </xs:complexContent>  	
  </xs:complexType>
  <xs:complexType name="tFault" >
    <xs:complexContent>
      <xs:extension base="soap:tFaultRes">
        <xs:attribute name="name" type="xs:NCName" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <xs:element name="header" type="soap:tHeader" >
  	  <xs:annotation>
	      <xs:documentation>
	      	"header" indicates a soap protocol header.
        </xs:documentation>
        <xs:appinfo>
            <prop:ElementProperties  xmlns:prop="http://xml.netbeans.org/schema/wsdlui/property">
                <prop:Property attributeName="message" propertyOrder="1">
                    <prop:BuiltInCustomizer>
                        <prop:SimpleCustomizer name="MessageChooser"/>
                    </prop:BuiltInCustomizer>
                </prop:Property>
                <prop:Property attributeName="part" propertyOrder="2">
                    <prop:BuiltInCustomizer>
                        <prop:DependsOnCustomizer name="PartChooser">
                            <prop:StaticCustomizer dependsOnAttributeName="soap:message"/>
                        </prop:DependsOnCustomizer>
                    </prop:BuiltInCustomizer> 
                </prop:Property>
            </prop:ElementProperties>
        </xs:appinfo>
    </xs:annotation>
</xs:element>
  
  <xs:attributeGroup name="tHeaderAttributes" >
    <xs:attribute name="message" type="xs:QName" use="required" />
    <xs:attribute name="part" type="xs:NMTOKEN" use="required" />
    <xs:attribute name="use" type="soap:useChoice" use="required" />
    <xs:attribute name="encodingStyle" type="soap:encodingStyle" use="optional" />
    <xs:attribute name="namespace" type="xs:anyURI" use="optional" />      
  </xs:attributeGroup>
  <xs:complexType name="tHeader" >
    <xs:complexContent>
      <xs:extension base="wsdl:tExtensibilityElement" >
        <xs:sequence>
          <xs:element ref="soap:headerfault" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
		<xs:attributeGroup ref="soap:tHeaderAttributes" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="headerfault" type="soap:tHeaderFault" >
   <xs:annotation>
	      <xs:documentation>
	      	"headerfault" indicates a soap protocol headerfault.
	      </xs:documentation>
          <xs:appinfo>
            <prop:ElementProperties  xmlns:prop="http://xml.netbeans.org/schema/wsdlui/property">
                <prop:Property attributeName="message" propertyOrder="1">
                    <prop:BuiltInCustomizer>
                        <prop:SimpleCustomizer name="MessageChooser"/>
                    </prop:BuiltInCustomizer>
                </prop:Property>
                <prop:Property attributeName="part" propertyOrder="2">
                    <prop:BuiltInCustomizer>
                        <prop:DependsOnCustomizer name="PartChooser">
                            <prop:StaticCustomizer dependsOnAttributeName="soap:message"/>
                        </prop:DependsOnCustomizer>
                    </prop:BuiltInCustomizer> 
                </prop:Property>
            </prop:ElementProperties>
        </xs:appinfo>
	    </xs:annotation>
   </xs:element>
    
  <xs:complexType name="tHeaderFault" >
	<xs:attributeGroup ref="soap:tHeaderAttributes" />
  </xs:complexType>

  <xs:element name="address" type="soap:tAddress" >
   <xs:annotation>
	      <xs:documentation>
	      	"address" indicates a address of a soap protocol based service.
	      </xs:documentation>
	    </xs:annotation>
   </xs:element>
   
  <xs:complexType name="tAddress" >
    <xs:complexContent>
      <xs:extension base="wsdl:tExtensibilityElement" >
        <xs:attribute name="location" type="xs:anyURI" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

</xs:schema>