wsdlextensions.file/src/org/netbeans/modules/wsdlextensions/file/resources/file-ext.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS HEADER.

Copyright 1997-2007 Sun Microsystems, Inc. All rights reserved.


The contents of this file are subject to the terms of either the GNU
General Public License Version 2 only ("GPL") or the Common
Development and Distribution License("CDDL") (collectively, the
"License"). You may not use this file except in compliance with the
License. You can obtain a copy of the License at
http://www.netbeans.org/cddl-gplv2.html
or nbbuild/licenses/CDDL-GPL-2-CP. See the License for the
specific language governing permissions and limitations under the
License.  When distributing the software, include this License Header
Notice in each file and include the License file at
nbbuild/licenses/CDDL-GPL-2-CP.  Sun designates this
particular file as subject to the "Classpath" exception as provided
by Sun in the GPL Version 2 section of the License file that
accompanied this code. If applicable, add the following below the
License Header, with the fields enclosed by brackets [] replaced by
your own identifying information:
"Portions Copyrighted [year] [name of copyright owner]"

Contributor(s):

 The Original Software is NetBeans. The Initial Developer of the Original
 Software is Sun Microsystems, Inc. Portions Copyright 1997-2007 Sun
 Microsystems, Inc. All Rights Reserved.

If you wish your version of this file to be governed by only the CDDL
or only the GPL Version 2, indicate your decision by adding
"[Contributor] elects to include this software in this distribution
under the [CDDL or GPL Version 2] license." If you do not indicate a
single choice of license, a recipient has the option to distribute
your version of this file under either the CDDL, the GPL Version 2 or
to extend the choice of license to its licensees as provided above.
However, if you add GPL Version 2 code and therefore, elected the GPL
Version 2 license, then the option applies only if the new code is
made subject to such option by the copyright holder.
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
           xmlns:file="http://schemas.sun.com/jbi/wsdl-extensions/file/" 
           targetNamespace="http://schemas.sun.com/jbi/wsdl-extensions/file/">
	<xs:import namespace="http://schemas.xmlsoap.org/wsdl/" schemaLocation="wsdl.xsd"/>
	<xs:element name="binding" type="file:tBinding">
		<xs:annotation>
			<xs:documentation>DESC_Element_binding</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="tBinding">
		<xs:complexContent>
			<xs:extension base="wsdl:tExtensibilityElement"/>
			<!-- could add more attributes to the binding -->
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="operation" type="file:tOperation"/>
	<xs:complexType name="tOperation">
		<xs:annotation>
			<xs:documentation>DESC_ComplexType_tOperation</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="wsdl:tExtensibilityElement">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="message" type="file:tFileMessage">
		<xs:annotation>
			<xs:documentation>DESC_Element_message</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="tFileMessage">
		<xs:complexContent>
			<xs:extension base="wsdl:tExtensibilityElement">
				<xs:attribute name="use" type="file:useTypes" use="required"/>
				<xs:attribute name="encodingStyle" type="xs:anyURI" use="optional"/>
				<xs:attribute name="fileType" type="file:fileType" use="optional">
					<xs:annotation>
						<xs:documentation>DESC_Attribute_fileType</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="fileName" type="xs:string" use="required">
  				    <xs:annotation>
  			                <xs:documentation>DESC_Attribute_fileName</xs:documentation>
  				    </xs:annotation>
				</xs:attribute>
				<xs:attribute name="fileNameIsPattern" type="xs:boolean" use="optional" default="false">
				    <xs:annotation>
					<xs:documentation>DESC_Attribute_fileNameIsPattern</xs:documentation>
				    </xs:annotation>
				</xs:attribute>
				<xs:attribute name="pollingInterval" type="xs:long" use="optional">
				    <xs:annotation>
					<xs:documentation>DESC_Attribute_pollingInterval</xs:documentation>
				    </xs:annotation>
				</xs:attribute>
				<xs:attribute name="part" type="xs:string" use="optional">
				    <xs:annotation>
				        <xs:documentation>DESC_Attribute_part</xs:documentation>
				    </xs:annotation>
				</xs:attribute>
				<xs:attribute name="removeEOL" type="xs:boolean" use="optional" default="false">
				    <xs:annotation>
					<xs:documentation>DESC_Attribute_removeEOL</xs:documentation>
				    </xs:annotation>
				</xs:attribute>
				<xs:attribute name="addEOL" type="xs:boolean" use="optional" default="false">
				    <xs:annotation>
					<xs:documentation>DESC_Attribute_addEOL</xs:documentation>
				    </xs:annotation>
				</xs:attribute>
				<xs:attribute name="multipleRecordsPerFile" type="xs:boolean" use="optional" default="false">
				    <xs:annotation>
					<xs:documentation>DESC_Attribute_multipleRecordsPerFile</xs:documentation>
				    </xs:annotation>
				</xs:attribute>
				<xs:attribute name="maxBytesPerRecord" type="xs:long" use="optional">
				    <xs:annotation>
					<xs:documentation>DESC_Attribute_maxBytesPerRecord</xs:documentation>
				    </xs:annotation>
				</xs:attribute>
				<xs:attribute name="recordDelimiter" type="xs:string" use="optional">
				    <xs:annotation>
					<xs:documentation>DESC_Attribute_recordDelimiter</xs:documentation>
				    </xs:annotation>
				</xs:attribute>
                                <xs:attribute name="archive" type="xs:boolean" use="optional">
                                    <xs:annotation>
                                        <xs:documentation>DESC_Attribute_archive</xs:documentation>
                                    </xs:annotation>
                                </xs:attribute>
				<xs:attribute name="archiveDirectory" type="xs:string" use="optional">
				    <xs:annotation>
					<xs:documentation>DESC_Attribute_archiveDirectory</xs:documentation>
				    </xs:annotation>
				</xs:attribute>
                                <xs:attribute name="archiveDirIsRelative" type="xs:boolean" use="optional">
                                    <xs:annotation>
                                        <xs:documentation>DESC_Attribute_archiveDirIsRelative</xs:documentation>
                                    </xs:annotation>
                                </xs:attribute>
                                <xs:attribute name="protect" type="xs:boolean" use="optional">
                                    <xs:annotation>
                                        <xs:documentation>DESC_Attribute_protect</xs:documentation>
                                    </xs:annotation>
                                </xs:attribute>
				<xs:attribute name="protectDirectory" type="xs:string" use="optional">
				    <xs:annotation>
					<xs:documentation>DESC_Attribute_protectDirectory</xs:documentation>
				    </xs:annotation>
				</xs:attribute>
                                <xs:attribute name="protectDirIsRelative" type="xs:boolean" use="optional">
                                    <xs:annotation>
                                        <xs:documentation>DESC_Attribute_protectDirIsRelative</xs:documentation>
                                    </xs:annotation>
                                </xs:attribute>
                                <xs:attribute name="stage" type="xs:boolean" use="optional">
                                    <xs:annotation>
                                        <xs:documentation>DESC_Attribute_stage</xs:documentation>
                                    </xs:annotation>
                                </xs:attribute>
				<xs:attribute name="stageDirectory" type="xs:string" use="optional">
				    <xs:annotation>
					<xs:documentation>DESC_Attribute_stageDirectory</xs:documentation>
				    </xs:annotation>
				</xs:attribute>
                                <xs:attribute name="stageDirIsRelative" type="xs:boolean" use="optional">
                                    <xs:annotation>
                                        <xs:documentation>DESC_Attribute_stageDirIsRelative</xs:documentation>
                                    </xs:annotation>
                                </xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="fileType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="text">
				<xs:annotation>
					<xs:documentation>Signifies a character based file type</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="binary">
				<xs:annotation>
					<xs:documentation>Signifies a binary data based file type</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="useTypes">
		<xs:restriction base="xs:string">
			<xs:enumeration value="literal"/>
			<xs:enumeration value="encoded"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="address" type="file:tAddress">
		<xs:annotation>
			<xs:documentation>DESC_Element_address</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="tAddress">
		<xs:complexContent>
			<xs:extension base="wsdl:tExtensibilityElement">
				<xs:attribute name="fileDirectory" type="xs:string" use="required">
					<xs:annotation>
						<xs:documentation>DESC_Attribute_fileDirectory</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="relativePath" type="xs:boolean" use="optional" default="false">
					<xs:annotation>
						<xs:documentation>DESC_Attribute_relativePath</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="pathRelativeTo" type="file:systemProperties" use="optional">
					<xs:annotation>
						<xs:documentation>DESC_Attribute_pathRelativeTo</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="lockName" type="xs:string" use="optional" default="filebc.lck">
					<xs:annotation>
						<xs:documentation>DESC_Attribute_lockName</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="workArea" type="xs:string" use="optional" default="filebc_tmp">
					<xs:annotation>
						<xs:documentation>DESC_Attribute_workArea</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="seqName" type="xs:string" use="optional" default="filebc.seq">
					<xs:annotation>
						<xs:documentation>DESC_Attribute_seqName</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="systemProperties">
		<xs:restriction base="xs:string">
			<xs:enumeration value="User Home"/>
			<xs:enumeration value="Current Working Dir"/>
			<xs:enumeration value="Default System Temp Dir"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
