websvc.saas.services.delicious/src/org/netbeans/modules/websvc/saas/services/delicious/resources/DeliciousWadl.xml

<?xml version="1.0" encoding="utf-8"?>

<!--
 DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS HEADER.

 Copyright 1997-2010 Oracle and/or its affiliates. All rights reserved.

 Oracle and Java are registered trademarks of Oracle and/or its affiliates.
 Other names may be trademarks of their respective owners.

 The contents of this file are subject to the terms of either the GNU
 General Public License Version 2 only ("GPL") or the Common
 Development and Distribution License("CDDL") (collectively, the
 "License"). You may not use this file except in compliance with the
 License. You can obtain a copy of the License at
 http://www.netbeans.org/cddl-gplv2.html
 or nbbuild/licenses/CDDL-GPL-2-CP. See the License for the
 specific language governing permissions and limitations under the
 License.  When distributing the software, include this License Header
 Notice in each file and include the License file at
 nbbuild/licenses/CDDL-GPL-2-CP.  Oracle designates this
 particular file as subject to the "Classpath" exception as provided
 by Oracle in the GPL Version 2 section of the License file that
 accompanied this code. If applicable, add the following below the
 License Header, with the fields enclosed by brackets [] replaced by
 your own identifying information:
 "Portions Copyrighted [year] [name of copyright owner]"
 
 Contributor(s):
 
 The Original Software is NetBeans. The Initial Developer of the Original
 Software is Sun Microsystems, Inc. Portions Copyright 1997-2007 Sun
 Microsystems, Inc. All Rights Reserved.
 
 If you wish your version of this file to be governed by only the CDDL
 or only the GPL Version 2, indicate your decision by adding
 "[Contributor] elects to include this software in this distribution
 under the [CDDL or GPL Version 2] license." If you do not indicate a
 single choice of license, a recipient has the option to distribute
 your version of this file under either the CDDL, the GPL Version 2 or
 to extend the choice of license to its licensees as provided above.
 However, if you add GPL Version 2 code and therefore, elected the GPL
 Version 2 license, then the option applies only if the new code is
 made subject to such option by the copyright holder.
-->

<!--

Open issues:
    * HTTP basic auth
    * datetime serialization in dt parameter (delicious expects 2005-11-28T05:26:09Z, which is full canonical xsd:dateTime)
    * serialization of xsd:boolean (delicious expects yes / no)
    * missing "bundles" description
    
    * RSS/JSON feeds covering other features, not covered by these authenticated methods
    

-->
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	     xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
             xmlns:del="urn:delicious:deliciousresponse"
	     xsi:schemaLocation="http://research.sun.com/wadl/2006/10 
                    https://wadl.dev.java.net/wadl20061109.xsd"
	     xmlns="http://research.sun.com/wadl/2006/10">
    <grammars>
        <include href="DeliciousResponse.xsd"/>
    </grammars>
    <resources base="http://api.del.icio.us/v1">
        <resource path="posts">
            <resource path="get">
                <method name="GET" id="getPosts">
                    <doc>
Returns posts matching the arguments. If no date or url is given, the most recent date will be used.
More at: http://del.icio.us/help/api/posts
                    </doc>
                    <request>
                        <param name="tag" type="xsd:string" style="query" required="false">
                            <doc>Optional. Filter by this tag.
                            </doc>
                        </param>
                        <param name="dt" type="xsd:string" style="query" required="false">
                            <doc>Optional. Filter by this date. Format: CCYY-MM-DDThh:mm:ssZ
                            </doc>
                        </param>
                        <param name="url" type="xsd:string" style="query" required="true">
                            <doc>Filter by this URL.
                            </doc>
                        </param>
                        <param name="hashes" type="xsd:string" style="query" required="false"/>
                        <param name="meta" type="xsd:string" style="query" required="false"/>
                    </request>
                    <response>
                        <representation mediaType="text/xml" element="del:posts"/>
                    </response>
                </method>
            </resource>
            <resource path="recent">
                <method name="GET" id="recentPosts">
                    <doc>
Returns a list of the most recent posts, filtered by argument. Maximum 100.
More at: http://del.icio.us/help/api/posts
                    </doc>
                    <request>
                        <param name="tag" type="xsd:string" style="query" required="false">
                            <doc>Optional. Filter by this tag.
                            </doc>
                        </param>
                        <param name="count" type="xsd:integer" style="query" required="false">
                            <doc>Optional. Number of items to retrieve (Default:15, Maximum:100).</doc>
                        </param>
                    </request>
                    <response>
                        <representation mediaType="text/xml" element="del:posts"/>
                    </response>
                </method>
            </resource>
            <resource path="all">
                <method name="GET" id="allPosts">
                    <doc>
Returns all posts. Please use sparingly. Call the update method to see 
if you need to fetch this information at all.
More at: http://del.icio.us/help/api/posts
                    </doc>
                    <request>
                        <param name="tag" type="xsd:string" style="query" required="false"/>
                        <param name="start" type="xsd:string" style="query" required="false"/>
                        <param name="results" type="xsd:string" style="query" required="false"/>
                        <param name="fromdt" type="xsd:string" style="query" required="false"/>
                        <param name="todt" type="xsd:string" style="query" required="false"/>
                        <param name="meta" type="xsd:string" style="query" required="false"/>
                    </request>
                    <response>
                        <representation mediaType="text/xml" element="del:posts"/>
                    </response>
                </method>
                <method name="GET" id="allPostsHashes">
                    <request>
                        <param fixed="" name="hashes" type="xsd:string" style="query" required="true"/>
                    </request>
                    <response>
                        <representation mediaType="text/xml" element="del:posts"/>
                    </response>
                </method>
            </resource>
            <resource path="dates">
                <method name="GET" id="postsDates">
                    <doc>
Returns a list of dates with the number of posts for each date. 
More at: http://del.icio.us/help/api/posts
                    </doc>
                    <request>
                        <param name="tag" type="xsd:string" style="query" required="false">
                            <doc>Optional. Filter by this tag.
                            </doc>
                        </param>
                    </request>
                    <response>
                        <representation mediaType="text/xml" element="del:dates"/>
                    </response>
                </method>
            </resource>
            <resource path="add">
                <method name="GET" id="addPosts">
                    <doc>
                    Add a post to your user area at del.icio.us.
                    More at: http://del.icio.us/help/api/posts
                    </doc>
                    <request>
                        <param name="url" type="xsd:anyURI" style="query" required="true">
                            <doc>Url of the item</doc>
                        </param>
                        <param name="description" type="xsd:string" style="query" required="true">
                            <doc>Description of the item</doc>
                        </param>
                        <param name="extended" type="xsd:string" style="query" required="false">
                            <doc>Optional. Notes for the item</doc>
                        </param>
                        <param name="tags" type="xsd:string" style="query" required="false">
                            <doc>Optional. Space delimited tags for the item.</doc>
                        </param>
                        <param name="dt" type="xsd:dateTime" style="query" required="false">
                            <doc>Optional. Date stamp of the item. Format: CCYY-MM-DDThh:mm:ssZ. 
                                 Requires a litera "T" and "Z" - for example: "2007-11-15T14:21:31Z"
                            </doc>
                        </param>
                        <param name="replace" type="xsd:boolean" style="query" required="false">
                            <doc>Optional. Default is to not replace post if given url has already been posted.</doc>
                        </param>
                        <param name="shared" type="xsd:boolean" style="query" required="false">
                            <doc>Optional. Deafult is to make the item private.</doc>
                        </param>
                    </request>
                    <response>
                        <representation mediaType="text/xml" element="del:result"/>
                    </response>
                </method>
            </resource>
            <resource path="update">
                <method name="GET" id="updatePosts">
                    <doc>			
Returns the last update time for the user. Use this method 
to see if the data has changed since the last fetch
before calling del.icio.us/posts/all.
More at: http://del.icio.us/help/api/update.
                    </doc>
                    <request/>
                    <response>
                        <representation mediaType="text/xml" element="del:update"/>
                    </response>
                </method>
            </resource>
            <resource path="delete">
                <method name="GET" id="deletePosts">
                    <doc>			
Delete a post from del.icio.us.
More at: http://del.icio.us/help/api/posts.
                    </doc>
                    <request>
                        <param name="url" type="xsd:string" style="query" required="true">
                            <doc>The url of the item.
                            </doc>
                        </param>
                    </request>
                    <response>
                        <representation mediaType="text/xml" element="del:result"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource path="tags">
            <resource path="get">
                <method name="GET" id="getTags">
                    <doc>
Returns a list of tags and number of times used by a user. See 
https://api.del.icio.us/help/api/tags.
                    </doc>
                    <request/>
                    <response>
                        <representation mediaType="text/xml" element="del:tags"/>
                    </response>
                </method>
            </resource>
            <resource path="delete">
                <method name="GET" id="deleteTag">
                    <doc>
Returns a list of tags and number of times used by a user. See 
https://api.del.icio.us/help/api/tags.
                    </doc>
                    <request>
                        <param name="tag" type="xsd:string" style="query" required="true"/>
                    </request>
                    <response>
                        <representation mediaType="text/xml" element="del:result"/>
                    </response>
                </method>
            </resource>
            <resource path="rename">
                <method name="GET" id="renameTags">
                    <doc>
Renames an existing tag with a new tag name. See 
https://api.del.icio.us/help/api/tags.
                    </doc>
                    <request>
                        <param name="old" type="xsd:string" style="query" required="true">
                            <doc>Existing tag name.</doc>
                        </param>
                        <param name="new" type="xsd:string" style="query" required="true">
                            <doc>New tag name.</doc>
                        </param>
                    </request>
                    <response>
                        <representation mediaType="text/xml" element="del:result"/>
                    </response>
                </method>
            </resource>
            <resource path="bundles">
                <resource path="all">
                    <method name="GET" id="allBundles">
                        <doc>
Retrieve all of a user's bundles. See 
https://api.del.icio.us/help/api/bundles.
                        </doc>
                        <request>
                            <param name="bundle" type="xsd:string" style="query" required="false"/>
                        </request>
                        <response>
                            <representation mediaType="text/xml" element="del:bundles"/>
                        </response>
                    </method>
                </resource>
                <resource path="set">
                    <method name="GET" id="setBundles">
                        <doc>
Assign a set of tags to a single bundle, wipes away previous settings for bundle. See 
https://api.del.icio.us/help/api/bundles.
                        </doc>
                        <request>
                            <param name="bundle" type="xsd:string" style="query" required="true">
                                <doc>The bundle name.</doc>
                            </param>
                            <param name="tags" type="xsd:string" style="query" required="true">
                                <doc>List of tags (space separated).</doc>
                            </param>
                        </request>
                        <response>
                            <representation mediaType="text/xml" element="del:result"/>
                        </response>
                    </method>
                </resource>
                <resource path="delete">
                    <method name="GET" id="bundles_delete">
                        <doc>
Delete a bundle. See https://api.del.icio.us/help/api/bundles.
                        </doc>
                        <request>
                            <param name="bundle" type="xsd:string" style="query" required="true">
                                <doc>The bundle name.</doc>
                            </param>
                        </request>
                        <response>
                            <representation mediaType="text/xml" element="del:result"/>
                        </response>
                    </method>
                </resource>
            </resource>
        </resource>
    </resources>
</application>
