websvc.saas.services.google/src/org/netbeans/modules/websvc/saas/services/google/resources/GoogleAccountsWadl.xml

<?xml version="1.0" encoding="utf-8"?>

<!--
 DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS HEADER.
 
 Copyright 1997-2007 Sun Microsystems, Inc. All rights reserved.
 
 The contents of this file are subject to the terms of either the GNU
 General Public License Version 2 only ("GPL") or the Common
 Development and Distribution License("CDDL") (collectively, the
 "License"). You may not use this file except in compliance with the
 License. You can obtain a copy of the License at
 http://www.netbeans.org/cddl-gplv2.html
 or nbbuild/licenses/CDDL-GPL-2-CP. See the License for the
 specific language governing permissions and limitations under the
 License.  When distributing the software, include this License Header
 Notice in each file and include the License file at
 nbbuild/licenses/CDDL-GPL-2-CP.  Sun designates this
 particular file as subject to the "Classpath" exception as provided
 by Sun in the GPL Version 2 section of the License file that
 accompanied this code. If applicable, add the following below the
 License Header, with the fields enclosed by brackets [] replaced by
 your own identifying information:
 "Portions Copyrighted [year] [name of copyright owner]"
 
 Contributor(s):
 
 The Original Software is NetBeans. The Initial Developer of the Original
 Software is Sun Microsystems, Inc. Portions Copyright 1997-2007 Sun
 Microsystems, Inc. All Rights Reserved.
 
 If you wish your version of this file to be governed by only the CDDL
 or only the GPL Version 2, indicate your decision by adding
 "[Contributor] elects to include this software in this distribution
 under the [CDDL or GPL Version 2] license." If you do not indicate a
 single choice of license, a recipient has the option to distribute
 your version of this file under either the CDDL, the GPL Version 2 or
 to extend the choice of license to its licensees as provided above.
 However, if you add GPL Version 2 code and therefore, elected the GPL
 Version 2 license, then the option applies only if the new code is
 made subject to such option by the copyright holder.
-->

<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xsi:schemaLocation="http://research.sun.com/wadl/2006/10 
                    https://wadl.dev.java.net/wadl20061109.xsd"
        xmlns="http://research.sun.com/wadl/2006/10">
    <grammars/>
    <resources base="https://www.google.com">
	<resource path="accounts">
	    <doc xml:lang="en">
                This service provides a programmatic login method you can use to access Google services protected by user login. 
                An installed application is installed on a device, such as a desktop computer or a cell phone, as opposed 
                to a web application. Programmatic login is available when accessing services that support the 
                Account Authentication service. With programmatic login implemented, you can log into your Google account 
                from inside the application. The application then contacts Google with the login data and requests 
                access to a specified Google service. Once access is authorized, you can create, read, update, or 
                delete service data as needed by using the application interface.

                For more information, see 
		http://code.google.com/apis/accounts/AuthForInstalledApps.html
	    </doc>
	    <resource path="ClientLogin">
		<method name="POST" id="accounts_clientLogin">
		    <request>
			<representation mediaType="application/x-www-form-urlencoded">
			    <param name="accountType" type="xsd:string" style="query" required="false">
                                <doc xml:lang="en">
                                   Optional. Type of account to be authenticated. Possible values are: 

                                    GOOGLE (authenticate as a Google account only), 
                                    HOSTED (authenticate as a hosted account only), 
                                    HOSTED_OR_GOOGLE (authenticate first as a hosted account; 
                                    if attempt fails, authenticate as a Google account). 
                                    
                                    Use HOSTED_OR_GOOGLE if you're not sure which type of 
                                    account needs authentication or if you want to avoid asking for  
                                    information from the user. If the user information matches both a 
                                    hosted and a Google account, only the hosted account will be authenticated. 
                                </doc>
                            </param>    
			    <param name="Email" type="xsd:string" style="query" required="true">
                                <doc xml:lang="en">
                                    User's full email address including the domain. For example, janesmith@gmail.com.
                                </doc>
                            </param>    
			    <param name="Passwd" type="xsd:string" style="query" required="true">
                                <doc xml:lang="en">
                                    User's password.
                                </doc>
                            </param>    
			    <param name="service" type="xsd:string" style="query" required="true">
                                <doc xml:lang="en">
                                    Name of the Google service for which authorization is requested. 
                                    Each service that uses Google accounts is assigned a name value; 
                                    for example, the name associated with Google Calendar is 'cl'. 
                                    This parameter is required when accessing GData services; in this case, 
                                    the generic service name "xapi" can be used. For specific service names, 
                                    refer to the service documentation.
                                </doc>
			    </param>
			    <param name="source" type="xsd:string" style="query" required="false">
                                <doc xml:lang="en">
                                    Short string identifying your application, for logging purposes. 
                                    This string should take the form &quot;companyName-applicationName-versionID&quot;.
                                </doc>
			    </param>
			</representation>
		    </request>
		    <response>
			<representation mediaType="plain/text"/>
		    </response>
		</method>
	    </resource>
	</resource>
    </resources>
</application>