websvc.saas.services.twitter/src/org/netbeans/modules/websvc/saas/services/twitter/resources/TwitterWadl.xml

<?xml version="1.0" encoding="utf-8"?>
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	     xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	     xsi:schemaLocation="http://research.sun.com/wadl/2006/10 
                    https://wadl.dev.java.net/wadl20061109.xsd"
	     xmlns="http://research.sun.com/wadl/2006/10"
             xmlns:t="urn:twitter:twitterresponse" >
    <grammars>
        <include href="TwitterResponse.xsd"/>
    </grammars>
    <resources base="http://twitter.com">
        <resource path="statuses">
            <resource path="public_timeline.{format}">
                <param name="format" type="xsd:string" style="template" required="true" default="xml"/>
                <method name="GET" id="getPublicTimeline">
                    <request>
                        <param name="since_id" type="xsd:integer" style="query" required="false"/>
                    </request>
                    <response>
                        <representation mediaType="text/xml" element="t:statuses"/>
                    </response>
                </method>
            </resource>
            <resource path="friends_timeline.{format}">
                <param name="format" type="xsd:string" style="template" required="true" default="xml"/>
                <method name="GET" id="getFriendsTimeline">
                    <request>
                        <param name="since" type="xsd:string" style="query" required="false"/>
                        <param name="since_id" type="xsd:integer" style="query" required="false"/>
                        <param name="page" type="xsd:integer" style="query" required="false"/>
                    </request>
                    <response>
                        <representation mediaType="text/xml" element="t:statuses"/>
                    </response>
                </method>
            </resource>
            <resource path="friends_timeline">
                <resource path="{id}.{format}">
                    <param name="id" type="xsd:string" style="template" required="true"/>
                    <param name="format" type="xsd:string" style="template" required="true" default="xml"/>
                    <method name="GET" id="getFriendsTimelineById">
                        <request>
                            <param name="since" type="xsd:string" style="query" required="false"/>
                            <param name="since_id" type="xsd:integer" style="query" required="false"/>
                            <param name="page" type="xsd:integer" style="query" required="false"/>
                        </request>
                        <response>
                            <representation mediaType="text/xml" element="t:statuses"/>
                        </response>
                    </method>
                </resource>
            </resource>
            <resource path="user_timeline.{format}">
                <param name="format" type="xsd:string" style="template" required="true" default="xml"/>
                <method name="GET" id="getUserTimeline">
                    <request>
                        <param name="since" type="xsd:string" style="query" required="false"/>
                        <param name="count" type="xsd:integer" style="query" required="false"/>
                    </request>
                    <response>
                        <representation mediaType="text/xml" element="t:statuses"/>
                    </response>
                </method>
            </resource>
            <resource path="user_timeline">
                <resource path="{id}.{format}">
                    <param name="id" type="xsd:string" style="template" required="true"/>
                    <param name="format" type="xsd:string" style="template" required="true" default="xml"/>
                    <method name="GET" id="getUserTimelineById">
                        <request>
                            <param name="since" type="xsd:string" style="query" required="false"/>
                            <param name="count" type="xsd:integer" style="query" required="false"/>
                        </request>
                        <response>
                            <representation mediaType="text/xml" element="t:statuses"/>
                        </response>
                    </method>
                </resource>
            </resource>
            <resource path="show">
                <resource path="{id}.{format}">
                    <param name="id" type="xsd:string" style="template" required="true"/>
                    <param name="format" type="xsd:string" style="template" required="true" default="xml"/>
                    <method name="GET" id="showStatusById">
                        <request/>
                        <response>
                            <representation mediaType="text/xml" element="t:statusType"/>
                        </response>
                    </method>
                </resource>
            </resource>
            <resource path="destroy">
                <resource path="{id}.{format}">
                    <param name="id" type="xsd:string" style="template" required="true"/>
                    <param name="format" type="xsd:string" style="template" required="true" default="xml"/>
                    <method name="GET" id="destroyStatusById">
                        <request/>
                        <response>
                            <representation mediaType="text/xml" element="t:statusType"/>
                        </response>
                    </method>
                </resource>
            </resource>
            <resource path="replies.{format}">
                <param name="format" type="xsd:string" style="template" required="true" default="xml"/>
                <method name="GET" id="getReplies">
                    <request>
                        <param name="page" type="xsd:integer" style="query" required="false"/>
                    </request>
                    <response>
                        <representation mediaType="text/xml" element="t:statuses"/>
                    </response>
                </method>
            </resource>
            <resource path="update.{format}">
                <param name="format" type="xsd:string" style="template" required="true" default="xml"/>
                <method name="POST" id="updateStatus">
                    <request>
                        <representation mediaType="application/x-www-form-urlencoded">
                            <param name="status" type="xsd:string" style="query" required="true"/>
                        </representation>
                    </request>
                    <response>
                        <representation mediaType="text/xml" element="t:statusType"/>
                    </response>
                </method>
            </resource>
            <resource path="friends.{format}">
                <param name="format" type="xsd:string" style="template" required="true" default="xml"/>
                <method name="GET" id="getFriendsStatuses">
                    <request>
                        <param name="lite" type="xsd:string" style="query" required="false"/>
                        <param name="page" type="xsd:integer" style="query" required="false"/>
                    </request>
                    <response>
                        <representation mediaType="text/xml" element="t:statuses"/>
                    </response>
                </method>
            </resource>
            <resource path="friends">
                <resource path="{id}.{format}">
                    <param name="id" type="xsd:string" style="template" required="true"/>
                    <param name="format" type="xsd:string" style="template" required="true" default="xml"/>
                    <method name="GET" id="getFriendsStatusesById">
                        <request>
                            <param name="lite" type="xsd:string" style="query" required="false"/>
                            <param name="page" type="xsd:integer" style="query" required="false"/>
                        </request>
                        <response>
                            <representation mediaType="text/xml" element="t:statuses"/>
                        </response>
                    </method>
                </resource>
            </resource>
            <resource path="followers.{format}">
                <param name="format" type="xsd:string" style="template" required="true" default="xml"/>
                <method name="GET" id="getFollowersStatuses">
                    <request>
                        <param name="lite" type="xsd:string" style="query" required="false"/>
                        <param name="page" type="xsd:integer" style="query" required="false"/>
                    </request>
                    <response>
                        <representation mediaType="text/xml" element="t:statuses"/>
                    </response>
                </method>
            </resource>
            <resource path="featured.{format}">
                <param name="format" type="xsd:string" style="template" required="true" default="xml"/>
                <method name="GET" id="getFeaturedStatuses">
                    <request/>
                    <response>
                        <representation mediaType="text/xml" element="t:statuses"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource path="users">
            <resource path="show">
                <resource path="{id}.{format}">
                    <param name="id" type="xsd:string" style="template" required="true"/>
                    <param name="format" type="xsd:string" style="template" required="true" default="xml"/>
                    <method name="GET" id="showUsersById">
                        <request>
                            <param name="email" type="xsd:string" style="query" required="false"/>
                        </request>
                        <response>
                            <representation mediaType="text/xml" element="t:userType"/>
                        </response>
                    </method>
                </resource>
            </resource>
        </resource>
        <resource path="direct_messages.{format}">
            <param name="format" type="xsd:string" style="template" required="true" default="xml"/>
            <method name="GET" id="getDirectMessagesToMe">
                <request>
                    <param name="since" type="xsd:string" style="query" required="false"/>
                    <param name="since_id" type="xsd:integer" style="query" required="false"/>
                    <param name="page" type="xsd:integer" style="query" required="false"/>
                </request>
                <response>
                    <representation mediaType="text/xml" element="t:direct-messages"/>
                </response>
            </method>
        </resource>
        <resource path="direct_messages">
            <resource path="new.{format}">
                <param name="format" type="xsd:string" style="template" required="true" default="xml"/>
                <method name="POST" id="sendNewDirectMessageFromMe">
                    <request>
                        <representation mediaType="application/x-www-form-urlencoded">
                            <param name="user" type="xsd:string" style="query" required="true">
                                <doc xml:lang="en">
                                    The ID or screen name of the recipient user.
                                </doc>
                            </param>
                            <param name="text" type="xsd:string" style="query" required="true">
                                <doc xml:lang="en">
                                    The text of your direct message.  Be sure to URL encode it
                                    as necessary (as described at http://en.wikipedia.org/wiki/Percent_encoding) 
                                    and keep the length under 140 characters.
                                </doc>
                            </param>
                        </representation>
                    </request>
                    <response>
                        <representation mediaType="text/xml" element="t:directMessageType"/>
                    </response>
                </method>
            </resource>
            <resource path="sent.{format}">
                <param name="format" type="xsd:string" style="template" required="true" default="xml"/>
                <method name="GET" id="getSentDirectMessagesFromMe">
                    <request>
                        <param name="since" type="xsd:string" style="query" required="false"/>
                        <param name="since_id" type="xsd:integer" style="query" required="false"/>
                        <param name="page" type="xsd:integer" style="query" required="false"/>
                    </request>
                    <response>
                        <representation mediaType="text/xml" element="t:direct-messages"/>
                    </response>
                </method>
            </resource>
            <resource path="destroy">
                <resource path="{id}.{format}">
                    <param name="id" type="xsd:string" style="template" required="true"/>
                    <param name="format" type="xsd:string" style="template" required="true" default="xml"/>
                    <method name="GET" id="destroyDirectMessageById">
                        <request/>
                        <response>
                            <representation mediaType="text/xml" element="t:directMessageType"/>
                        </response>
                    </method>
                </resource>
            </resource>
        </resource>
        <resource path="friendships">
            <resource path="create">
                <resource path="{id}.{format}">
                    <param name="id" type="xsd:string" style="template" required="true"/>
                    <param name="format" type="xsd:string" style="template" required="true" default="xml"/>
                    <method name="GET" id="createFriendshipById">
                        <request/>
                        <response>
                            <representation mediaType="text/xml" element="t:userType"/>
                        </response>
                    </method>
                </resource>
            </resource>
            <resource path="destroy">
                <resource path="{id}.{format}">
                    <param name="id" type="xsd:string" style="template" required="true"/>
                    <param name="format" type="xsd:string" style="template" required="true" default="xml"/>
                    <method name="GET" id="destryFriendshipById">
                        <request/>
                        <response>
                            <representation mediaType="text/xml" element="t:userType"/>
                        </response>
                    </method>
                </resource>
            </resource>
        </resource>
        <resource path="account">
            <resource path="verify_credentials.{format}">
                <param name="format" type="xsd:string" style="template" required="true" default="xml"/>
                <method name="GET" id="verifyCredentials">
                    <request/>
                    <response/>
                </method>
            </resource>
            <resource path="end_session">
                <method name="GET" id="endSession">
                    <request/>
                    <response/>
                </method>
            </resource>
            <resource path="archive.{format}">
                <param name="format" type="xsd:string" style="template" required="true" default="xml"/>
                <method name="GET" id="getArchives">
                    <request>
                        <param name="page" type="xsd:integer" style="query" required="false"/>
                    </request>
                    <response>
                        <representation mediaType="text/xml" element="t:statuses"/>
                    </response>
                </method>
            </resource>
        </resource>
        <resource path="favorites.{format}">
            <param name="format" type="xsd:string" style="template" required="true" default="xml"/>
            <method name="GET" id="getFavorites">
                <request>
                    <param name="page" type="xsd:integer" style="query" required="false"/>
                </request>
                <response>
                    <representation mediaType="text/xml" element="t:statuses"/>
                </response>
            </method>
        </resource>
        <resource path="favorites">
            <resource path="{id}.{format}">
                <param name="id" type="xsd:string" style="template" required="true"/>
                <param name="format" type="xsd:string" style="template" required="true" default="xml"/>
                <method name="GET" id="getFavoritesById">
                    <request>
                        <param name="page" type="xsd:integer" style="query" required="false"/>
                    </request>
                    <response>
                        <representation mediaType="text/xml" element="t:statuses"/>
                    </response>
                </method>
            </resource>
            <resource path="create">
                <resource path="{id}.{format}">
                    <param name="id" type="xsd:string" style="template" required="true"/>
                    <param name="format" type="xsd:string" style="template" required="true" default="xml"/>
                    <method name="GET" id="createFavoritesById">
                        <request/>
                        <response>
                            <representation mediaType="text/xml" element="t:statusType"/>
                        </response>
                    </method>
                </resource>
            </resource>
            <resource path="destroy">
                <resource path="{id}.{format}">
                    <param name="id" type="xsd:string" style="template" required="true"/>
                    <param name="format" type="xsd:string" style="template" required="true" default="xml"/>
                    <method name="GET" id="destroyFavoritesById">
                        <request/>
                        <response>
                            <representation mediaType="text/xml" element="t:statusType"/>
                        </response>
                    </method>
                </resource>
            </resource>
        </resource>
        <resource path="notifications">
            <resource path="leave">
                <resource path="{id}.{format}">
                    <param name="id" type="xsd:string" style="template" required="true"/>
                    <param name="format" type="xsd:string" style="template" required="true" default="xml"/>
                    <method name="GET" id="followById">
                        <request/>
                        <response>
                            <representation mediaType="text/xml" element="t:userType"/>
                        </response>
                    </method>
                </resource>
            </resource>
            <resource path="follow">
                <resource path="{id}.{format}">
                    <param name="id" type="xsd:string" style="template" required="true"/>
                    <param name="format" type="xsd:string" style="template" required="true" default="xml"/>
                    <method name="GET" id="leaveById">
                        <request/>
                        <response>
                            <representation mediaType="text/xml" element="t:userType"/>
                        </response>
                    </method>
                </resource>
            </resource>
        </resource>
    </resources>
</application>