xml.wsdl.extensions/test/unit/src/org/netbeans/modules/xml/wsdl/model/extensions/resources/stockquote.xsd

<?xml version="1.0" encoding="UTF-8"?>
       
<schema targetNamespace="http://example.com/stockquote.xsd"
    xmlns="http://www.w3.org/2001/XMLSchema">
        <complexType name="TradeType">
            <sequence>
                <element name="symbol" type="string"/>
                <element name="quantity" type="float"/>
                <element name="value" type="float"/>
            </sequence>
        </complexType>
</schema>
