xml.wsdl.extensions/test/unit/src/org/netbeans/modules/xml/wsdl/model/extensions/resources/TravelReservationService.wsdl

<definitions  xmlns="http://schemas.xmlsoap.org/wsdl/" 
xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
xmlns:xs="http://www.w3.org/2001/XMLSchema"  
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" 
xmlns:tns="http://www.sun.com/javaone/05/TravelReservationService"
xmlns:ares="http://www.sun.com/javaone/05/AirlineReservationService" 
xmlns:hres="http://www.sun.com/javaone/05/HotelReservationService" 
xmlns:vres="http://www.sun.com/javaone/05/VehicleReservationService" 
xmlns:ota="http://www.opentravel.org/OTA/2003/05"  
xmlns:tres="http://www.sun.com/javaone/05/TravelReservationService"  
targetNamespace="http://www.sun.com/javaone/05/TravelReservationService"
xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop" >

	
	<import namespace="http://www.sun.com/javaone/05/HotelReservationService" location="HotelReservationService.wsdl"/>
	<import namespace="http://www.sun.com/javaone/05/AirlineReservationService" location="AirlineReservationService.wsdl"/>
	<import namespace="http://www.sun.com/javaone/05/VehicleReservationService" location="VehicleReservationService.wsdl"/>	
	
	<types>
		<xs:schema xmlns="http://www.opentravel.org/OTA/2003/05"
		 targetNamespace="http://www.sun.com/javaone/05/TravelReservationService" xmlns:s="http://www.w3.org/2001/XMLSchema"  >
			<xs:import namespace="http://www.opentravel.org/OTA/2003/05" schemaLocation="OTA_TravelItinerary.xsd"/>
			<xs:element name="itineraryFault" type="xs:string" />
		</xs:schema>
	</types>


	<message name="ItineraryIn">
		<part name="itinerary" element="ota:TravelItinerary"/>
	</message>
	<message name="ItineraryOut">
		<part name="itinerary" element="ota:TravelItinerary"/>
	</message>
	<message name="ItineraryFault">
		<part name="faultMessage" element="tns:itineraryFault"/>
	</message>	
	


	<portType name="TravelReservationPortType">
		<operation name="buildItinerary">
			<input message="tns:ItineraryIn"/>
			<output message="tns:ItineraryOut"/>
			<fault name="itineraryProblem" message="tns:ItineraryFault"/>
		</operation>
	</portType>
		
	
	<binding name="TravelReservationSoapBinding" type="tns:TravelReservationPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="buildItinerary">
			<soap:operation/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="itineraryProblem">
				<soap:fault name="itineraryProblem" use="literal"/>
			</fault>				
		</operation>		
	</binding>
	
	
	<service name="TravelReservationSoapService">
		<port name="TravelReservationSoapHttpPort" binding="tns:TravelReservationSoapBinding">
			<soap:address location="http://localhost:18181/TravelReservation/buildItinerary"/>
		</port>		
		<port name="AirlineReservationCallbackSoapHttpPort" binding="ares:AirlineReservationCallbackSoapBinding">
			<soap:address location="http://localhost:18181/TravelReservation/airlineReserved"/>
		</port>		
		<port name="HotelReservationCallbackSoapHttpPort" binding="hres:HotelReservationCallbackSoapBinding">
			<soap:address location="http://localhost:18181/TravelReservation/hotelReserved"/>
		</port>			
		<port name="VehicleReservationCallbackSoapHttpPort" binding="vres:VehicleReservationCallbackSoapBinding">
			<soap:address location="http://localhost:18181/TravelReservation/vehicleReserved"/>
		</port>					
	</service>
	


	   
   <vprop:property name="ItineraryRefId" type="xs:string" /> 


    <vprop:propertyAlias 
      propertyName="tres:ItineraryRefId"
      messageType="tres:ItineraryIn"
      part="itinerary">
      <vprop:query>/TravelItinerary/ItineraryRef/UniqueID</vprop:query>    
    </vprop:propertyAlias>

   <vprop:propertyAlias 
      propertyName="tres:ItineraryRefId"
      messageType="ares:AirlineReservedIn"
      part="itinerary">
      <vprop:query>/TravelItinerary/ItineraryRef/UniqueID</vprop:query>    
    </vprop:propertyAlias>
     


   <vprop:propertyAlias 
      propertyName="tres:ItineraryRefId"
      messageType="ares:ReserveAirlineIn"
      part="itinerary">
      <vprop:query>/TravelItinerary/ItineraryRef/UniqueID</vprop:query>    
    </vprop:propertyAlias>

   <vprop:propertyAlias 
      propertyName="tres:ItineraryRefId"
      messageType="vres:VehicleReservedIn"
      part="itinerary">
      <vprop:query>/TravelItinerary/ItineraryRef/UniqueID</vprop:query>    
    </vprop:propertyAlias>


   <vprop:propertyAlias 
      propertyName="tres:ItineraryRefId"
      messageType="vres:ReserveVehicleIn"
      part="itinerary">
      <vprop:query>/TravelItinerary/ItineraryRef/UniqueID</vprop:query>    
    </vprop:propertyAlias>
      
   <vprop:propertyAlias 
      propertyName="tres:ItineraryRefId"
      messageType="hres:HotelReservedIn"
      part="itinerary">
      <vprop:query>/TravelItinerary/ItineraryRef/UniqueID</vprop:query>    
    </vprop:propertyAlias>


   <vprop:propertyAlias 
      propertyName="tres:ItineraryRefId"
      messageType="hres:ReserveHotelIn"
      part="itinerary">
      <vprop:query>/TravelItinerary/ItineraryRef/UniqueID</vprop:query>    
    </vprop:propertyAlias>   
	
	
    <plnk:partnerLinkType name="TravelReservationPartnerLinkType">
            <plnk:role name="TravelReservationServiceRole" 
                portType="tres:TravelReservationPortType">
            </plnk:role>			
    </plnk:partnerLinkType>	
	

</definitions>
