compapp.projects.jbi/test/unit/src/org/netbeans/modules/compapp/test/wsdl/resources/RPCLiteral_MsgPartElement.wsdl

<definitions 
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SynchronousSample" 
    targetNamespace="http://localhost/SynchronousSample/SynchronousSample"
    xmlns:tns="http://localhost/SynchronousSample/SynchronousSample"
    xmlns:ns="http://xml.netbeans.org/schema/SynchronousSample"
    xmlns:plink="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
    xmlns:bpws="http://docs.oasis-open.org/wsbpel/2.0/varprop">
    
    <types>
        <xsd:schema targetNamespace="http://xml.netbeans.org/schema/SynchronousSample"
                    elementFormDefault="qualified">
            <xsd:complexType name="simpleProcess">
                <xsd:sequence>
                    <xsd:element name="paramA" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            
            <xsd:element name="typeA" type="ns:simpleProcess"/>
        </xsd:schema>
    </types>
    
    <message name="requestMessage">
        <part name="inputType" element="ns:typeA"/>
    </message>
    
    <message name="responseMessage">
        <part name="resultType" element="ns:typeA"/>
    </message>
    
    <portType name="portType1">
        <operation name="operation1">
            <input name="input1" message="tns:requestMessage"/>
            <output name="output1" message="tns:responseMessage"/>
        </operation>
    </portType>
    
    <binding name="binding1" type="tns:portType1">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
        <operation name="operation1">
            <input name="input1">
                <soap:body use="literal" namespace="http://localhost/SynchronousSample/SynchronousSample"/>
            </input>
            <output name="output1">
                <soap:body use="literal" namespace="http://localhost/SynchronousSample/SynchronousSample"/>
            </output>
        </operation>
    </binding>
    
    <service name="service1">
        <port name="port1" binding="tns:binding1">
            <documentation/>
            <soap:address location="http://localhost:18181/SynchronousSample"/>
        </port>
    </service>
    
    <plink:partnerLinkType name="partnerlinktype1">
        <plink:role name="partnerlinktyperole1" portType="tns:portType1"/>
    </plink:partnerLinkType>
</definitions>
