xml.schema.completion/test/unit/src/org/netbeans/modules/xml/schema/completion/resources/NoTNSSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://xml.netbeans.org/schema/newXMLSchema"
    elementFormDefault="qualified">
    <xsd:element name="NNSRoot">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="NNSChild1"/>
                <xsd:element name="NNSChild2"/>
            </xsd:sequence>
            <xsd:attribute name="NNSAttr1" type="xsd:string"/>
            <xsd:attribute name="NNSAttr2" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>
