usersguide/tutorials/j2ee-tut/examples/ejb/helloservice/HelloWebClient/web/WEB-INF/wsdl/HelloService.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:HelloService/wsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns2="urn:HelloService/types" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="HelloService" targetNamespace="urn:HelloService/wsdl">
  <types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:HelloService/types" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:HelloService/types">
      <complexType name="sayHello">
        <sequence>
          <element name="String_1" type="string" nillable="true"/></sequence></complexType>
      <complexType name="sayHelloResponse">
        <sequence>
          <element name="result" type="string" nillable="true"/></sequence></complexType>
      <element name="sayHello" type="tns:sayHello"/>
      <element name="sayHelloResponse" type="tns:sayHelloResponse"/></schema></types>
  <message name="HelloServiceSEI_sayHello">
    <part name="parameters" element="ns2:sayHello"/></message>
  <message name="HelloServiceSEI_sayHelloResponse">
    <part name="result" element="ns2:sayHelloResponse"/></message>
  <portType name="HelloServiceSEI">
    <operation name="sayHello">
      <input message="tns:HelloServiceSEI_sayHello"/>
      <output message="tns:HelloServiceSEI_sayHelloResponse"/></operation></portType>
  <binding name="HelloServiceSEIBinding" type="tns:HelloServiceSEI">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="sayHello">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/></input>
      <output>
        <soap:body use="literal"/></output></operation></binding>
  <service name="HelloService">
    <port name="HelloServiceSEIPort" binding="tns:HelloServiceSEIBinding">
      <soap:address location="http://localhost:8080/webservice/HelloService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"/>
    </port>
  </service>
</definitions>
