xml.wsdl.refactoring/test/unit/src/org/netbeans/modules/xml/wsdl/refactoring/resources/stockquote.xsd

<?xml version="1.0" encoding="UTF-8"?>
       
<schema targetNamespace="http://example.com/stockquote.xsd"
    xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ns="http://example.com/stockquote.xsd">
        <complexType name="TradeType">
            <sequence>
                <element name="symbol" type="string"/>
                <element name="quantity" type="float"/>
                <element name="value" type="float"/>
            </sequence>
        </complexType>
    <element name="newElement" type="ns:TradeType"></element>
</schema>
