websvc.saas.services.yahoo/src/org/netbeans/modules/websvc/saas/services/yahoo/resources/YahooNewsSearchWadl.xml

<?xml version="1.0"?>
<!--
DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS HEADER.

Copyright 1997-2007 Sun Microsystems, Inc. All rights reserved.


The contents of this file are subject to the terms of either the GNU
General Public License Version 2 only ("GPL") or the Common
Development and Distribution License("CDDL") (collectively, the
"License"). You may not use this file except in compliance with the
License. You can obtain a copy of the License at
http://www.netbeans.org/cddl-gplv2.html
or nbbuild/licenses/CDDL-GPL-2-CP. See the License for the
specific language governing permissions and limitations under the
License.  When distributing the software, include this License Header
Notice in each file and include the License file at
nbbuild/licenses/CDDL-GPL-2-CP.  Sun designates this
particular file as subject to the "Classpath" exception as provided
by Sun in the GPL Version 2 section of the License file that
accompanied this code. If applicable, add the following below the
License Header, with the fields enclosed by brackets [] replaced by
your own identifying information:
"Portions Copyrighted [year] [name of copyright owner]"

Contributor(s):

  The Original Software is NetBeans. The Initial Developer of the Original
  Software is Sun Microsystems, Inc. Portions Copyright 1997-2007 Sun
  Microsystems, Inc. All Rights Reserved.

If you wish your version of this file to be governed by only the CDDL
or only the GPL Version 2, indicate your decision by adding
"[Contributor] elects to include this software in this distribution
under the [CDDL or GPL Version 2] license." If you do not indicate a
single choice of license, a recipient has the option to distribute
your version of this file under either the CDDL, the GPL Version 2 or
to extend the choice of license to its licensees as provided above.
However, if you add GPL Version 2 code and therefore, elected the GPL
Version 2 license, then the option applies only if the new code is
made subject to such option by the copyright holder.
-->
<application xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:yn="urn:yahoo:yn"
  xmlns:ya="urn:yahoo:api"
  xmlns:html="http://www.w3.org/1999/xhtml"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xmlns="http://research.sun.com/wadl/2006/10"
  xsi:schemaLocation="http://research.sun.com/wadl/2006/10 
     ../../../../../../../../../../websvc.saas.api/src/org/netbeans/modules/websvc/saas/model/wadl20061109.xsd"
  >
    <grammars>
        <include href="NewsSearchResponse.xsd"/>
        <include href="NewsSearchError.xsd"/>
    </grammars>
    <resources base="http://api.search.yahoo.com/NewsSearchService/V1/">
        <resource path="newsSearch">
            <doc xml:lang="en" title="Yahoo News Search Service">
        The
                <html:i>Yahoo News Search</html:i> service provides online searching of news
        stories from around the world.
            </doc>
            <param name="appid" type="xsd:string" required="true" style="query">
                <doc>The application ID. See
                    <html:a href="http://developer.yahoo.com/faq/index.html#appid">Application IDs
                    </html:a> for more information.
                </doc>
            </param>
            <method name="GET" id="search">
                <doc xml:lang="en" title="Search news stories by keyword"/>
                <request>
                    <param name="query" type="xsd:string" required="true" style="query">
                        <doc xml:lang="en" title="Space separated keywords to search for"/>
                    </param>
                    <param name="type" type="xsd:string" default="all" style="query">
                        <doc xml:lang="en" title="Keyword matching"/>
                        <option value="all">
                            <doc>All query terms.</doc>
                        </option>
                        <option value="any">
                            <doc>Any query terms.</doc>
                        </option>
                        <option value="phrase">
                            <doc>Query terms as a phrase.</doc>
                        </option>
                    </param>
                    <param name="results" type="xsd:int" default="10" style="query">
                        <doc xml:lang="en" title="Number of results"/>
                    </param>
                    <param name="start" type="xsd:int" default="1" style="query">
                        <doc xml:lang="en" title="Index of first result"/>
                    </param>
                    <param name="sort" type="xsd:string" default="rank" style="query">
                        <doc xml:lang="en" title="Sort by date or rank"/>
                        <option value="rank"/>
                        <option value="date"/>
                    </param>
                    <param name="language" type="xsd:string" style="query">
                        <doc xml:lang="en" title="Language filter, omit for any language"/>
                    </param>
                    <param name="output" type="xsd:string" default="xml" style="query">
                        <doc>The format for the output. If
                            <html:em>json</html:em> is requested, the results will be returned in
                            <html:a href="http://developer.yahoo.com/common/json.html">JSON
                            </html:a> format. If
                            <html:em>php</html:em> is requested, the results will be returned in
                            <html:a href="http://developer.yahoo.com/common/phpserial.html">Serialized PHP
                            </html:a> format.
                        </doc>
                        <option value="xml"/>
                        <option value="json"/>
                        <option value="php"/>
                    </param>
                    <param name="callback" type="xsd:string" style="query">
                        <doc>The name of the callback function to wrap around the JSON data. The following characters are allowed: A-Z a-z 0-9 . [] and _. If output=json has not been requested, this parameter has no effect. More information on the callback can be found in the
                            <html:a href="http://developer.yahoo.com/common/json.html#callbackparam">Yahoo! Developer Network JSON Documentation
                            </html:a>.
                        </doc>
                    </param>
                </request>
                <response>
                    <representation mediaType="application/xml" element="yn:ResultSet">
                        <doc xml:lang="en" title="A list of news items matching the query"/>
                    </representation>
                    <fault id="SearchError" status="400" mediaType="application/xml"
        element="ya:Error"/>
                </response>
            </method>
        </resource>
    </resources>
</application>
