websvc.saas.services.yahoo/src/org/netbeans/modules/websvc/saas/services/yahoo/resources/YahooTrafficServiceWadl.xml

<?xml version="1.0" encoding="utf-8"?>

<!--
 DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS HEADER.
 
 Copyright 1997-2007 Sun Microsystems, Inc. All rights reserved.
 
 The contents of this file are subject to the terms of either the GNU
 General Public License Version 2 only ("GPL") or the Common
 Development and Distribution License("CDDL") (collectively, the
 "License"). You may not use this file except in compliance with the
 License. You can obtain a copy of the License at
 http://www.netbeans.org/cddl-gplv2.html
 or nbbuild/licenses/CDDL-GPL-2-CP. See the License for the
 specific language governing permissions and limitations under the
 License.  When distributing the software, include this License Header
 Notice in each file and include the License file at
 nbbuild/licenses/CDDL-GPL-2-CP.  Sun designates this
 particular file as subject to the "Classpath" exception as provided
 by Sun in the GPL Version 2 section of the License file that
 accompanied this code. If applicable, add the following below the
 License Header, with the fields enclosed by brackets [] replaced by
 your own identifying information:
 "Portions Copyrighted [year] [name of copyright owner]"
 
 Contributor(s):
 
 The Original Software is NetBeans. The Initial Developer of the Original
 Software is Sun Microsystems, Inc. Portions Copyright 1997-2007 Sun
 Microsystems, Inc. All Rights Reserved.
 
 If you wish your version of this file to be governed by only the CDDL
 or only the GPL Version 2, indicate your decision by adding
 "[Contributor] elects to include this software in this distribution
 under the [CDDL or GPL Version 2] license." If you do not indicate a
 single choice of license, a recipient has the option to distribute
 your version of this file under either the CDDL, the GPL Version 2 or
 to extend the choice of license to its licensees as provided above.
 However, if you add GPL Version 2 code and therefore, elected the GPL
 Version 2 license, then the option applies only if the new code is
 made subject to such option by the copyright holder.
-->

<application 
    xmlns:ym="urn:yahoo:trafficdataresponse"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xsi:schemaLocation="http://research.sun.com/wadl/2006/10 
                    https://wadl.dev.java.net/wadl20061109.xsd"
	     xmlns="http://research.sun.com/wadl/2006/10">
    <grammars>
        <include href="TrafficDataResponse.xsd"/>
        <!--<include href="NewsSearchError.xsd"/>-->
    </grammars>
    <resources base="http://local.yahooapis.com/MapsService/V1">	
                <resource path="trafficData">
            <method name="GET" id="trafficData">
                <doc xml:lang="en">The Yahoo Traffic Service method, trafficData, provides parameters
                    that support getting traffic information for a location based on 
                    street name, city, state, zip code, or a combination of latitude and longitude. You  
                    can also specify whether to include a map image, and you can provide a search radius in miles.
                    For API documentation see:  
                    http://developer.yahoo.com/traffic/rest/V1/index.html </doc>
                <request>
                    <param name="appid" type="xsd:string" style="query" required="true">
                        <doc xml:lang="en">The application ID. for more information, see 
                        http://developer.yahoo.com/faq/index.html#appid .</doc>
                    </param>
                    <param name="street" type="xsd:string" style="query" required="false">
                    <doc xml:lang="en">Optional. Street name, with or without the house number.</doc>
                    </param>
                    <param name="city" type="xsd:string" style="query" required="false">
                    <doc xml:lang="en">Optional. City name</doc>
                    </param>
                    <param name="state" type="xsd:string" style="query" required="false">
                    <doc xml:lang="en">Optional. The state name for a United States location 
                         You can spell out the full state name or 
                         you can use the two-letter abbreviation. For a list of abbreviations,
                         see http://en.wikipedia.org/wiki/State_codes .</doc>
                    </param>
                    <param name="zip" type="xsd:integer" style="query" required="false">
                    <doc xml:lang="en">Optional. The five-digit zip code, or the five-digit code plus four-digit extension.
                         If the city and state are specified and they don't match the zip code, 
                         only the zip code is used.</doc>
                    </param>
                    <param name="location" type="xsd:string" style="query" required="false">
                    <doc xml:lang="en">Optional. A free-form field in which you can enter the following 
                         combinations of values:
                          [city, state], 
                          [city, state, zip], 
                          [zip], 
                          [street, city, state], 
                          [street, city, state, zip], 
                          [street, zip].
                          If this parameter is specified, it takes priority over the corresponding 
                          parameters, and the city, state, and zip parameters are ignored.
                    </doc>
                    </param>
                    <param name="latitude" type="xsd:string" style="query" required="false">
                    <doc xml:lang="en">Optional. The latitude of the starting location, range -90 to 90.</doc>
                    </param>
                    <param name="longitude" type="xsd:string" style="query" required="false">
                    <doc xml:lang="en">Optional. The longitude of the starting location, range -180 to 180. If both latitude and
                         longitude are specified, they take priority and all other location
                         data is ignored. If only one of latitude or longitude is specified, both 
                         will be ignored. </doc>
                    </param>
                    <param name="severity" type="xsd:integer" style="query" required="false">
                    <doc xml:lang="en">Optional. The minimum severity level to return, from 
                         1, least severe, to 5, most severe. Defaults to 1.</doc>
                    </param>
                    <param name="zoom" type="xsd:integer" style="query" required="false">
                     <doc xml:lang="en">Optional. The zoom level for the data, from 1, street level, 
                          to 12, country level. Defaults to 6. If a radius is specified, 
                          this parameter is ignored.s</doc>
                    </param>
                    <param name="radius" type="xsd:string" style="query" required="false">
                    <doc xml:lang="en">Optional. A distance in miles from the specified location.
                         The default radius varies according to the location given and the 
                         zoom level. If a zoom is specified, this parameter is ignored and
                         the default radius is used.</doc>
                    </param>
                    <param name="include_map" type="xsd:integer" style="query" required="false">
                    <doc xml:lang="en">Optional. Specifies whether to return a URL of a map image for the
                         location of each reported incident. Default value is 0, no map image. 
                         If you specify 1, the URL of a map image is returned.</doc>
                    </param>
                    <param name="image_type" type="xsd:string" style="query" required="false">
                    <doc xml:lang="en">Optional. The image format for the map if a map is requested. Default value
                         is png. You can also specify gif.
                    </doc>
                    </param>
                    <param name="image_height" type="xsd:integer" style="query" required="false">
                    <doc xml:lang="en">Optional. If a map is requested, specifies the height in pixels, an integer
                    from 10 to 2000. Default height is 500.</doc>
                    </param>
                    <param name="image_width" type="xsd:integer" style="query" required="false">
                    <doc xml:lang="en">Optional. If a map is requested, specifies the height in pixels, an integer
                         from 10 to 2000. Default width is 620.</doc>
                    </param>
                    <param name="output" type="xsd:string" style="query" required="false">
                    <doc xml:lang="en">Optional. The format for the output. Defaults to xml as described under
                         Response Elements at http://developer.yahoo.com/traffic/rest/V1/index.html .
                         If php is requested,
                         the results are returned in Serialized PHP format as described at
                         http://developer.yahoo.com/common/phpserial.html .</doc>
                    </param>
                </request>
                <response>
                    <representation mediaType="application/xml" element="ym:ResultSet"/>
                </response>
                
            </method>
        </resource>
    </resources> 
    
</application>