xml.wsdl.model/test/unit/src/org/netbeans/modules/xml/wsdl/model/extensions/soap/validation/resources/invalid/SOAPBodyMultipleElements.wsdl

<?xml version="1.0" encoding="utf-8" ?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:Foo1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MyHelloService" targetNamespace="urn:Foo1">
    <types>
        <xsd:schema xmlns:ns1="urn:Foo1" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:Foo1">
            <xsd:element name="helloObj" type="tns:helloObjType">
            </xsd:element>
            <xsd:complexType name="helloObjType">
                <xsd:sequence>
                    <xsd:element name="string" type="xsd:string"/>
                    <xsd:element name="nonNegativeInteger" type="xsd:nonNegativeInteger"/>
                    <xsd:element name="byte" type="xsd:byte"/>
                    <xsd:element name="short" type="xsd:short"/>
                    <xsd:element name="int" type="xsd:int"/>
                    <xsd:element name="long" type="xsd:long"/>
                    <xsd:element name="negativeInteger" type="xsd:negativeInteger"/>
                    <xsd:element name="dateTime" type="xsd:dateTime"/>
                    <xsd:element name="nonPositiveInteger" type="xsd:nonPositiveInteger"/>
                    <xsd:element name="duration" type="xsd:duration"/>
                    <xsd:element name="ENTITIES" type="xsd:ENTITIES"/>
                    <xsd:element name="double" type="xsd:double"/>
                    <xsd:element name="ENTITY" type="xsd:ENTITY"/>
                    <xsd:element name="float" type="xsd:float"/>
                    
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="HelloIF_sayHello">
        <part element="tns:helloObj" name="body"/>
    </message>
    <message name="HelloIF_sayHelloResponse">
        <part element="tns:helloObj" name="result"/>
    </message>
    <portType name="HelloIF">
        <operation name="sayHello">
            <input message="tns:HelloIF_sayHello"/>
            <output message="tns:HelloIF_sayHelloResponse"/>
        </operation>
    </portType>
    <binding name="HelloIFBinding" type="tns:HelloIF">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
        <operation name="sayHello">
            <soap:operation soapAction="sayHello"/>
            <input>
                <soap:body parts="body" use="literal"/>
            </input>
            <output>
                <soap:body parts="result" use="literal"/>
                <soap:body parts="result" use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="MyHelloService">
        <port binding="tns:HelloIFBinding" name="HelloIFPort">
            <soap:address location="http://localhost:12010/service/HelloWorld"/>
        </port>
    </service>
    
    <plnk:partnerLinkType xmlns:plnk="http://schemas.xmlsoap.org/ws/2004/03/partner-link/" name="HelloIFServiceLink">
	<plnk:role name="HelloIFRole" portType="HelloIF"/>
	
   </plnk:partnerLinkType>

</definitions>