xml.schema.model/test/unit/src/org/netbeans/modules/xml/schema/model/resources/D.xsd

<?xml version="1.0" encoding="windows-1252"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"            
            elementFormDefault="qualified">
    <xsd:include schemaLocation="F.xsd"/>
    <xsd:complexType name="D1">
        <xsd:sequence>
            <xsd:element name="D11"/>
            <xsd:element name="D12"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="D2">
        <xsd:sequence>
            <xsd:element name="D21"/>
            <xsd:element name="D22"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
