xml.schema.model/test/unit/src/org/netbeans/modules/xml/schema/model/resources/E.xsd

<?xml version="1.0" encoding="windows-1252"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://xml.netbeans.org/schema/B"
            xmlns:tns="http://xml.netbeans.org/schema/B"
            elementFormDefault="qualified">
    <xsd:complexType name="E1">
        <xsd:sequence>
            <xsd:element name="E11"/>
            <xsd:element name="E12"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="E2">
        <xsd:sequence>
            <xsd:element name="E21" type="tns:F1"/>
            <xsd:element name="E22" type="tns:F2"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
