xml.schema.model/test/unit/src/org/netbeans/modules/xml/schema/model/resources/F.xsd

<?xml version="1.0" encoding="windows-1252"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"            
            elementFormDefault="qualified">
    <xsd:complexType name="F1">
        <xsd:sequence>
            <xsd:element name="F11"/>
            <xsd:element name="F12"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="F2">
        <xsd:sequence>
            <xsd:element name="F21"/>
            <xsd:element name="F22"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
