xml.schema.model/test/unit/src/org/netbeans/modules/xml/schema/model/resources/G.xsd

<?xml version="1.0" encoding="windows-1252"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://xml.netbeans.org/schema/G"
            xmlns:tns="http://xml.netbeans.org/schema/G"
            elementFormDefault="qualified">
    
    <xsd:complexType name="G1">
        <xsd:sequence>
            <xsd:element name="G11"/>
            <xsd:element name="G12"/>
        </xsd:sequence>
    </xsd:complexType>
    
</xsd:schema>
