websvc.saas.services.weatherbug/src/org/netbeans/modules/websvc/saas/services/weatherbug/resources/WeatherBugWadl.xml

<?xml version="1.0" encoding="utf-8"?>
<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	     xsi:schemaLocation="http://research.sun.com/wadl/2006/10 
                    https://wadl.dev.java.net/wadl20061109.xsd"
	     xmlns="http://research.sun.com/wadl/2006/10"
             xmlns:rss="urn:weatherbug:rss">
    <grammars>
        <include href="Rss.xsd"/>
    </grammars>
    <resources base="http://api.wxbug.net">
        <resource path="getLiveWeatherRSS.aspx">
            <method name="GET" id="getLiveWeatherRSS">
                <request>
                    <param name="ACode" type="xsd:string" style="query" required="true"/>
                    <param name="ZipCode" type="xsd:string" style="query" required="false"/>
                    <param name="CityCode" type="xsd:string" style="query" required="false"/>
                    <param name="StationId" type="xsd:string" style="query" required="false"/>
                    <param name="Latitude" type="xsd:string" style="query" required="false"/>
                    <param name="Longitude" type="xsd:string" style="query" required="false"/>
                    <param name="UnitType" type="xsd:string" style="query" required="false"/>
                    <param name="CityType" type="xsd:string" style="query" required="false"/>
                </request>
                <response>
                    <representation mediaType="text/xml" element="rss:rss"/>
                </response>
            </method>
        </resource>
        <resource path="getLiveCompactWeatherRSS.aspx">
            <method name="GET" id="getLiveCompactWeatherRSS">
                <request>
                    <param name="ACode" type="xsd:string" style="query" required="true"/>
                    <param name="ZipCode" type="xsd:string" style="query" required="false"/>
                    <param name="CityCode" type="xsd:string" style="query" required="false"/>
                    <param name="StationId" type="xsd:string" style="query" required="false"/>
                    <param name="Latitude" type="xsd:string" style="query" required="false"/>
                    <param name="Longitude" type="xsd:string" style="query" required="false"/>
                    <param name="UnitType" type="xsd:string" style="query" required="false"/>
                    <param name="CityType" type="xsd:string" style="query" required="false"/>
                </request>
                <response>
                    <representation mediaType="text/xml" element="rss:rss"/>
                </response>
            </method>
        </resource>
        <resource path="getForecastRSS.aspx">
            <method name="GET" id="getForecastRSS">
                <request>
                    <param name="ACode" type="xsd:string" style="query" required="true"/>
                    <param name="ZipCode" type="xsd:string" style="query" required="false"/>
                    <param name="CityCode" type="xsd:string" style="query" required="false"/>
                    <param name="Latitude" type="xsd:string" style="query" required="false"/>
                    <param name="Longitude" type="xsd:string" style="query" required="false"/>
                    <param name="UnitType" type="xsd:string" style="query" required="false"/>
                    <param name="CityType" type="xsd:string" style="query" required="false"/>
                </request>
                <response>
                    <representation mediaType="text/xml" element="rss:rss"/>
                </response>
            </method>
        </resource>
        <resource path="getLocationsXML.aspx">
            <method name="GET" id="getLocationsXML">
                <request>
                    <param name="ACode" type="xsd:string" style="query" required="true"/>
                    <param name="SearchString" type="xsd:string" style="query" required="true"/>
                </request>
                <response>
                    <representation mediaType="text/xml"/>
                </response>
            </method>
        </resource>
        <resource path="getStationsXML.aspx">
            <method name="GET" id="getStationsXML">
                <request>
                    <param name="ACode" type="xsd:string" style="query" required="true"/>
                    <param name="ZipCode" type="xsd:string" style="query" required="false"/>
                    <param name="CityCode" type="xsd:string" style="query" required="false"/>
                    <param name="Latitude" type="xsd:string" style="query" required="false"/>
                    <param name="Longitude" type="xsd:string" style="query" required="false"/>
                    <param name="UnitType" type="xsd:string" style="query" required="false"/>
                    <param name="CityType" type="xsd:string" style="query" required="false"/>
                </request>
                <response>
                    <representation mediaType="text/xml"/>
                </response>
            </method>
        </resource>
        <resource path="getCamerasXML.aspx">
            <method name="GET" id="getCamerasXML">
                <request>
                    <param name="ACode" type="xsd:string" style="query" required="true"/>
                    <param name="ZipCode" type="xsd:string" style="query" required="false"/>
                    <param name="Latitude" type="xsd:string" style="query" required="false"/>
                    <param name="Longitude" type="xsd:string" style="query" required="false"/>
                    <param name="UnitType" type="xsd:string" style="query" required="false"/>
                    <param name="CityType" type="xsd:string" style="query" required="false"/>
                </request>
                <response>
                    <representation mediaType="text/xml"/>
                </response>
            </method>
        </resource>
        <resource path="getAlertsRSS.aspx">
            <method name="GET" id="getAlertsRSS">
                <request>
                    <param name="ACode" type="xsd:string" style="query" required="true"/>
                    <param name="ZipCode" type="xsd:string" style="query" required="false"/>
                    <param name="Latitude" type="xsd:string" style="query" required="false"/>
                    <param name="Longitude" type="xsd:string" style="query" required="false"/>
                    <param name="UnitType" type="xsd:string" style="query" required="false"/>
                    <param name="CityType" type="xsd:string" style="query" required="false"/>
                </request>
                <response>
                    <representation mediaType="text/xml" element="rss:rss"/>
                </response>
            </method>
        </resource>
    </resources>
</application>