websvc.customization/test/unit/src/org/netbeans/modules/websvc/customization/model/resources/AddNumbers.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:tns="http://duke.org" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    name="AddNumbersService" 
    targetNamespace="http://duke.org">


  <types>
      <xs:schema version="1.0" targetNamespace="http://duke.org" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
        <xs:element name="addNumbers" type="ns1:addNumbers" xmlns:ns1="http://duke.org"/>
  
        <xs:complexType name="addNumbers">
            <xs:sequence>
                <xs:element name="number1" type="xs:int"/>
                <xs:element name="number2" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>

        <xs:element name="addNumbersResponse" type="ns2:addNumbersResponse" xmlns:ns2="http://duke.org"/>

        <xs:complexType name="addNumbersResponse">
          <xs:sequence>
            <xs:element name="return" type="xs:int"/>
          </xs:sequence>
        </xs:complexType>

        <xs:element name="AddNumbersException" type="xs:string"/>
      </xs:schema>
  </types>

  <message name="addNumbers">
    <part name="parameters" element="tns:addNumbers"/>
  </message>
  <message name="addNumbersResponse">
    <part name="result" element="tns:addNumbersResponse"/>
  </message>
  <message name="AddNumbersException">
    <part name="AddNumbersException" element="tns:AddNumbersException"/>
  </message>

  <portType name="AddNumbersImpl">
    <operation name="addNumbers">
      <input message="tns:addNumbers"/>
      <output message="tns:addNumbersResponse"/>

      <fault name="AddNumbersException" message="tns:AddNumbersException">
      </fault>
    </operation>
  </portType>

  <binding name="AddNumbersImplBinding" type="tns:AddNumbersImpl">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="addNumbers">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/></input>
      <output>
        <soap:body use="literal"/></output>
      <fault name="AddNumbersException">
        <soap:fault name="AddNumbersException" use="literal"/>
      </fault>
    </operation>
  </binding>

  <service name="AddNumbersService">

    <port name="AddNumbersPort" binding="tns:AddNumbersImplBinding">
      <soap:address location="http://localhost:8080/jaxws-inline-customize/addnumbers"/>
    </port>
  </service>
</definitions>