xml.wsdl.model/test/unit/src/org/netbeans/modules/xml/wsdl/model/extensions/soap/validation/resources/valid/evocsvcuri.wsdl

<?xml version="1.0" encoding="utf-8"?>

<definitions xmlns:s="http://www.w3.org/2001/XMLSchema" 
   xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
   xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
   xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
   xmlns:tns="http://www.bea.com/webservices/basic/statelesSession" 
   xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
   targetNamespace="http://www.bea.com/webservices/basic/statelesSession"
   xmlns="http://schemas.xmlsoap.org/wsdl/">

   
        <types>
 <xsd:schema   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns:stns="java:language_builtins.lang"
   elementFormDefault="qualified"
   attributeFormDefault="qualified"
   targetNamespace="java:language_builtins.lang">
  <xsd:import    namespace="http://schemas.xmlsoap.org/soap/encoding/">
  </xsd:import>
  <xsd:complexType    name="ArrayOfArrayOfString">
   <xsd:complexContent>
    <xsd:restriction      xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
      base="soapenc:Array">
     <xsd:attribute       xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
       ref="soapenc:arrayType"
       wsdl:arrayType="xsd:string[,]">
     </xsd:attribute>
    </xsd:restriction>
   </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType    name="ArrayOfString">
   <xsd:complexContent>
    <xsd:restriction      xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
      base="soapenc:Array">
     <xsd:attribute       xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
       ref="soapenc:arrayType"
       wsdl:arrayType="xsd:string[]">
     </xsd:attribute>
    </xsd:restriction>
   </xsd:complexContent>
  </xsd:complexType>
 </xsd:schema>
</types>

   
   
           <message name="getCommonService" >
    
  <part name="string" xmlns:partns="http://www.w3.org/2001/XMLSchema" type="partns:string" />
  
 
  <part name="string0" xmlns:partns="http://www.w3.org/2001/XMLSchema" type="partns:string" />
  
 
  <part name="string1" xmlns:partns="http://www.w3.org/2001/XMLSchema" type="partns:string" />
  
 
  <part name="strings" xmlns:partns="java:language_builtins.lang" type="partns:ArrayOfString" />
  
 
  <part name="strings0" xmlns:partns="java:language_builtins.lang" type="partns:ArrayOfString" />
  
 
  <part name="strings1" xmlns:partns="java:language_builtins.lang" type="partns:ArrayOfString" />
  
 
  <part name="strings2" xmlns:partns="java:language_builtins.lang" type="partns:ArrayOfString" />
  
 
  <part name="string2" xmlns:partns="http://www.w3.org/2001/XMLSchema" type="partns:string" />
  
 
  </message>
  <message name="getCommonServiceResponse" >
    
  <part name="result" xmlns:partns="http://www.w3.org/2001/XMLSchema" type="partns:string" />
  
 
  </message>
  
  
  

   
           <message name="sendMessage" >
    
  <part name="strings" xmlns:partns="java:language_builtins.lang" type="partns:ArrayOfString" />
  
 
  <part name="strings0" xmlns:partns="java:language_builtins.lang" type="partns:ArrayOfString" />
  
 
  </message>
  <message name="sendMessageResponse" >
    
  <part name="result" xmlns:partns="java:language_builtins.lang" type="partns:ArrayOfString" />
  
 
  </message>
  
  
  

   
           <message name="getService" >
    
  <part name="strings" xmlns:partns="java:language_builtins.lang" type="partns:ArrayOfString" />
  
 
  </message>
  <message name="getServiceResponse" >
    
  <part name="result" xmlns:partns="java:language_builtins.lang" type="partns:ArrayOfString" />
  
 
  </message>
  
  
  

   
           <message name="autoEncode" >
    
  <part name="string" xmlns:partns="http://www.w3.org/2001/XMLSchema" type="partns:string" />
  
 
  <part name="string0" xmlns:partns="http://www.w3.org/2001/XMLSchema" type="partns:string" />
  
 
  <part name="string1" xmlns:partns="http://www.w3.org/2001/XMLSchema" type="partns:string" />
  
 
  <part name="string2" xmlns:partns="http://www.w3.org/2001/XMLSchema" type="partns:string" />
  
 
  <part name="string3" xmlns:partns="http://www.w3.org/2001/XMLSchema" type="partns:string" />
  
 
  <part name="string4" xmlns:partns="http://www.w3.org/2001/XMLSchema" type="partns:string" />
  
 
  <part name="string5" xmlns:partns="http://www.w3.org/2001/XMLSchema" type="partns:string" />
  
 
  </message>
  <message name="autoEncodeResponse" >
    
  <part name="result" xmlns:partns="http://www.w3.org/2001/XMLSchema" type="partns:string" />
  
 
  </message>
  
  
  

   
           <message name="getResultset" >
    
  <part name="string" xmlns:partns="http://www.w3.org/2001/XMLSchema" type="partns:string" />
  
 
  <part name="string0" xmlns:partns="http://www.w3.org/2001/XMLSchema" type="partns:string" />
  
 
  <part name="strings" xmlns:partns="java:language_builtins.lang" type="partns:ArrayOfString" />
  
 
  <part name="strings0" xmlns:partns="java:language_builtins.lang" type="partns:ArrayOfString" />
  
 
  <part name="strings1" xmlns:partns="java:language_builtins.lang" type="partns:ArrayOfString" />
  
 
  <part name="strings2" xmlns:partns="java:language_builtins.lang" type="partns:ArrayOfString" />
  
 
  <part name="string1" xmlns:partns="http://www.w3.org/2001/XMLSchema" type="partns:string" />
  
 
  </message>
  <message name="getResultsetResponse" >
    
  <part name="result" xmlns:partns="java:language_builtins.lang" type="partns:ArrayOfString" />
  
 
  </message>
  
  
  

   
           <message name="getServiceTrans" >
    
  </message>
  <message name="getServiceTransResponse" >
    
  <part name="result" xmlns:partns="http://www.w3.org/2001/XMLSchema" type="partns:string" />
  
 
  </message>
  
  
  

   
           <message name="receiveMessage" >
    
  <part name="string" xmlns:partns="http://www.w3.org/2001/XMLSchema" type="partns:string" />
  
 
  </message>
  <message name="receiveMessageResponse" >
    
  <part name="result" xmlns:partns="java:language_builtins.lang" type="partns:ArrayOfString" />
  
 
  </message>
  
  
  

   
           <message name="getDummy2DArr" >
    
  </message>
  <message name="getDummy2DArrResponse" >
    
  <part name="result" xmlns:partns="java:language_builtins.lang" type="partns:ArrayOfArrayOfString" />
  
 
  </message>
  
  
  

   
   
           <portType name="ServicePort" >
    
  <operation name="getCommonService"  >
    <input message="tns:getCommonService" />
    
    <output message="tns:getCommonServiceResponse" />
     
    
  </operation>
 
  <operation name="sendMessage"  >
    <input message="tns:sendMessage" />
    
    <output message="tns:sendMessageResponse" />
     
    
  </operation>
 
  <operation name="getService"  >
    <input message="tns:getService" />
    
    <output message="tns:getServiceResponse" />
     
    
  </operation>
 
  <operation name="autoEncode"  >
    <input message="tns:autoEncode" />
    
    <output message="tns:autoEncodeResponse" />
     
    
  </operation>
 
  <operation name="getResultset"  >
    <input message="tns:getResultset" />
    
    <output message="tns:getResultsetResponse" />
     
    
  </operation>
 
  <operation name="getServiceTrans"  >
    <input message="tns:getServiceTrans" />
    
    <output message="tns:getServiceTransResponse" />
     
    
  </operation>
 
  <operation name="receiveMessage"  >
    <input message="tns:receiveMessage" />
    
    <output message="tns:receiveMessageResponse" />
     
    
  </operation>
 
  <operation name="getDummy2DArr"  >
    <input message="tns:getDummy2DArr" />
    
    <output message="tns:getDummy2DArrResponse" />
     
    
  </operation>
 
  </portType>

   
   
           <binding name="ServicePortSoapBinding"
           type="tns:ServicePort" >

    <soap:binding style="rpc" 
           transport="http://schemas.xmlsoap.org/soap/http" />
    
  <operation name="getCommonService" >
    <soap:operation 
    soapAction="" 
    style="rpc" />

    <input>
      
            
      <soap:body use="encoded" namespace="http://www.bea.com/webservices/basic/statelesSession"
          encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      
      
 
      
    </input>
    <output>
      
            
      <soap:body use="encoded" namespace="http://www.bea.com/webservices/basic/statelesSession"
          encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      
      
 
      
    </output>
    
  </operation>
 
    
  <operation name="sendMessage" >
    <soap:operation 
    soapAction="" 
    style="rpc" />

    <input>
      
            
      <soap:body use="encoded" namespace="http://www.bea.com/webservices/basic/statelesSession"
          encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      
      
 
      
    </input>
    <output>
      
            
      <soap:body use="encoded" namespace="http://www.bea.com/webservices/basic/statelesSession"
          encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      
      
 
      
    </output>
    
  </operation>
 
    
  <operation name="getService" >
    <soap:operation 
    soapAction="" 
    style="rpc" />

    <input>
      
            
      <soap:body use="encoded" namespace="http://www.bea.com/webservices/basic/statelesSession"
          encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      
      
 
      
    </input>
    <output>
      
            
      <soap:body use="encoded" namespace="http://www.bea.com/webservices/basic/statelesSession"
          encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      
      
 
      
    </output>
    
  </operation>
 
    
  <operation name="autoEncode" >
    <soap:operation 
    soapAction="" 
    style="rpc" />

    <input>
      
            
      <soap:body use="encoded" namespace="http://www.bea.com/webservices/basic/statelesSession"
          encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      
      
 
      
    </input>
    <output>
      
            
      <soap:body use="encoded" namespace="http://www.bea.com/webservices/basic/statelesSession"
          encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      
      
 
      
    </output>
    
  </operation>
 
    
  <operation name="getResultset" >
    <soap:operation 
    soapAction="" 
    style="rpc" />

    <input>
      
            
      <soap:body use="encoded" namespace="http://www.bea.com/webservices/basic/statelesSession"
          encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      
      
 
      
    </input>
    <output>
      
            
      <soap:body use="encoded" namespace="http://www.bea.com/webservices/basic/statelesSession"
          encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      
      
 
      
    </output>
    
  </operation>
 
    
  <operation name="getServiceTrans" >
    <soap:operation 
    soapAction="" 
    style="rpc" />

    <input>
      
            
      <soap:body use="encoded" namespace="http://www.bea.com/webservices/basic/statelesSession"
          encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      
      
 
      
    </input>
    <output>
      
            
      <soap:body use="encoded" namespace="http://www.bea.com/webservices/basic/statelesSession"
          encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      
      
 
      
    </output>
    
  </operation>
 
    
  <operation name="receiveMessage" >
    <soap:operation 
    soapAction="" 
    style="rpc" />

    <input>
      
            
      <soap:body use="encoded" namespace="http://www.bea.com/webservices/basic/statelesSession"
          encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      
      
 
      
    </input>
    <output>
      
            
      <soap:body use="encoded" namespace="http://www.bea.com/webservices/basic/statelesSession"
          encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      
      
 
      
    </output>
    
  </operation>
 
    
  <operation name="getDummy2DArr" >
    <soap:operation 
    soapAction="" 
    style="rpc" />

    <input>
      
            
      <soap:body use="encoded" namespace="http://www.bea.com/webservices/basic/statelesSession"
          encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      
      
 
      
    </input>
    <output>
      
            
      <soap:body use="encoded" namespace="http://www.bea.com/webservices/basic/statelesSession"
          encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      
      
 
      
    </output>
    
  </operation>
 
    
  </binding>

   
     <service name="Service" >
    <documentation>todo: add your documentation here</documentation>
    
    <port name="ServicePort" 
      binding="tns:ServicePortSoapBinding">
     <soap:address location="http://mrk700tsta.merck.com:80/evocweb/evocsvcuri"/>
    </port>
    
  </service>

</definitions>
