xml.wsdl.model/test/unit/src/org/netbeans/modules/xml/wsdl/model/extensions/soap/validation/resources/valid/GeoMonster.wsdl

<?xml version="1.0" encoding="utf-8" ?> 
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://webservices.geomonster.com/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://webservices.geomonster.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<s:schema elementFormDefault="qualified" targetNamespace="http://webservices.geomonster.com/">
<s:element name="GetIso3166FromGeoIp">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="licenseKey" type="s:string" /> 
<s:element minOccurs="0" maxOccurs="1" name="ipAddress" type="s:string" /> 
</s:sequence>
</s:complexType>
</s:element>
<s:element name="GetIso3166FromGeoIpResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="GetIso3166FromGeoIpResult" type="s:string" /> 
</s:sequence>
</s:complexType>
</s:element>
<s:element name="GetCountryDataFromGeoIp">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="licenseKey" type="s:string" /> 
<s:element minOccurs="0" maxOccurs="1" name="ipAddress" type="s:string" /> 
</s:sequence>
</s:complexType>
</s:element>
<s:element name="GetCountryDataFromGeoIpResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="GetCountryDataFromGeoIpResult">
<s:complexType mixed="true">
<s:sequence>
<s:any /> 
</s:sequence>
</s:complexType>
</s:element>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="PostCodeSearch">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="licenseKey" type="s:string" /> 
<s:element minOccurs="0" maxOccurs="1" name="iso3166" type="s:string" /> 
<s:element minOccurs="0" maxOccurs="1" name="postCodeSearchString" type="s:string" /> 
</s:sequence>
</s:complexType>
</s:element>
<s:element name="PostCodeSearchResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="PostCodeSearchResult">
<s:complexType mixed="true">
<s:sequence>
<s:any /> 
</s:sequence>
</s:complexType>
</s:element>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="ValidateEmailAddress">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="licenseKey" type="s:string" /> 
<s:element minOccurs="0" maxOccurs="1" name="emailAddress" type="s:string" /> 
</s:sequence>
</s:complexType>
</s:element>
<s:element name="ValidateEmailAddressResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="ValidateEmailAddressResult" type="s0:ValidateEmailAddressReturnType" /> 
</s:sequence>
</s:complexType>
</s:element>
<s:complexType name="ValidateEmailAddressReturnType">
<s:sequence>
<s:element minOccurs="1" maxOccurs="1" name="IsValid" type="s:boolean" /> 
<s:element minOccurs="1" maxOccurs="1" name="ErrorCode" type="s:int" /> 
<s:element minOccurs="0" maxOccurs="1" name="ErrorDescription" type="s:string" /> 
</s:sequence>
</s:complexType>
<s:element name="string" nillable="true" type="s:string" /> 
<s:element name="ValidateEmailAddressReturnType" type="s0:ValidateEmailAddressReturnType" /> 
</s:schema>
</types>
<message name="GetIso3166FromGeoIpSoapIn">
<part name="parameters" element="s0:GetIso3166FromGeoIp" /> 
</message>
<message name="GetIso3166FromGeoIpSoapOut">
<part name="parameters" element="s0:GetIso3166FromGeoIpResponse" /> 
</message>
<message name="GetCountryDataFromGeoIpSoapIn">
<part name="parameters" element="s0:GetCountryDataFromGeoIp" /> 
</message>
<message name="GetCountryDataFromGeoIpSoapOut">
<part name="parameters" element="s0:GetCountryDataFromGeoIpResponse" /> 
</message>
<message name="PostCodeSearchSoapIn">
<part name="parameters" element="s0:PostCodeSearch" /> 
</message>
<message name="PostCodeSearchSoapOut">
<part name="parameters" element="s0:PostCodeSearchResponse" /> 
</message>
<message name="ValidateEmailAddressSoapIn">
<part name="parameters" element="s0:ValidateEmailAddress" /> 
</message>
<message name="ValidateEmailAddressSoapOut">
<part name="parameters" element="s0:ValidateEmailAddressResponse" /> 
</message>
<message name="GetIso3166FromGeoIpHttpGetIn">
<part name="licenseKey" type="s:string" /> 
<part name="ipAddress" type="s:string" /> 
</message>
<message name="GetIso3166FromGeoIpHttpGetOut">
<part name="Body" element="s0:string" /> 
</message>
<message name="GetCountryDataFromGeoIpHttpGetIn">
<part name="licenseKey" type="s:string" /> 
<part name="ipAddress" type="s:string" /> 
</message>
<message name="GetCountryDataFromGeoIpHttpGetOut">
<part name="Body" /> 
</message>
<message name="PostCodeSearchHttpGetIn">
<part name="licenseKey" type="s:string" /> 
<part name="iso3166" type="s:string" /> 
<part name="postCodeSearchString" type="s:string" /> 
</message>
<message name="PostCodeSearchHttpGetOut">
<part name="Body" /> 
</message>
<message name="ValidateEmailAddressHttpGetIn">
<part name="licenseKey" type="s:string" /> 
<part name="emailAddress" type="s:string" /> 
</message>
<message name="ValidateEmailAddressHttpGetOut">
<part name="Body" element="s0:ValidateEmailAddressReturnType" /> 
</message>
<message name="GetIso3166FromGeoIpHttpPostIn">
<part name="licenseKey" type="s:string" /> 
<part name="ipAddress" type="s:string" /> 
</message>
<message name="GetIso3166FromGeoIpHttpPostOut">
<part name="Body" element="s0:string" /> 
</message>
<message name="GetCountryDataFromGeoIpHttpPostIn">
<part name="licenseKey" type="s:string" /> 
<part name="ipAddress" type="s:string" /> 
</message>
<message name="GetCountryDataFromGeoIpHttpPostOut">
<part name="Body" /> 
</message>
<message name="PostCodeSearchHttpPostIn">
<part name="licenseKey" type="s:string" /> 
<part name="iso3166" type="s:string" /> 
<part name="postCodeSearchString" type="s:string" /> 
</message>
<message name="PostCodeSearchHttpPostOut">
<part name="Body" /> 
</message>
<message name="ValidateEmailAddressHttpPostIn">
<part name="licenseKey" type="s:string" /> 
<part name="emailAddress" type="s:string" /> 
</message>
<message name="ValidateEmailAddressHttpPostOut">
<part name="Body" element="s0:ValidateEmailAddressReturnType" /> 
</message>
<portType name="GeoServeSoap">
<operation name="GetIso3166FromGeoIp">
<documentation>Looks up the geographical location of an IP Address and returns an ISO 3166 standard 2 character country code</documentation> 
<input message="s0:GetIso3166FromGeoIpSoapIn" /> 
<output message="s0:GetIso3166FromGeoIpSoapOut" /> 
</operation>
<operation name="GetCountryDataFromGeoIp">
<documentation>Looks up the geographical location of an IP Address and returns a full set of data for that Country</documentation> 
<input message="s0:GetCountryDataFromGeoIpSoapIn" /> 
<output message="s0:GetCountryDataFromGeoIpSoapOut" /> 
</operation>
<operation name="PostCodeSearch">
<documentation>Performs a ZIP / Postal Code Search</documentation> 
<input message="s0:PostCodeSearchSoapIn" /> 
<output message="s0:PostCodeSearchSoapOut" /> 
</operation>
<operation name="ValidateEmailAddress">
<documentation>Validates an SMTP EMail Address</documentation> 
<input message="s0:ValidateEmailAddressSoapIn" /> 
<output message="s0:ValidateEmailAddressSoapOut" /> 
</operation>
</portType>
<portType name="GeoServeHttpGet">
<operation name="GetIso3166FromGeoIp">
<documentation>Looks up the geographical location of an IP Address and returns an ISO 3166 standard 2 character country code</documentation> 
<input message="s0:GetIso3166FromGeoIpHttpGetIn" /> 
<output message="s0:GetIso3166FromGeoIpHttpGetOut" /> 
</operation>
<operation name="GetCountryDataFromGeoIp">
<documentation>Looks up the geographical location of an IP Address and returns a full set of data for that Country</documentation> 
<input message="s0:GetCountryDataFromGeoIpHttpGetIn" /> 
<output message="s0:GetCountryDataFromGeoIpHttpGetOut" /> 
</operation>
<operation name="PostCodeSearch">
<documentation>Performs a ZIP / Postal Code Search</documentation> 
<input message="s0:PostCodeSearchHttpGetIn" /> 
<output message="s0:PostCodeSearchHttpGetOut" /> 
</operation>
<operation name="ValidateEmailAddress">
<documentation>Validates an SMTP EMail Address</documentation> 
<input message="s0:ValidateEmailAddressHttpGetIn" /> 
<output message="s0:ValidateEmailAddressHttpGetOut" /> 
</operation>
</portType>
<portType name="GeoServeHttpPost">
<operation name="GetIso3166FromGeoIp">
<documentation>Looks up the geographical location of an IP Address and returns an ISO 3166 standard 2 character country code</documentation> 
<input message="s0:GetIso3166FromGeoIpHttpPostIn" /> 
<output message="s0:GetIso3166FromGeoIpHttpPostOut" /> 
</operation>
<operation name="GetCountryDataFromGeoIp">
<documentation>Looks up the geographical location of an IP Address and returns a full set of data for that Country</documentation> 
<input message="s0:GetCountryDataFromGeoIpHttpPostIn" /> 
<output message="s0:GetCountryDataFromGeoIpHttpPostOut" /> 
</operation>
<operation name="PostCodeSearch">
<documentation>Performs a ZIP / Postal Code Search</documentation> 
<input message="s0:PostCodeSearchHttpPostIn" /> 
<output message="s0:PostCodeSearchHttpPostOut" /> 
</operation>
<operation name="ValidateEmailAddress">
<documentation>Validates an SMTP EMail Address</documentation> 
<input message="s0:ValidateEmailAddressHttpPostIn" /> 
<output message="s0:ValidateEmailAddressHttpPostOut" /> 
</operation>
</portType>
<binding name="GeoServeSoap" type="s0:GeoServeSoap">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" /> 
<operation name="GetIso3166FromGeoIp">
<soap:operation soapAction="http://webservices.geomonster.com/GetIso3166FromGeoIp" style="document" /> 
<input>
<soap:body use="literal" /> 
</input>
<output>
<soap:body use="literal" /> 
</output>
</operation>
<operation name="GetCountryDataFromGeoIp">
<soap:operation soapAction="http://webservices.geomonster.com/GetCountryDataFromGeoIp" style="document" /> 
<input>
<soap:body use="literal" /> 
</input>
<output>
<soap:body use="literal" /> 
</output>
</operation>
<operation name="PostCodeSearch">
<soap:operation soapAction="http://webservices.geomonster.com/PostCodeSearch" style="document" /> 
<input>
<soap:body use="literal" /> 
</input>
<output>
<soap:body use="literal" /> 
</output>
</operation>
<operation name="ValidateEmailAddress">
<soap:operation soapAction="http://webservices.geomonster.com/ValidateEmailAddress" style="document" /> 
<input>
<soap:body use="literal" /> 
</input>
<output>
<soap:body use="literal" /> 
</output>
</operation>
</binding>
<binding name="GeoServeHttpGet" type="s0:GeoServeHttpGet">
<http:binding verb="GET" /> 
<operation name="GetIso3166FromGeoIp">
<http:operation location="/GetIso3166FromGeoIp" /> 
<input>
<http:urlEncoded /> 
</input>
<output>
<mime:mimeXml part="Body" /> 
</output>
</operation>
<operation name="GetCountryDataFromGeoIp">
<http:operation location="/GetCountryDataFromGeoIp" /> 
<input>
<http:urlEncoded /> 
</input>
<output>
<mime:content part="Body" type="text/xml" /> 
</output>
</operation>
<operation name="PostCodeSearch">
<http:operation location="/PostCodeSearch" /> 
<input>
<http:urlEncoded /> 
</input>
<output>
<mime:content part="Body" type="text/xml" /> 
</output>
</operation>
<operation name="ValidateEmailAddress">
<http:operation location="/ValidateEmailAddress" /> 
<input>
<http:urlEncoded /> 
</input>
<output>
<mime:mimeXml part="Body" /> 
</output>
</operation>
</binding>
<binding name="GeoServeHttpPost" type="s0:GeoServeHttpPost">
<http:binding verb="POST" /> 
<operation name="GetIso3166FromGeoIp">
<http:operation location="/GetIso3166FromGeoIp" /> 
<input>
<mime:content type="application/x-www-form-urlencoded" /> 
</input>
<output>
<mime:mimeXml part="Body" /> 
</output>
</operation>
<operation name="GetCountryDataFromGeoIp">
<http:operation location="/GetCountryDataFromGeoIp" /> 
<input>
<mime:content type="application/x-www-form-urlencoded" /> 
</input>
<output>
<mime:content part="Body" type="text/xml" /> 
</output>
</operation>
<operation name="PostCodeSearch">
<http:operation location="/PostCodeSearch" /> 
<input>
<mime:content type="application/x-www-form-urlencoded" /> 
</input>
<output>
<mime:content part="Body" type="text/xml" /> 
</output>
</operation>
<operation name="ValidateEmailAddress">
<http:operation location="/ValidateEmailAddress" /> 
<input>
<mime:content type="application/x-www-form-urlencoded" /> 
</input>
<output>
<mime:mimeXml part="Body" /> 
</output>
</operation>
</binding>
<service name="GeoServe">
<documentation>GeoMonster Public Web Services - get a demo license key from www.geomonster.com</documentation> 
<port name="GeoServeSoap" binding="s0:GeoServeSoap">
<soap:address location="http://www.geomonster.com/GeoServe.asmx" /> 
</port>
<port name="GeoServeHttpGet" binding="s0:GeoServeHttpGet">
<http:address location="http://www.geomonster.com/GeoServe.asmx" /> 
</port>
<port name="GeoServeHttpPost" binding="s0:GeoServeHttpPost">
<http:address location="http://www.geomonster.com/GeoServe.asmx" /> 
</port>
</service>
</definitions>