xml.wsdl.model/test/unit/src/org/netbeans/modules/xml/wsdl/model/extensions/soap/validation/resources/valid/IMSReplyService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by SBYN (SeeBeyond) -->
<wsdl:definitions targetNamespace="http://dv1-ng7ezp6igh9:9080/IBSPilotWeb/services/IMSReplyService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://dv1-ng7ezp6igh9:9080/IBSPilotWeb/services/IMSReplyService" xmlns:intf="http://dv1-ng7ezp6igh9:9080/IBSPilotWeb/services/IMSReplyService" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="urn:BeanService" xmlns:tns2="http://webservice.pilot.raptor.stpaul.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<schema targetNamespace="urn:BeanService" xmlns="http://www.w3.org/2001/XMLSchema">
			<complexType name="IMSReply">
				<sequence>
					<element name="reply" nillable="true" type="xsd:string"/>
				</sequence>
			</complexType>
		</schema>
		<schema targetNamespace="http://webservice.pilot.raptor.stpaul.com" xmlns="http://www.w3.org/2001/XMLSchema">
			<element name="imsReply" type="tns1:IMSReply"/>
		</schema>
		<schema targetNamespace="http://dv1-ng7ezp6igh9:9080/IBSPilotWeb/services/IMSReplyService" xmlns="http://www.w3.org/2001/XMLSchema">
			<element name="echoIMSReplyReturn" type="xsd:string"/>
		</schema>
	</wsdl:types>
	<wsdl:message name="echoIMSReplyRequest">
		<wsdl:part element="tns2:imsReply" name="imsReply"/>
	</wsdl:message>
	<wsdl:message name="echoIMSReplyResponse">
		<wsdl:part element="impl:echoIMSReplyReturn" name="echoIMSReplyReturn"/>
	</wsdl:message>
	<wsdl:portType name="IMSReplyServiceImpl">
		<wsdl:operation name="echoIMSReply" parameterOrder="imsReply">
			<wsdl:input message="impl:echoIMSReplyRequest" name="echoIMSReplyRequest"/>
			<wsdl:output message="impl:echoIMSReplyResponse" name="echoIMSReplyResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="IMSReplyServiceSoapBinding" type="impl:IMSReplyServiceImpl">
		<wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="echoIMSReply">
			<wsdlsoap:operation soapAction=""/>
			<wsdl:input name="echoIMSReplyRequest">
				<wsdlsoap:body namespace="http://webservice.pilot.raptor.stpaul.com" use="literal"/>
			</wsdl:input>
			<wsdl:output name="echoIMSReplyResponse">
				<wsdlsoap:body namespace="http://dv1-ng7ezp6igh9:9080/IBSPilotWeb/services/IMSReplyService" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="IMSReplyServiceImplService">
		<wsdl:port binding="impl:IMSReplyServiceSoapBinding" name="IMSReplyService">
			<wsdlsoap:address location="http://stp-ex028473:9080/IBSPilotWeb/services/IMSReplyService"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
