xml.wsdl.model/test/unit/src/org/netbeans/modules/xml/wsdl/model/extensions/soap/validation/resources/valid/LodeStarLocalHost.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://lab201:8080/heraldws/services/LodeStar" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://lab201:8080/heraldws/services/LodeStar" xmlns:intf="http://lab201:8080/heraldws/services/LodeStar" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:message name="validateXMLResponse">
    <wsdl:part name="validateXMLReturn" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="validateRequest">
    <wsdl:part name="message" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="validateXMLRequest">
    <wsdl:part name="message" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="validateResponse">
    <wsdl:part name="validateReturn" type="xsd:string"/>
  </wsdl:message>
  <wsdl:portType name="LodeStar">
    <wsdl:operation name="validate" parameterOrder="message">
      <wsdl:input message="impl:validateRequest" name="validateRequest"/>
      <wsdl:output message="impl:validateResponse" name="validateResponse"/>
    </wsdl:operation>
    <wsdl:operation name="validateXML" parameterOrder="message">
      <wsdl:input message="impl:validateXMLRequest" name="validateXMLRequest"/>
      <wsdl:output message="impl:validateXMLResponse" name="validateXMLResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LodeStarSoapBinding" type="impl:LodeStar">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="validate">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="validateRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://services.lodestarws.ercot.com" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="validateResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://lab201:8080/heraldws/services/LodeStar" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validateXML">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="validateXMLRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://services.lodestarws.ercot.com" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="validateXMLResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://lab201:8080/heraldws/services/LodeStar" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LodeStarService">
    <wsdl:port binding="impl:LodeStarSoapBinding" name="LodeStar">
      <wsdlsoap:address location="http://localhost:8089/heraldws/services/LodeStar"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>