xml.wsdl.model/test/unit/src/org/netbeans/modules/xml/wsdl/model/extensions/soap/validation/resources/valid/NucleusPharmaServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://dendrite.com/2003/10/NucleusPharmaServices" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://dendrite.com/2003/10/NucleusPharmaServices" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://dendrite.com/2003/10/NucleusPharmaServices">
      <s:element name="xmlCustomer">
        <s:complexType mixed="true">
          <s:sequence>
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateCustomerResult">
        <s:complexType mixed="true">
          <s:sequence>
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="ValidateCustomerSoapIn">
    <part name="xmlCustomer" element="s0:xmlCustomer" />
  </message>
  <message name="ValidateCustomerSoapOut">
    <part name="ValidateCustomerResult" element="s0:ValidateCustomerResult" />
  </message>
  <portType name="NucleusPharmaServicesSoap">
    <operation name="ValidateCustomer">
      <documentation>Validates if the Customer is valid. If not present in NP, add to NP Cust Master table and returns the standardized customer</documentation>
      <input message="s0:ValidateCustomerSoapIn" />
      <output message="s0:ValidateCustomerSoapOut" />
    </operation>
  </portType>
  <binding name="NucleusPharmaServicesSoap" type="s0:NucleusPharmaServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="ValidateCustomer">
      <soap:operation soapAction="http://dendrite.com/2003/10/NucleusPharmaServices/ValidateCustomer" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="NucleusPharmaServices">
    <port name="NucleusPharmaServicesSoap" binding="s0:NucleusPharmaServicesSoap">
      <soap:address location="http://localhost/npws/NucleusPharmaServices.asmx" />
    </port>
  </service>
</definitions>