xml.wsdl.model/test/unit/src/org/netbeans/modules/xml/wsdl/model/extensions/soap/validation/resources/valid/OmService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://dendrite.com/om" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://dendrite.com/om" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://dendrite.com/om">
      <s:element name="customer">
        <s:complexType mixed="true">
          <s:sequence>
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddNewCustomerResult">
        <s:complexType mixed="true">
          <s:sequence>
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="alignment">
        <s:complexType mixed="true">
          <s:sequence>
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AlignCustomerResult">
        <s:complexType mixed="true">
          <s:sequence>
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UndoAlignCustomerResult">
        <s:complexType mixed="true">
          <s:sequence>
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="feedback">
        <s:complexType mixed="true">
          <s:sequence>
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReAlignCustomerFeedbackResult">
        <s:complexType mixed="true">
          <s:sequence>
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UndoAddNewCustomerResult">
        <s:complexType mixed="true">
          <s:sequence>
            <s:any />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="AddNewCustomerSoapIn">
    <part name="customer" element="s0:customer" />
  </message>
  <message name="AddNewCustomerSoapOut">
    <part name="AddNewCustomerResult" element="s0:AddNewCustomerResult" />
  </message>
  <message name="AlignCustomerSoapIn">
    <part name="alignment" element="s0:alignment" />
  </message>
  <message name="AlignCustomerSoapOut">
    <part name="AlignCustomerResult" element="s0:AlignCustomerResult" />
  </message>
  <message name="UndoAlignCustomerSoapIn">
    <part name="alignment" element="s0:alignment" />
  </message>
  <message name="UndoAlignCustomerSoapOut">
    <part name="UndoAlignCustomerResult" element="s0:UndoAlignCustomerResult" />
  </message>
  <message name="ReAlignCustomerFeedbackSoapIn">
    <part name="feedback" element="s0:feedback" />
  </message>
  <message name="ReAlignCustomerFeedbackSoapOut">
    <part name="ReAlignCustomerFeedbackResult" element="s0:ReAlignCustomerFeedbackResult" />
  </message>
  <message name="UndoAddNewCustomerSoapIn">
    <part name="customer" element="s0:customer" />
  </message>
  <message name="UndoAddNewCustomerSoapOut">
    <part name="UndoAddNewCustomerResult" element="s0:UndoAddNewCustomerResult" />
  </message>
  <portType name="OmServiceSoap">
    <operation name="AddNewCustomer">
      <input message="s0:AddNewCustomerSoapIn" />
      <output message="s0:AddNewCustomerSoapOut" />
    </operation>
    <operation name="AlignCustomer">
      <input message="s0:AlignCustomerSoapIn" />
      <output message="s0:AlignCustomerSoapOut" />
    </operation>
    <operation name="UndoAlignCustomer">
      <input message="s0:UndoAlignCustomerSoapIn" />
      <output message="s0:UndoAlignCustomerSoapOut" />
    </operation>
    <operation name="ReAlignCustomerFeedback">
      <input message="s0:ReAlignCustomerFeedbackSoapIn" />
      <output message="s0:ReAlignCustomerFeedbackSoapOut" />
    </operation>
    <operation name="UndoAddNewCustomer">
      <input message="s0:UndoAddNewCustomerSoapIn" />
      <output message="s0:UndoAddNewCustomerSoapOut" />
    </operation>
  </portType>
  <binding name="OmServiceSoap" type="s0:OmServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
    <operation name="AddNewCustomer">
      <soap:operation soapAction="http://dendrite.com/om/AddNewCustomer" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="AlignCustomer">
      <soap:operation soapAction="http://dendrite.com/om/AlignCustomer" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="UndoAlignCustomer">
      <soap:operation soapAction="http://dendrite.com/om/UndoAlignCustomer" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ReAlignCustomerFeedback">
      <soap:operation soapAction="http://dendrite.com/om/ReAlignCustomerFeedback" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="UndoAddNewCustomer">
      <soap:operation soapAction="http://dendrite.com/om/UndoAddNewCustomer" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="OmService">
    <port name="OmServiceSoap" binding="s0:OmServiceSoap">
      <soap:address location="http://localhost/omws/OmService.asmx" />
    </port>
  </service>
</definitions>