xml.wsdl.model/test/unit/src/org/netbeans/modules/xml/wsdl/model/extensions/soap/validation/resources/valid/OtRecognitionNew.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://10.160.52.51:8080/axis/services/OtRecognition" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://10.160.52.51:8080/axis/services/OtRecognition" xmlns:intf="http://10.160.52.51:8080/axis/services/OtRecognition" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="OtRecognition" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><wsdl:types><schema targetNamespace="OtRecognition" xmlns="http://www.w3.org/2001/XMLSchema"><import namespace="http://schemas.xmlsoap.org/soap/encoding/"/><complexType name="OtResponse"><sequence><element name="status" type="xsd:int"/><element name="session" type="xsd:int"/><element name="output" nillable="true" type="xsd:string"/></sequence></complexType></schema></wsdl:types>
  <wsdl:message name="recognizeFileResponse">
    <wsdl:part name="recognizeFileReturn" type="tns1:OtResponse"/>
  </wsdl:message>
  <wsdl:message name="recognizeBufResponse">
    <wsdl:part name="recognizeBufReturn" type="tns1:OtResponse"/>
  </wsdl:message>
  <wsdl:message name="recognizeFileRequest">
    <wsdl:part name="file_name" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="recognizeBufRequest">
    <wsdl:part name="input" type="xsd:string"/>
  </wsdl:message>
  <wsdl:portType name="OtRecognition">
    <wsdl:operation name="recognizeBuf" parameterOrder="input">
      <wsdl:input message="impl:recognizeBufRequest" name="recognizeBufRequest"/>
      <wsdl:output message="impl:recognizeBufResponse" name="recognizeBufResponse"/>
    </wsdl:operation>
    <wsdl:operation name="recognizeFile" parameterOrder="file_name">
      <wsdl:input message="impl:recognizeFileRequest" name="recognizeFileRequest"/>
      <wsdl:output message="impl:recognizeFileResponse" name="recognizeFileResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OtRecognitionSoapBinding" type="impl:OtRecognition">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="recognizeBuf">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="recognizeBufRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://10.160.52.51:8080/axis/services/OtRecognition" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="recognizeBufResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://10.160.52.51:8080/axis/services/OtRecognition" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recognizeFile">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="recognizeFileRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://10.160.52.51:8080/axis/services/OtRecognition" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="recognizeFileResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://10.160.52.51:8080/axis/services/OtRecognition" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OtRecognitionService">
    <wsdl:port binding="impl:OtRecognitionSoapBinding" name="OtRecognition">
      <wsdlsoap:address location="http://10.160.52.51:8080/axis/services/OtRecognition"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>