xml.wsdl.model/test/unit/src/org/netbeans/modules/xml/wsdl/model/extensions/soap/validation/resources/valid/returnCanNumbers.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
    name="returnCanNumbers"
    targetNamespace="http://www.sbynnih.com/returnCanNumbers.wsdl"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://www.sbynnih.com/returnCanNumbers.wsdl"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsd1="http://www.sbynnih.com/returnCanNumbers.xsd1"
    xmlns:xsd2="http://www.sbynnih.com/returnCanNumbers.xsd2">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">SOA Editor - http://www.soaeditor.com</wsdl:documentation>
    <wsdl:types>
        <xsd:schema
            targetNamespace="http://www.sbynnih.com/returnCanNumbers.xsd1"
            xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
            xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsd1="http://www.sbynnih.com/returnCanNumbers.xsd1">
            <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/"/>
            <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
            <xsd:complexType name="rptResponse">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="xCCid" type="xsd:long"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="xConcatSegs" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="xConcatIDs" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="xConcatDescrs" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="xErrorMsg" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="xWftStatus" type="xsd:decimal"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="status1" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="status2" type="xsd:string"/>
                    <xsd:element
                        maxOccurs="1"
                        minOccurs="1"
                        name="xNewCombination"
                        type="xsd:decimal"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
        <xsd:schema
            targetNamespace="http://www.sbynnih.com/returnCanNumbers.xsd2"
            xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsd2="http://www.sbynnih.com/returnCanNumbers.xsd2">
            <xsd:import namespace="http://www.sbynnih.com/returnCanNumbers.xsd1"/>
            <xsd:complexType name="arrayResponse">
                <xsd:sequence>
                    <xsd:element
                        maxOccurs="unbounded"
                        minOccurs="1"
                        name="arrayRpt"
                        type="xsd1:rptResponse"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="NewMessageResponse">
        <wsdl:part name="CanResponse" type="xsd2:arrayResponse"/>
        <wsdl:part name="outStatus1" type="xsd:string"/>
        <wsdl:part name="outStatus2" type="xsd:string"/>
    </wsdl:message>
    <wsdl:message name="NewMessageRequest">
        <wsdl:part name="canRequestNumber" type="xsd:string"/>
        <wsdl:part name="inStatus1" type="xsd:string"/>
        <wsdl:part name="inStatus2" type="xsd:string"/>
    </wsdl:message>
    <wsdl:portType name="returnCanNumbersPortType">
        <wsdl:operation name="getCanNumbers">
            <wsdl:input message="tns:NewMessageRequest"/>
            <wsdl:output message="tns:NewMessageResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="returnCanNumbersBinding" type="tns:returnCanNumbersPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getCanNumbers">
            <soap:operation
                soapAction="capeconnect:returnCanNumbers:returnCanNumbersPortType#getCanNumbers"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="returnCanNumbers">
        <wsdl:port binding="tns:returnCanNumbersBinding" name="returnCanNumbersPort">
            <soap:address location="http://localhost:8000/ccx/returnCanNumbers"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>