xml.wsdl.model/test/unit/src/org/netbeans/modules/xml/wsdl/model/extensions/soap/validation/resources/valid/WSFilenetAxa.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://axcgx26041:8080/axis8/services/WSFilenetAxa" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://axcgx26041:8080/axis8/services/WSFilenetAxa" xmlns:intf="http://axcgx26041:8080/axis8/services/WSFilenetAxa" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.2.1
Built on Jun 14, 2005 (09:15:57 EDT)-->

   <wsdl:message name="GetDocumentIdRequest">

      <wsdl:part name="title" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="AddDocumentResponse">

      <wsdl:part name="AddDocumentReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="GetDocumentIdResponse">

      <wsdl:part name="GetDocumentIdReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="GetDocumentUrlRequest">

   </wsdl:message>

   <wsdl:message name="GetDocumentUrlResponse">

   </wsdl:message>

   <wsdl:message name="AddDocumentRequest">

   </wsdl:message>

   <wsdl:message name="AddLocalDocumentResponse">

      <wsdl:part name="AddLocalDocumentReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="AddLocalDocumentRequest">

      <wsdl:part name="title" type="xsd:string"/>

      <wsdl:part name="filename" type="xsd:string"/>

   </wsdl:message>

   <wsdl:portType name="WSFilenetAxa">

      <wsdl:operation name="GetDocumentUrl">

         <wsdl:input message="impl:GetDocumentUrlRequest" name="GetDocumentUrlRequest"/>

         <wsdl:output message="impl:GetDocumentUrlResponse" name="GetDocumentUrlResponse"/>

      </wsdl:operation>

      <wsdl:operation name="AddDocument">

         <wsdl:input message="impl:AddDocumentRequest" name="AddDocumentRequest"/>

         <wsdl:output message="impl:AddDocumentResponse" name="AddDocumentResponse"/>

      </wsdl:operation>

      <wsdl:operation name="AddLocalDocument" parameterOrder="title filename">

         <wsdl:input message="impl:AddLocalDocumentRequest" name="AddLocalDocumentRequest"/>

         <wsdl:output message="impl:AddLocalDocumentResponse" name="AddLocalDocumentResponse"/>

      </wsdl:operation>

      <wsdl:operation name="GetDocumentId" parameterOrder="title">

         <wsdl:input message="impl:GetDocumentIdRequest" name="GetDocumentIdRequest"/>

         <wsdl:output message="impl:GetDocumentIdResponse" name="GetDocumentIdResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="WSFilenetAxaSoapBinding" type="impl:WSFilenetAxa">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="GetDocumentUrl">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="GetDocumentUrlRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://DefaultNamespace" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="GetDocumentUrlResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://axcgx26041:8080/axis8/services/WSFilenetAxa" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="AddDocument">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="AddDocumentRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://DefaultNamespace" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="AddDocumentResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://axcgx26041:8080/axis8/services/WSFilenetAxa" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="AddLocalDocument">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="AddLocalDocumentRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://DefaultNamespace" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="AddLocalDocumentResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://axcgx26041:8080/axis8/services/WSFilenetAxa" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="GetDocumentId">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="GetDocumentIdRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://DefaultNamespace" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="GetDocumentIdResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://axcgx26041:8080/axis8/services/WSFilenetAxa" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="WSFilenetAxaService">

      <wsdl:port binding="impl:WSFilenetAxaSoapBinding" name="WSFilenetAxa">

         <wsdlsoap:address location="http://axcgx26041:8080/axis8/services/WSFilenetAxa"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
