xml.wsdl.model/test/unit/src/org/netbeans/modules/xml/wsdl/model/extensions/soap/validation/resources/valid/XconnectProxy.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:proxy.axis.soap.xconnect.trx.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn:proxy.axis.soap.xconnect.trx.com" xmlns:intf="urn:proxy.axis.soap.xconnect.trx.com" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.2RC2
Built on Nov 16, 2004 (12:19:44 EST)-->
 <wsdl:types>
  <schema targetNamespace="urn:proxy.axis.soap.xconnect.trx.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_xsd_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="soapenc:string[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getNextServerRequest">

      <wsdl:part name="in0" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getAllActiveServersRequest">

   </wsdl:message>

   <wsdl:message name="getAllActiveServersResponse">

      <wsdl:part name="getAllActiveServersReturn" type="impl:ArrayOf_xsd_string"/>

   </wsdl:message>

   <wsdl:message name="getNextServerResponse">

      <wsdl:part name="getNextServerReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:portType name="XconnectProxy">

      <wsdl:operation name="getNextServer" parameterOrder="in0">

         <wsdl:input message="impl:getNextServerRequest" name="getNextServerRequest"/>

         <wsdl:output message="impl:getNextServerResponse" name="getNextServerResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getAllActiveServers">

         <wsdl:input message="impl:getAllActiveServersRequest" name="getAllActiveServersRequest"/>

         <wsdl:output message="impl:getAllActiveServersResponse" name="getAllActiveServersResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="XconnectProxySoapBinding" type="impl:XconnectProxy">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getNextServer">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getNextServerRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:proxy.axis.soap.xconnect.trx.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getNextServerResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:proxy.axis.soap.xconnect.trx.com" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllActiveServers">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllActiveServersRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:proxy.axis.soap.xconnect.trx.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getAllActiveServersResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:proxy.axis.soap.xconnect.trx.com" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="XconnectProxyService">

      <wsdl:port binding="impl:XconnectProxySoapBinding" name="XconnectProxy">

         <wsdlsoap:address location="http://localhost:8085/XconnectProxy/services/XconnectProxy"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
