xml.wsdl.model/test/unit/src/org/netbeans/modules/xml/wsdl/model/extensions/soap/validation/resources/valid/Xconnect.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:handler.axis.soap.xconnect.trx.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn:handler.axis.soap.xconnect.trx.com" xmlns:intf="urn:handler.axis.soap.xconnect.trx.com" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="http://soap.shared.xconnect.trx.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.2RC2
Built on Nov 16, 2004 (12:19:44 EST)-->
 <wsdl:types>
  <schema targetNamespace="http://soap.shared.xconnect.trx.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="urn:handler.axis.soap.xconnect.trx.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="XconnectParam">
    <sequence>
     <element name="id" nillable="true" type="xsd:string"/>
     <element name="value" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="urn:handler.axis.soap.xconnect.trx.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://soap.shared.xconnect.trx.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_tns2_XconnectParam">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:XconnectParam[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getAdminStatsResponse">

      <wsdl:part name="getAdminStatsReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="startServerRequest">

      <wsdl:part name="in0" type="xsd:string"/>

      <wsdl:part name="in1" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="resetTimeoutResponse">

      <wsdl:part name="resetTimeoutReturn" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="startServerResponse">

   </wsdl:message>

   <wsdl:message name="stopServerRequest">

      <wsdl:part name="in0" type="xsd:string"/>

      <wsdl:part name="in1" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="executeClientRequestResponse">

      <wsdl:part name="executeClientRequestReturn" type="xsd:anyType"/>

   </wsdl:message>

   <wsdl:message name="executeClientRequestRequest">

      <wsdl:part name="in0" type="xsd:string"/>

      <wsdl:part name="in1" type="xsd:string"/>

      <wsdl:part name="in2" type="xsd:string"/>

      <wsdl:part name="in3" type="xsd:anyType"/>

      <wsdl:part name="in4" type="impl:ArrayOf_tns2_XconnectParam"/>

   </wsdl:message>

   <wsdl:message name="restartServerResponse">

   </wsdl:message>

   <wsdl:message name="restartServerRequest">

      <wsdl:part name="in0" type="xsd:string"/>

      <wsdl:part name="in1" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="resetTimeoutRequest">

      <wsdl:part name="in0" type="xsd:long"/>

      <wsdl:part name="in1" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="openSessionResponse">

      <wsdl:part name="openSessionReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="openSessionRequest">

      <wsdl:part name="in0" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="closeSessionResponse">

      <wsdl:part name="closeSessionReturn" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="getAdminStatsRequest">

   </wsdl:message>

   <wsdl:message name="stopServerResponse">

   </wsdl:message>

   <wsdl:message name="closeSessionRequest">

      <wsdl:part name="in0" type="xsd:string"/>

   </wsdl:message>

   <wsdl:portType name="XconnectHandler">

      <wsdl:operation name="openSession" parameterOrder="in0">

         <wsdl:input message="impl:openSessionRequest" name="openSessionRequest"/>

         <wsdl:output message="impl:openSessionResponse" name="openSessionResponse"/>

      </wsdl:operation>

      <wsdl:operation name="executeClientRequest" parameterOrder="in0 in1 in2 in3 in4">

         <wsdl:input message="impl:executeClientRequestRequest" name="executeClientRequestRequest"/>

         <wsdl:output message="impl:executeClientRequestResponse" name="executeClientRequestResponse"/>

      </wsdl:operation>

      <wsdl:operation name="resetTimeout" parameterOrder="in0 in1">

         <wsdl:input message="impl:resetTimeoutRequest" name="resetTimeoutRequest"/>

         <wsdl:output message="impl:resetTimeoutResponse" name="resetTimeoutResponse"/>

      </wsdl:operation>

      <wsdl:operation name="closeSession" parameterOrder="in0">

         <wsdl:input message="impl:closeSessionRequest" name="closeSessionRequest"/>

         <wsdl:output message="impl:closeSessionResponse" name="closeSessionResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getAdminStats">

         <wsdl:input message="impl:getAdminStatsRequest" name="getAdminStatsRequest"/>

         <wsdl:output message="impl:getAdminStatsResponse" name="getAdminStatsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="stopServer" parameterOrder="in0 in1">

         <wsdl:input message="impl:stopServerRequest" name="stopServerRequest"/>

         <wsdl:output message="impl:stopServerResponse" name="stopServerResponse"/>

      </wsdl:operation>

      <wsdl:operation name="startServer" parameterOrder="in0 in1">

         <wsdl:input message="impl:startServerRequest" name="startServerRequest"/>

         <wsdl:output message="impl:startServerResponse" name="startServerResponse"/>

      </wsdl:operation>

      <wsdl:operation name="restartServer" parameterOrder="in0 in1">

         <wsdl:input message="impl:restartServerRequest" name="restartServerRequest"/>

         <wsdl:output message="impl:restartServerResponse" name="restartServerResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="XconnectSoapBinding" type="impl:XconnectHandler">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="openSession">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="openSessionRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:handler.axis.soap.xconnect.trx.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="openSessionResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:handler.axis.soap.xconnect.trx.com" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="executeClientRequest">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="executeClientRequestRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:handler.axis.soap.xconnect.trx.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="executeClientRequestResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:handler.axis.soap.xconnect.trx.com" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="resetTimeout">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="resetTimeoutRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:handler.axis.soap.xconnect.trx.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="resetTimeoutResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:handler.axis.soap.xconnect.trx.com" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="closeSession">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="closeSessionRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:handler.axis.soap.xconnect.trx.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="closeSessionResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:handler.axis.soap.xconnect.trx.com" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAdminStats">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAdminStatsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:handler.axis.soap.xconnect.trx.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getAdminStatsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:handler.axis.soap.xconnect.trx.com" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="stopServer">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="stopServerRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:handler.axis.soap.xconnect.trx.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="stopServerResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:handler.axis.soap.xconnect.trx.com" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="startServer">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="startServerRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:handler.axis.soap.xconnect.trx.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="startServerResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:handler.axis.soap.xconnect.trx.com" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="restartServer">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="restartServerRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:handler.axis.soap.xconnect.trx.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="restartServerResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:handler.axis.soap.xconnect.trx.com" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="XconnectHandlerService">

      <wsdl:port binding="impl:XconnectSoapBinding" name="Xconnect">

         <wsdlsoap:address location="http://atl30222:8080/Xconnect/services/Xconnect"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
