xml.wsdl.model/test/unit/src/org/netbeans/modules/xml/wsdl/model/extensions/soap/validation/resources/valid/xsltnewscounter.wsdl

<?xml version="1.0" encoding="utf-8" ?>
<definitions targetNamespace="xsltnewscounter"
    name="xsltnewscounter"
    xmlns:typens="xsltnewscounter"
    xmlns:tns="xsltnewscounter"
    xmlns:plnk="http://schemas.xmlsoap.org/ws/2004/03/partner-link/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:defns="xsltnewscounter">
    <plnk:partnerLinkType name="NewsCounterPlt" xmlns:plnk="http://schemas.xmlsoap.org/ws/2004/03/partner-link/">
        <plnk:role name="NewsCounterRn" portType="tns:NewsCounterPt"></plnk:role>
    </plnk:partnerLinkType>
    <types>
        <xsd:schema targetNamespace="xsltnewscounter"
            xmlns:tns="xsltnewscounter"
            xmlns:typens="xsltnewscounter"
            xmlns:plnk="http://schemas.xmlsoap.org/ws/2004/03/partner-link/"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://schemas.xmlsoap.org/wsdl/"
            xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
            xmlns:defns="xsltnewscounter"
            xmlns:slnk="http://schemas.xmlsoap.org/ws/2002/07/service-link/">
            
            
            <xsd:element name="Response_MsgObj">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element type="xsd:int" name="items"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="Request_MsgObj">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element type="xsd:string" name="p1"/>
                        <xsd:element type="xsd:string" name="p2"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>
    <message name="Request_Msg">
        <part name="request"
        element="typens:Request_MsgObj"></part>
    </message>
    <message name="Response_Msg">
        <part name="response"
        element="typens:Response_MsgObj"></part>
    </message>
    <portType name="NewsCounterPt">
        <operation name="getCount">
            <input message="tns:Request_Msg"></input>
            <output message="tns:Response_Msg"></output>
        </operation>
    </portType>
    <binding name="NewsCounterBinding"
        type="defns:NewsCounterPt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getCount">
            <soap:operation soapAction="getCount"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="NewsCounterService">
        <port name="NewsCounterPort" binding="tns:NewsCounterBinding">
            <soap:address location="http://localhost:12100/service/xsltnewscounter"/>
        </port>
    </service>
</definitions>