iep.model/src/org/netbeans/modules/iep/model/validator/resources/iep_def.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- 
 # BEGIN_HEADER - DO NOT EDIT
 # 
 # The contents of this file are subject to the terms
 # of the Common Development and Distribution License
 # (the "License").  You may not use this file except
 # in compliance with the License.
 #
 # You can obtain a copy of the license at
 # https://open-jbi-components.dev.java.net/public/CDDLv1.0.html.
 # See the License for the specific language governing
 # permissions and limitations under the License.
 #
 # When distributing Covered Code, include this CDDL
 # HEADER in each file and include the License file at
 # https://open-jbi-components.dev.java.net/public/CDDLv1.0.html.
 # If applicable add the following below this CDDL HEADER,
 # with the fields enclosed by brackets "[]" replaced with
 # your own identifying information: Portions Copyright
 # [year] [name of copyright owner]
-->
<!-- 
 # @(#)wfse_def.xsd 
 #
 # Copyright 2004-2007 Sun Microsystems, Inc. All Rights Reserved.
 # 
 # END_HEADER - DO NOT EDIT
-->
<!--W3C Schema generated by XMLSpy v2006 sp1 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://jbi.com.sun/wfse" xmlns:tc="http://jbi.com.sun/wfse/wsdl/TaskCommon" targetNamespace="http://jbi.com.sun/wfse" elementFormDefault="qualified">
	<xs:element name="tasks" type="tns:tTasks"/>
	<xs:complexType name="tAssignment">
		<xs:sequence>
			<xs:element name="user" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="group" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="role" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="expressionLanguage" type="xs:anyURI" default="urn:oasis:names:tc:wsbpel:2.0:sublang:xpath1.0"/>
	</xs:complexType>
	<xs:complexType name="tTimeout">
		<xs:sequence>
			<xs:group ref="tns:deadlineOrDurationGroup"/>
		    <xs:element name="localNotification" type="tns:tLocalNotification" minOccurs="0" maxOccurs="unbounded"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="tEscalation">
		<xs:sequence>
			<xs:group ref="tns:deadlineOrDurationGroup"/>
			<xs:element name="assignment" type="tns:tAssignment" minOccurs="0"/>
		    <xs:element name="localNotification" type="tns:tLocalNotification" minOccurs="0" maxOccurs="unbounded"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:group name="deadlineOrDurationGroup">
		<xs:choice>
			<xs:element name="deadline" type="tns:tDeadline-expr"/>
			<xs:element name="duration" type="tns:tDuration-expr"/>
		</xs:choice>
	</xs:group>
	<xs:complexType name="tImport">
		<xs:attribute name="namespace" type="xs:anyURI" use="required"/>
		<xs:attribute name="location" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="tTask">
		<xs:sequence>
                        <xs:element name="init" type="tns:tInit" minOccurs="0"/>
			<xs:element name="assignment" type="tns:tAssignment" minOccurs="0"/>
			<xs:element name="timeout" type="tns:tTimeout" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="escalation" type="tns:tEscalation" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="notification" type="tns:tNotification" minOccurs="0" maxOccurs="unbounded"/>
		    <xs:element name="action" type="tns:tAction" minOccurs="0" maxOccurs="unbounded"></xs:element>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="partnerLink" type="xs:string" use="required"/>
		<xs:attribute name="partnerLinkType" type="xs:QName" use="required"/>
		<xs:attribute name="role" type="xs:string" use="required"/>
		<xs:attribute name="operation" type="xs:QName" use="required"/>
	</xs:complexType>
        <xs:complexType name="tInit">
            <xs:sequence>
                <xs:element name="variables" type="tns:tVariables" minOccurs="0" />
                <xs:element name="variable-init" type="tns:tVariableInit" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>           
        </xs:complexType>
        <xs:complexType name="tVariables">
            <xs:sequence>
                <xs:element name="variable" type="tns:tVariable" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
        <xs:complexType name="tVariable">
            <xs:attribute name="name" type="xs:string" use="required" />
            <xs:attribute name="messageType" type="xs:QName" use="optional" />
            <xs:attribute name="type" type="xs:QName" use="optional" />
            <xs:attribute name="element" type="xs:QName" use="optional" />         
        </xs:complexType>        
        <xs:complexType name="tVariableInit">
            <xs:sequence>
                <xs:element name="copy" type="tns:tCopy" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>          
        </xs:complexType>
        <xs:complexType name="tCopy">
            <xs:sequence>
                <xs:element name="from" type="tns:tFrom" />
                <xs:element name="to" type="tns:tTo" />
            </xs:sequence>    
        </xs:complexType>
        
	<xs:complexType name="tExpression" mixed="true">
		<xs:sequence>
			<xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="expressionLanguage" type="xs:anyURI" default="urn:oasis:names:tc:wsbpel:2.0:sublang:xpath1.0"/>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>
	<xs:complexType name="tDuration-expr" mixed="true">
		<xs:complexContent mixed="true">
			<xs:extension base="tns:tExpression"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tDeadline-expr" mixed="true">
		<xs:complexContent mixed="true">
			<xs:extension base="tns:tExpression"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tFrom" mixed="true">
		<xs:complexContent mixed="true">
			<xs:extension base="tns:tExpression"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tTo" mixed="true">
		<xs:complexContent mixed="true">
			<xs:extension base="tns:tExpression"/>
		</xs:complexContent>
	</xs:complexType>        
        
	<xs:complexType name="tTasks">
		<xs:sequence>
			<xs:element name="import" type="tns:tImport" maxOccurs="unbounded"/>
			<xs:element name="task" type="tns:tTask" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="targetNamespace" type="xs:anyURI" use="required"/>
	</xs:complexType>
	<xs:complexType name="tNotification">
		<xs:sequence>
                    <xs:element name="recipient" type="tns:tRecipient" maxOccurs="unbounded"></xs:element>
		    <xs:element name="subject" type="tns:tSubject" minOccurs="0"></xs:element>
		    <xs:element name="message" type="tns:tMessage"></xs:element>
		    
		</xs:sequence>
	    <xs:attributeGroup ref="tns:commonAttributes"/>
	</xs:complexType>
	<xs:complexType name="tAction">
		<xs:sequence>
		    <xs:element name="localNotification" type="tns:tLocalNotification" maxOccurs="unbounded" minOccurs="0"></xs:element>
		</xs:sequence>
		<xs:attribute name="type" type="tns:tActionType"/>
	</xs:complexType>
	<xs:complexType name="tAddress" mixed="true">
	    <xs:complexContent>
	        <xs:extension base="tns:tExpression">
	            <xs:sequence/>
	        </xs:extension>
	    </xs:complexContent>
	</xs:complexType>
	<xs:complexType name="tRecipient" mixed="true">
		<xs:sequence>
			<xs:element name="address" type="tns:tAddress" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	    <xs:attribute name="part" type="xs:string"/>
	</xs:complexType>
	
	<xs:simpleType name="tActionType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="UnAssigned"/>
			<xs:enumeration value="Assigned"/>
			<xs:enumeration value="Claimed"/>
			<xs:enumeration value="Completed"/>
			<xs:enumeration value="Expired"/>
			<xs:enumeration value="Escalated"/>
			<xs:enumeration value="Aborted"/>
			<xs:enumeration value="Failed"/>
		</xs:restriction>
	</xs:simpleType>
    <xs:attributeGroup name="commonAttributes">
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="partnerLink" type="xs:string" use="required"/>
        <xs:attribute name="partnerLinkType" type="xs:QName" use="required"/>
        <xs:attribute name="role" type="xs:string" use="required"/>
        <xs:attribute name="operation" type="xs:QName" use="required"/>
    </xs:attributeGroup>
    <xs:complexType name="tLocalNotification">
        <xs:sequence/>
        <xs:attribute name="reference" type="xs:QName"/>
    </xs:complexType>
    <xs:complexType name="tSubject">
        <xs:complexContent>
            <xs:extension base="tns:tExpression">
                <xs:sequence/>
                <xs:attribute name="part" type="xs:string"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="tMessage">
        <xs:complexContent>
            <xs:extension base="tns:tExpression">
                <xs:sequence/>
                <xs:attribute name="part" type="xs:string"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
