websvc.saas.api/src/org/netbeans/modules/websvc/saas/model/SaasServices.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS HEADER.
 
 Copyright 1997-2007 Sun Microsystems, Inc. All rights reserved.
 
 The contents of this file are subject to the terms of either the GNU
 General Public License Version 2 only ("GPL") or the Common
 Development and Distribution License("CDDL") (collectively, the
 "License"). You may not use this file except in compliance with the
 License. You can obtain a copy of the License at
 http://www.netbeans.org/cddl-gplv2.html
 or nbbuild/licenses/CDDL-GPL-2-CP. See the License for the
 specific language governing permissions and limitations under the
 License.  When distributing the software, include this License Header
 Notice in each file and include the License file at
 nbbuild/licenses/CDDL-GPL-2-CP.  Sun designates this
 particular file as subject to the "Classpath" exception as provided
 by Sun in the GPL Version 2 section of the License file that
 accompanied this code. If applicable, add the following below the
 License Header, with the fields enclosed by brackets [] replaced by
 your own identifying information:
 "Portions Copyrighted [year] [name of copyright owner]"
 
 Contributor(s):
 
 The Original Software is NetBeans. The Initial Developer of the Original
 Software is Sun Microsystems, Inc. Portions Copyright 1997-2007 Sun
 Microsystems, Inc. All Rights Reserved.
 
 If you wish your version of this file to be governed by only the CDDL
 or only the GPL Version 2, indicate your decision by adding
 "[Contributor] elects to include this software in this distribution
 under the [CDDL or GPL Version 2] license." If you do not indicate a
 single choice of license, a recipient has the option to distribute
 your version of this file under either the CDDL, the GPL Version 2 or
 to extend the choice of license to its licensees as provided above.
 However, if you add GPL Version 2 code and therefore, elected the GPL
 Version 2 license, then the option applies only if the new code is
 made subject to such option by the copyright holder.
-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://xml.netbeans.org/websvc/saas/services/1.0"
            xmlns:saas="http://xml.netbeans.org/websvc/saas/services/1.0"
            elementFormDefault="qualified">
    <xsd:annotation>
        <xsd:documentation>
            This document describes the schema to build rest components. This 
            document describes the name, description, icons for the
            strike iron component. wsdl element define the wsdl for the service from 
            the strike iron. Rest is self explanatory.
            'name' attribute represents the category in the palette. There can be any
            hierarchy. For Eg:- /StrikeIron/ZipCode etc. Use the 'bundle' attribute
            to localize the names shown on the palette. For eg:- In Bundle file specify
            /StrikeIron=Strike Iron or /StrikeIron/ZipCode=Zip Code etc.,
        </xsd:documentation>
    </xsd:annotation>
    
    <xsd:element name="saas-services" type="saas:SaasServices"/>
    
    <xsd:element name="saas-metadata" type="saas:SaasMetadata"/>
    
    <xsd:element name="group" type="saas:Group"/>
    
    <xsd:complexType name="SaasServices">
        <xsd:sequence>
            <xsd:element name="description">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string"/>
                </xsd:simpleType> 
            </xsd:element>
            <xsd:element name="display-name" minOccurs="1" maxOccurs="1" type="xsd:string"/>
            <xsd:element ref="saas:saas-metadata" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="header" minOccurs="0" maxOccurs="1">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="params" type="saas:Params"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="methods" type="saas:Methods"/>
        </xsd:sequence>
        <xsd:attribute name="type" type="xsd:string" use="required"/>
        <xsd:attribute name="url" type="xsd:string" use="optional"/>
        <xsd:attribute name="api-doc" type="xsd:string" use="required"/>
    </xsd:complexType>
        
    <xsd:complexType name="SaasMetadata">
        <xsd:sequence>
            <xsd:element name="localizing-bundle" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="saas:group"  minOccurs="1" maxOccurs="1"/>
            <xsd:element name="code-gen" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="artifacts" type="saas:Artifacts" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                    <xsd:attribute name="packageName" type="xsd:string"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="authentication" minOccurs="0" maxOccurs="1">
                <xsd:complexType>
                    <xsd:choice>
                        <xsd:element name="http-basic"/>
                        <xsd:element name="api-key">
                            <xsd:complexType>
                                <xsd:attribute name="id" type="xsd:string"/>
                            </xsd:complexType>
                        </xsd:element>
                        <xsd:element name="custom"/>
                    </xsd:choice>
                    <xsd:attribute name="profile" type="xsd:string" default="Templates/WebServices/profile.properties"/>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="Artifacts">
        <xsd:sequence>
            <xsd:element name="artifact" type="saas:Artifact" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="targets" type="xsd:string" default="java, servlets, jruby"/>
    </xsd:complexType>
    
    <xsd:complexType name="Artifact">
        <xsd:attribute name="id" type="xsd:string"/>
        <xsd:attribute name="type" type="xsd:string" default="library"/>
        <xsd:attribute name="url" type="xsd:string" default="location of jar"/>
        <xsd:attribute name="requires" type="xsd:string" default="id of another artifact"/>
    </xsd:complexType>
                
    <xsd:complexType name="Methods">
        <xsd:sequence>
            <xsd:element name="method" type="saas:Method" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="Method">                      
        <xsd:annotation>
            <xsd:documentation>
                a method represents one operation in case of WSDL. In case
                of wsdl 'input' and 'output' can be empty. The implementation
                will use the wsdl document to determine the input and output.
                the input and output here is to support REST components
                where there is no WADL file available.
            </xsd:documentation>
        </xsd:annotation>           
        <xsd:sequence>
            <xsd:element name="documentation" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="input" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        This element is mainly used if infact the WADL url 
                        is not available and is not specified in component.xml.
                        For WSDL, this element can be ommited.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="params" type="saas:Params"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element> 
            <xsd:element name="output" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>
                        This element is mainly used if infact the WADL url 
                        is not available and is not specified in component.xml.
                        For WSDL, this element can be ommited.
                    </xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="media" minOccurs="0" maxOccurs="1">
                            <xsd:complexType>
                                <xsd:attribute name="type" type="xsd:string" use="required"/>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element> 
        </xsd:sequence>
        <xsd:attribute name="name" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    'name' represents name of the method
                </xsd:documentation>
            </xsd:annotation>                                 
        </xsd:attribute>
        <xsd:attribute name="href" type="xsd:string">
            <xsd:annotation>
                <xsd:documentation>
                    'url' defines the url of the WSDL or WADL document
                </xsd:documentation>
            </xsd:annotation>                                 
        </xsd:attribute>
        <xsd:attribute name="serviceName" type="xsd:string"/>
        <xsd:attribute name="portName" type="xsd:string"/>
        <xsd:attribute name="operationName" type="xsd:string"/>
    </xsd:complexType>
    
    <xsd:complexType name="Params">
        <xsd:sequence>
            <xsd:element name="param" minOccurs="0" maxOccurs="unbounded">
                <xsd:complexType>
                    <xsd:sequence minOccurs="0" maxOccurs="1">
                        <xsd:element name="set">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="value" minOccurs="1" maxOccurs="unbounded"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                    <xsd:attribute name="name" type="xsd:string" use="required"/>
                    <xsd:attribute name="type" type="xsd:string" use="required"/>
                    <xsd:attribute name="default" type="xsd:string" use="optional"/>
                    <xsd:attribute name="fixed" type="xsd:string"/>
                </xsd:complexType>
            </xsd:element>  
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="Group">
        <xsd:sequence minOccurs="0">
            <xsd:element name="group" type="saas:Group" minOccurs="0" maxOccurs="unbounded"></xsd:element>
        </xsd:sequence>
        <xsd:attribute name="name" type="xsd:string"/>
    </xsd:complexType>
    
</xsd:schema>
