bpel.core/src/org/netbeans/modules/bpel/core/resources/bpel4ws_1_1.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 The contents of this file are subject to the terms of the Common Development
 and Distribution License (the License). You may not use this file except in
 compliance with the License.
 
 You can obtain a copy of the License at http://www.netbeans.org/cddl.html
 or http://www.netbeans.org/cddl.txt.
 
 When distributing Covered Code, include this CDDL Header Notice in each file
 and include the License file at http://www.netbeans.org/cddl.txt.
 If applicable, add the following below the CDDL Header, with the fields
 enclosed by brackets [] replaced by your own identifying information:
 "Portions Copyrighted [year] [name of copyright owner]"
 
 The Original Software is NetBeans. The Initial Developer of the Original
 Software is Sun Microsystems, Inc. Portions Copyright 1997-2007 Sun
 Microsystems, Inc. All Rights Reserved.
-->


<!ELEMENT from (#PCDATA | *)*>
<!ATTLIST from
	variable CDATA #IMPLIED
	part CDATA #IMPLIED
	query CDATA #IMPLIED
	property CDATA #IMPLIED
	partnerLink CDATA #IMPLIED
	endpointReference (myRole | partnerRole) #IMPLIED
	expression CDATA #IMPLIED
	opaque (yes | no) #IMPLIED
>
<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT process ((*), (partnerLinks?, partners?, variables?, correlationSets?, faultHandlers?, compensationHandler?, eventHandlers?, ((empty | invoke | receive | reply | assign | wait | throw | terminate | flow | switch | while | sequence | pick | scope))))>
<!ATTLIST process
	name CDATA #REQUIRED
	targetNamespace CDATA #REQUIRED
	queryLanguage CDATA #IMPLIED
	expressionLanguage CDATA #IMPLIED
	suppressJoinFailure (yes | no) #IMPLIED
	enableInstanceCompensation (yes | no) #IMPLIED
	abstractProcess (yes | no) #IMPLIED
>
<!ELEMENT to EMPTY>
<!ATTLIST to
	variable CDATA #IMPLIED
	part CDATA #IMPLIED
	query CDATA #IMPLIED
	property CDATA #IMPLIED
	partnerLink CDATA #IMPLIED
	endpointReference (myRole | partnerRole) #IMPLIED
	expression CDATA #IMPLIED
	opaque (yes | no) #IMPLIED
>

<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT partnerLinks ((*), (partnerLink+))>
<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT partners ((*), (partner+))>
<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT variables ((*), (variable+))>
<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT correlationSets ((*), (correlationSet+))>
<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT faultHandlers ((*), (catch*, catchAll?))>
<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT compensationHandler ((*), (((empty | invoke | receive | reply | assign | wait | throw | terminate | flow | switch | while | sequence | pick | scope)) | compensate))>
<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT eventHandlers ((*), (onMessage*, onAlarm*))>
<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT empty ((*), (target*, source*))>
<!ATTLIST empty
	name CDATA #IMPLIED
	joinCondition CDATA #IMPLIED
	suppressJoinFailure (yes | no) #IMPLIED
>
<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT invoke ((*), (target*, source*), (correlations?, catch*, catchAll?, compensationHandler?))>
<!ATTLIST invoke
	name CDATA #IMPLIED
	joinCondition CDATA #IMPLIED
	suppressJoinFailure (yes | no) #IMPLIED
	partnerLink CDATA #REQUIRED
	portType CDATA #REQUIRED
	operation CDATA #REQUIRED
	inputVariable CDATA #IMPLIED
	outputVariable CDATA #IMPLIED
>
<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT receive ((*), (target*, source*), (correlations?))>
<!ATTLIST receive
	name CDATA #IMPLIED
	joinCondition CDATA #IMPLIED
	suppressJoinFailure (yes | no) #IMPLIED
	partnerLink CDATA #REQUIRED
	portType CDATA #REQUIRED
	operation CDATA #REQUIRED
	variable CDATA #IMPLIED
	createInstance (yes | no) #IMPLIED
>
<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT reply ((*), (target*, source*), (correlations?))>
<!ATTLIST reply
	name CDATA #IMPLIED
	joinCondition CDATA #IMPLIED
	suppressJoinFailure (yes | no) #IMPLIED
	partnerLink CDATA #REQUIRED
	portType CDATA #REQUIRED
	operation CDATA #REQUIRED
	variable CDATA #IMPLIED
	faultName CDATA #IMPLIED
>
<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT assign ((*), (target*, source*), (copy+))>
<!ATTLIST assign
	name CDATA #IMPLIED
	joinCondition CDATA #IMPLIED
	suppressJoinFailure (yes | no) #IMPLIED
>
<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT wait ((*), (target*, source*))>
<!ATTLIST wait
	name CDATA #IMPLIED
	joinCondition CDATA #IMPLIED
	suppressJoinFailure (yes | no) #IMPLIED
	for CDATA #IMPLIED
	until CDATA #IMPLIED
>
<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT throw ((*), (target*, source*))>
<!ATTLIST throw
	name CDATA #IMPLIED
	joinCondition CDATA #IMPLIED
	suppressJoinFailure (yes | no) #IMPLIED
	faultName CDATA #REQUIRED
	faultVariable CDATA #IMPLIED
>
<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT terminate ((*), (target*, source*))>
<!ATTLIST terminate
	name CDATA #IMPLIED
	joinCondition CDATA #IMPLIED
	suppressJoinFailure (yes | no) #IMPLIED
>
<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT flow ((*), (target*, source*), (links?, ((empty | invoke | receive | reply | assign | wait | throw | terminate | flow | switch | while | sequence | pick | scope))+))>
<!ATTLIST flow
	name CDATA #IMPLIED
	joinCondition CDATA #IMPLIED
	suppressJoinFailure (yes | no) #IMPLIED
>
<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT switch ((*), (target*, source*), (case+, otherwise?))>
<!ATTLIST switch
	name CDATA #IMPLIED
	joinCondition CDATA #IMPLIED
	suppressJoinFailure (yes | no) #IMPLIED
>
<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT while ((*), (target*, source*), (((empty | invoke | receive | reply | assign | wait | throw | terminate | flow | switch | while | sequence | pick | scope))))>
<!ATTLIST while
	name CDATA #IMPLIED
	joinCondition CDATA #IMPLIED
	suppressJoinFailure (yes | no) #IMPLIED
	condition CDATA #REQUIRED
>
<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT sequence ((*), (target*, source*), (((empty | invoke | receive | reply | assign | wait | throw | terminate | flow | switch | while | sequence | pick | scope))+))>
<!ATTLIST sequence
	name CDATA #IMPLIED
	joinCondition CDATA #IMPLIED
	suppressJoinFailure (yes | no) #IMPLIED
>
<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT pick ((*), (target*, source*), (onMessage+, onAlarm*))>
<!ATTLIST pick
	name CDATA #IMPLIED
	joinCondition CDATA #IMPLIED
	suppressJoinFailure (yes | no) #IMPLIED
	createInstance (yes | no) #IMPLIED
>
<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT scope ((*), (target*, source*), (variables?, correlationSets?, faultHandlers?, compensationHandler?, eventHandlers?, ((empty | invoke | receive | reply | assign | wait | throw | terminate | flow | switch | while | sequence | pick | scope))))>
<!ATTLIST scope
	name CDATA #IMPLIED
	joinCondition CDATA #IMPLIED
	suppressJoinFailure (yes | no) #IMPLIED
	variableAccessSerializable (yes | no) #IMPLIED
>
<!ELEMENT documentation (#PCDATA | *)*>


<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT partnerLink (*)>
<!ATTLIST partnerLink
	name CDATA #REQUIRED
	partnerLinkType CDATA #REQUIRED
	myRole CDATA #IMPLIED
	partnerRole CDATA #IMPLIED
>
<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT partner ((*), (partnerLink+))>
<!ATTLIST partner
	name CDATA #REQUIRED
>
<!ELEMENT variable EMPTY>
<!ATTLIST variable
	name CDATA #REQUIRED
	messageType CDATA #IMPLIED
	type CDATA #IMPLIED
	element CDATA #IMPLIED
>
<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT correlationSet (*)>
<!ATTLIST correlationSet
	properties CDATA #REQUIRED
	name CDATA #REQUIRED
>
<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT catch ((*), (((empty | invoke | receive | reply | assign | wait | throw | terminate | flow | switch | while | sequence | pick | scope)) | compensate))>
<!ATTLIST catch
	faultName CDATA #IMPLIED
	faultVariable CDATA #IMPLIED
>
<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT catchAll ((*), (((empty | invoke | receive | reply | assign | wait | throw | terminate | flow | switch | while | sequence | pick | scope)) | compensate))>
<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT compensate ((*), (target*, source*))>
<!ATTLIST compensate
	name CDATA #IMPLIED
	joinCondition CDATA #IMPLIED
	suppressJoinFailure (yes | no) #IMPLIED
	scope CDATA #IMPLIED
>
<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT onMessage ((*), (correlations?, ((empty | invoke | receive | reply | assign | wait | throw | terminate | flow | switch | while | sequence | pick | scope))))>
<!ATTLIST onMessage
	partnerLink CDATA #REQUIRED
	portType CDATA #REQUIRED
	operation CDATA #REQUIRED
	variable CDATA #IMPLIED
>
<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT onAlarm ((*), (((empty | invoke | receive | reply | assign | wait | throw | terminate | flow | switch | while | sequence | pick | scope))))>
<!ATTLIST onAlarm
	for CDATA #IMPLIED
	until CDATA #IMPLIED
>
<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT target (*)>
<!ATTLIST target
	linkName CDATA #REQUIRED
>
<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT source (*)>
<!ATTLIST source
	linkName CDATA #REQUIRED
	transitionCondition CDATA #IMPLIED
>
<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT target (*)>
<!ATTLIST target
	linkName CDATA #REQUIRED
>
<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT source (*)>
<!ATTLIST source
	linkName CDATA #REQUIRED
	transitionCondition CDATA #IMPLIED
>
<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT correlations ((*), (correlation+))>
<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT catch ((*), (((empty | invoke | receive | reply | assign | wait | throw | terminate | flow | switch | while | sequence | pick | scope)) | compensate))>
<!ATTLIST catch
	faultName CDATA #IMPLIED
	faultVariable CDATA #IMPLIED
>
<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT catchAll ((*), (((empty | invoke | receive | reply | assign | wait | throw | terminate | flow | switch | while | sequence | pick | scope)) | compensate))>
<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT compensationHandler ((*), (((empty | invoke | receive | reply | assign | wait | throw | terminate | flow | switch | while | sequence | pick | scope)) | compensate))>
<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT target (*)>
<!ATTLIST target
	linkName CDATA #REQUIRED
>
<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT source (*)>
<!ATTLIST source
	linkName CDATA #REQUIRED
	transitionCondition CDATA #IMPLIED
>
<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT correlations ((*), (correlation+))>
<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT target (*)>
<!ATTLIST target
	linkName CDATA #REQUIRED
>
<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT source (*)>
<!ATTLIST source
	linkName CDATA #REQUIRED
	transitionCondition CDATA #IMPLIED
>
<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT correlations ((*), (correlation+))>
<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT target (*)>
<!ATTLIST target
	linkName CDATA #REQUIRED
>
<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT source (*)>
<!ATTLIST source
	linkName CDATA #REQUIRED
	transitionCondition CDATA #IMPLIED
>
<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT copy ((*), (from, to))>
<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT target (*)>
<!ATTLIST target
	linkName CDATA #REQUIRED
>
<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT source (*)>
<!ATTLIST source
	linkName CDATA #REQUIRED
	transitionCondition CDATA #IMPLIED
>
<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT target (*)>
<!ATTLIST target
	linkName CDATA #REQUIRED
>
<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT source (*)>
<!ATTLIST source
	linkName CDATA #REQUIRED
	transitionCondition CDATA #IMPLIED
>
<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT target (*)>
<!ATTLIST target
	linkName CDATA #REQUIRED
>
<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT source (*)>
<!ATTLIST source
	linkName CDATA #REQUIRED
	transitionCondition CDATA #IMPLIED
>
<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT target (*)>
<!ATTLIST target
	linkName CDATA #REQUIRED
>
<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT source (*)>
<!ATTLIST source
	linkName CDATA #REQUIRED
	transitionCondition CDATA #IMPLIED
>
<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT links ((*), (link+))>
<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT target (*)>
<!ATTLIST target
	linkName CDATA #REQUIRED
>
<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT source (*)>
<!ATTLIST source
	linkName CDATA #REQUIRED
	transitionCondition CDATA #IMPLIED
>
<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT case ((*), (((empty | invoke | receive | reply | assign | wait | throw | terminate | flow | switch | while | sequence | pick | scope))))>
<!ATTLIST case
	condition CDATA #REQUIRED
>
<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT otherwise ((*), (((empty | invoke | receive | reply | assign | wait | throw | terminate | flow | switch | while | sequence | pick | scope))))>
<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT target (*)>
<!ATTLIST target
	linkName CDATA #REQUIRED
>
<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT source (*)>
<!ATTLIST source
	linkName CDATA #REQUIRED
	transitionCondition CDATA #IMPLIED
>
<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT target (*)>
<!ATTLIST target
	linkName CDATA #REQUIRED
>
<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT source (*)>
<!ATTLIST source
	linkName CDATA #REQUIRED
	transitionCondition CDATA #IMPLIED
>
<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT target (*)>
<!ATTLIST target
	linkName CDATA #REQUIRED
>
<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT source (*)>
<!ATTLIST source
	linkName CDATA #REQUIRED
	transitionCondition CDATA #IMPLIED
>
<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT onMessage ((*), (correlations?, ((empty | invoke | receive | reply | assign | wait | throw | terminate | flow | switch | while | sequence | pick | scope))))>
<!ATTLIST onMessage
	partnerLink CDATA #REQUIRED
	portType CDATA #REQUIRED
	operation CDATA #REQUIRED
	variable CDATA #IMPLIED
>
<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT onAlarm ((*), (((empty | invoke | receive | reply | assign | wait | throw | terminate | flow | switch | while | sequence | pick | scope))))>
<!ATTLIST onAlarm
	for CDATA #IMPLIED
	until CDATA #IMPLIED
>
<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT target (*)>
<!ATTLIST target
	linkName CDATA #REQUIRED
>
<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT source (*)>
<!ATTLIST source
	linkName CDATA #REQUIRED
	transitionCondition CDATA #IMPLIED
>
<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT variables ((*), (variable+))>
<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT correlationSets ((*), (correlationSet+))>
<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT faultHandlers ((*), (catch*, catchAll?))>
<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT compensationHandler ((*), (((empty | invoke | receive | reply | assign | wait | throw | terminate | flow | switch | while | sequence | pick | scope)) | compensate))>
<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT eventHandlers ((*), (onMessage*, onAlarm*))>


<!--
         			This type is extended by  component types
         			to allow them to be documented
         		-->
<!ELEMENT part (documentation?)>
<!ATTLIST part
	name CDATA #REQUIRED
	element CDATA #IMPLIED
	type CDATA #IMPLIED
>
<!--
         			This type is extended by  component types
         			to allow them to be documented
         		-->
<!ELEMENT operation ((documentation?), (*), (((input, (( | (output, fault*))))) | ((output, (( | (input, fault*)))))))>
<!ATTLIST operation
	name CDATA #REQUIRED
	parameterOrder NMTOKENS #IMPLIED
>
<!--
         			This type is extended by  component types
         			to allow them to be documented
         		-->
<!ELEMENT operation ((documentation?), (*), (input?, output?, fault*))>
<!ATTLIST operation
	name CDATA #REQUIRED
>
<!--
         			This type is extended by  component types
         			to allow them to be documented
         		-->
<!ELEMENT port ((documentation?), (*))>
<!ATTLIST port
	name CDATA #REQUIRED
	binding CDATA #REQUIRED
>
<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT partnerLink (*)>
<!ATTLIST partnerLink
	name CDATA #REQUIRED
>
<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT compensate ((*), (target*, source*))>
<!ATTLIST compensate
	name CDATA #IMPLIED
	joinCondition CDATA #IMPLIED
	suppressJoinFailure (yes | no) #IMPLIED
	scope CDATA #IMPLIED
>
<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT compensate ((*), (target*, source*))>
<!ATTLIST compensate
	name CDATA #IMPLIED
	joinCondition CDATA #IMPLIED
	suppressJoinFailure (yes | no) #IMPLIED
	scope CDATA #IMPLIED
>
<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT target (*)>
<!ATTLIST target
	linkName CDATA #REQUIRED
>
<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT source (*)>
<!ATTLIST source
	linkName CDATA #REQUIRED
	transitionCondition CDATA #IMPLIED
>
<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT correlations ((*), (correlation+))>
<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT correlation (*)>
<!ATTLIST correlation
	set CDATA #REQUIRED
	initiate (yes | no) #IMPLIED
	pattern (in | out | out-in) #IMPLIED
>
<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT correlation (*)>
<!ATTLIST correlation
	set CDATA #REQUIRED
	initiate (yes | no) #IMPLIED
>
<!-- This type is extended by other component types to allow
        elements and attributes from other namespaces to be added. -->
<!ELEMENT link (*)>
<!ATTLIST link
	name CDATA #REQUIRED
>
<!--
         			This type is extended by  component types
         			to allow them to be documented
         		-->
<!ELEMENT input (documentation?)>
<!ATTLIST input
	name CDATA #IMPLIED
	message CDATA #REQUIRED
>
<!--
         			This type is extended by  component types
         			to allow them to be documented
         		-->
<!ELEMENT output (documentation?)>
<!ATTLIST output
	name CDATA #IMPLIED
	message CDATA #REQUIRED
>
<!--
         			This type is extended by  component types
         			to allow them to be documented
         		-->
<!ELEMENT fault (documentation?)>
<!ATTLIST fault
	name CDATA #REQUIRED
	message CDATA #REQUIRED
>
<!--
         			This type is extended by  component types
         			to allow them to be documented
         		-->
<!ELEMENT output (documentation?)>
<!ATTLIST output
	name CDATA #IMPLIED
	message CDATA #REQUIRED
>
<!--
         			This type is extended by  component types
         			to allow them to be documented
         		-->
<!ELEMENT input (documentation?)>
<!ATTLIST input
	name CDATA #IMPLIED
	message CDATA #REQUIRED
>
<!--
         			This type is extended by  component types
         			to allow them to be documented
         		-->
<!ELEMENT fault (documentation?)>
<!ATTLIST fault
	name CDATA #REQUIRED
	message CDATA #REQUIRED
>
<!--
         			This type is extended by  component types
         			to allow them to be documented
         		-->
<!ELEMENT input ((documentation?), (*))>
<!ATTLIST input
	name CDATA #IMPLIED
>
<!--
         			This type is extended by  component types
         			to allow them to be documented
         		-->
<!ELEMENT output ((documentation?), (*))>
<!ATTLIST output
	name CDATA #IMPLIED
>
<!--
         			This type is extended by  component types
         			to allow them to be documented
         		-->
<!ELEMENT fault ((documentation?), (*))>
<!ATTLIST fault
	name CDATA #REQUIRED
>
