wsdlextensions.jms/src/org/netbeans/modules/wsdlextensions/jms/resources/jms-ext.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
 The contents of this file are subject to the terms of the Common Development
 and Distribution License (the License). You may not use this file except in
 compliance with the License.
 
 You can obtain a copy of the License at http://www.netbeans.org/cddl.html
 or http://www.netbeans.org/cddl.txt.
 
 When distributing Covered Code, include this CDDL Header Notice in each file
 and include the License file at http://www.netbeans.org/cddl.txt.
 If applicable, add the following below the CDDL Header, with the fields
 enclosed by brackets [] replaced by your own identifying information:
 "Portions Copyrighted [year] [name of copyright owner]"
 
 The Original Software is NetBeans. The Initial Developer of the Original
 Software is Sun Microsystems, Inc. Portions Copyright 1997-2007 Sun
 Microsystems, Inc. All Rights Reserved.
-->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:jms="http://schemas.sun.com/jbi/wsdl-extensions/jms/" targetNamespace="http://schemas.sun.com/jbi/wsdl-extensions/jms/">
	<xs:import namespace="http://schemas.xmlsoap.org/wsdl/" schemaLocation="wsdl.xsd"/>

    <!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
    <!-- Start complex type defintions to define JMS binding extensibility -->
    <!-- elements                                                          -->
    <!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

	<!-- JMS protocol "binding" definition -->
	<xs:element name="binding" type="jms:tBinding">
		<xs:annotation>
			<xs:documentation>DESC_Element_binding</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="tBinding">
		<xs:complexContent>
			<xs:extension base="wsdl:tExtensibilityElement"/>
			<!-- could add more attributes to the binding -->
		</xs:complexContent>
	</xs:complexType>

	<!-- JMS protocol "address" definition -->
	<xs:element name="address" type="jms:tAddress">
                <xs:annotation>
                    <xs:documentation>DESC_Element_address</xs:documentation>
                  <xs:appinfo>
                    <prop:ElementProperties  xmlns:prop="http://xml.netbeans.org/schema/wsdlui/property">
                        <prop:PropertyGroup name="Basic" groupOrder="1" />
                        <prop:PropertyGroup name="JNDI" groupOrder="2" />
                        <prop:Property attributeName="connectionURL" groupName="Basic" propertyOrder="1">
                            <prop:SchemaCustomizer/>
                        </prop:Property>
                        <prop:Property attributeName="username" groupName="Basic" propertyOrder="2">
                            <prop:SchemaCustomizer/>
                        </prop:Property>
                        <prop:Property attributeName="password" groupName="Basic" propertyOrder="3">
                            <prop:SchemaCustomizer/>
                        </prop:Property>
                        <prop:Property attributeName="connectionFactoryName" groupName="JNDI" propertyOrder="1">
                            <prop:SchemaCustomizer/>
                        </prop:Property>
                        <prop:Property attributeName="initialContextFactory" groupName="JNDI" propertyOrder="2">
                            <prop:SchemaCustomizer/>
                        </prop:Property>
                        <prop:Property attributeName="providerURL" groupName="JNDI" propertyOrder="3">
                            <prop:SchemaCustomizer/>
                        </prop:Property>
                        <prop:Property attributeName="securityPrincipal" groupName="JNDI" propertyOrder="4">
                            <prop:SchemaCustomizer/>
                        </prop:Property>
                        <prop:Property attributeName="securityCredentials" groupName="JNDI" propertyOrder="5">
                            <prop:SchemaCustomizer/>
                        </prop:Property>
                    </prop:ElementProperties>
                </xs:appinfo>	      	      
            </xs:annotation>
	</xs:element>
	<xs:complexType name="tAddress">
		<xs:complexContent>
			<xs:extension base="wsdl:tExtensibilityElement">
				<xs:sequence>
					<xs:element ref="jms:jndienv" minOccurs="0"/>
				</xs:sequence>                            
				<xs:attribute name="connectionURL" type="xs:string" use="required">
					<xs:annotation>
                                                <xs:documentation>DESC_Attribute_connectionURL</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="username" type="xs:string" use="optional">
					<xs:annotation>
						<xs:documentation>DESC_Attribute_username</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="password" type="xs:string" use="optional">
					<xs:annotation>
						<xs:documentation>DESC_Attribute_password</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="connectionFactoryName" type="xs:string" use="optional">
					<xs:annotation>
						<xs:documentation>DESC_Attribute_connectionFactoryName</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="initialContextFactory" type="xs:string" use="optional">
					<xs:annotation>
						<xs:documentation>DESC_Attribute_initialContextFactory</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="providerURL" type="xs:string" use="optional">
					<xs:annotation>
						<xs:documentation>DESC_Attribute_providerURL</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="securityPrincipal" type="xs:string" use="optional">
					<xs:annotation>
						<xs:documentation>DESC_Attribute_securityPrincipal</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="securityCredentials" type="xs:string" use="optional">
					<xs:annotation>
						<xs:documentation>DESC_Attribute_securityCredentials</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!-- JMS protocol "operation" definition -->
	<xs:element name="operation" type="jms:tOperation">
		<xs:annotation>
			<xs:documentation>DESC_Element_operation</xs:documentation>
              <xs:appinfo>
                <prop:ElementProperties  xmlns:prop="http://xml.netbeans.org/schema/wsdlui/property">
                    <prop:PropertyGroup name="Common" groupOrder="1" />
                    <prop:PropertyGroup name="Consumer" groupOrder="2" />
                    <prop:PropertyGroup name="Provider" groupOrder="3" />                    
                    <prop:Property attributeName="destination" groupName="Common" propertyOrder="1">
                        <prop:SchemaCustomizer/>
                    </prop:Property>
                    <prop:Property attributeName="destinationType" groupName="Common" propertyOrder="2">
                        <prop:SchemaCustomizer/>
                    </prop:Property>
                    <prop:Property attributeName="transaction" groupName="Common" propertyOrder="3">
                        <prop:SchemaCustomizer/>
                    </prop:Property>
                    <prop:Property attributeName="deliveryMode" groupName="Provider" propertyOrder="1">
                        <prop:SchemaCustomizer/>
                    </prop:Property>
                    <prop:Property attributeName="timeToLive" groupName="Provider" propertyOrder="2">
                        <prop:SchemaCustomizer/>
                    </prop:Property>
                    <prop:Property attributeName="priority" groupName="Provider" propertyOrder="3">
                        <prop:SchemaCustomizer/>
                    </prop:Property>
                    <prop:Property attributeName="disableMessageID" groupName="Provider" propertyOrder="4">
                        <prop:SchemaCustomizer/>
                    </prop:Property>
                    <prop:Property attributeName="disableMessageTimeStamp" groupName="Provider" propertyOrder="5">
                        <prop:SchemaCustomizer/>
                    </prop:Property>
                    <prop:Property attributeName="timeout" groupName="Provider" propertyOrder="6">
                        <prop:SchemaCustomizer/>
                    </prop:Property>
                    <prop:Property attributeName="clientID" groupName="Consumer" propertyOrder="1">
                        <prop:SchemaCustomizer/>
                    </prop:Property>
                    <prop:Property attributeName="messageSelector" groupName="Consumer" propertyOrder="2">
                        <prop:SchemaCustomizer/>
                    </prop:Property>
                    <prop:Property attributeName="validateMessageSelector" groupName="Consumer" propertyOrder="3">
                        <prop:SchemaCustomizer/>
                    </prop:Property>
                    <prop:Property attributeName="subscriptionDurability" groupName="Consumer" propertyOrder="4">
                        <prop:SchemaCustomizer/>
                    </prop:Property>
                    <prop:Property attributeName="subscriptionName" groupName="Consumer" propertyOrder="5">
                        <prop:SchemaCustomizer/>
                    </prop:Property>
                    <prop:Property attributeName="maxConcurrentConsumers" groupName="Consumer" propertyOrder="6">
                        <prop:SchemaCustomizer/>
                    </prop:Property>
                    <prop:Property attributeName="concurrencyMode" groupName="Consumer" propertyOrder="7">
                        <prop:SchemaCustomizer/>
                    </prop:Property>
                    <prop:Property attributeName="batchSize" groupName="Consumer" propertyOrder="8">
                        <prop:SchemaCustomizer/>
                    </prop:Property>
                    <prop:Property attributeName="redeliveryHandling" groupName="Consumer" propertyOrder="9">
                        <prop:SchemaCustomizer/>
                    </prop:Property>
                </prop:ElementProperties>
            </xs:appinfo>	      	      
		</xs:annotation>
	</xs:element>
	<xs:complexType name="tOperation">
		<xs:complexContent>
			<xs:extension base="wsdl:tExtensibilityElement">
                                <!-- common to both consumer and provider -->
				<xs:sequence>
					<xs:element ref="jms:options" minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="destination" type="xs:string" use="required">
					<xs:annotation>
						<xs:documentation>DESC_Attribute_destination</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="destinationType" type="jms:destinationTypes" use="required">
					<xs:annotation>
						<xs:documentation>DESC_Attribute_destinationType</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="transaction" type="jms:transactionSupportTypes" use="optional" default="NoTransaction">
					<xs:annotation>
						<xs:documentation>DESC_Attribute_transaction</xs:documentation>
					</xs:annotation>
				</xs:attribute>
                                <!-- only applies to provider -->
				<xs:attribute name="deliveryMode" type="jms:deliveryModes" use="optional">
					<xs:annotation>
						<xs:documentation>DESC_Attribute_deliveryMode</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="timeToLive" type="xs:unsignedLong" use="optional">
					<xs:annotation>
						<xs:documentation>DESC_Attribute_timeToLive</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="priority" type="jms:priorityType" use="optional">
					<xs:annotation>
						<xs:documentation>DESC_Attribute_priority</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="disableMessageID" type="xs:boolean" use="optional">
					<xs:annotation>
						<xs:documentation>DESC_Attribute_disableMessageID</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="disableMessageTimeStamp" type="xs:boolean" use="optional">
					<xs:annotation>
						<xs:documentation>DESC_Attribute_disableMessageTimeStamp</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="timeout" type="xs:long" use="optional">
					<xs:annotation>
						<xs:documentation>DESC_Attribute_timeout</xs:documentation>
					</xs:annotation>
				</xs:attribute>
                                <!-- only applies to consumer -->
				<xs:attribute name="clientID" type="xs:string" use="optional">
					<xs:annotation>
						<xs:documentation>DESC_Attribute_clientID</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="messageSelector" type="xs:string" use="optional">
					<xs:annotation>
						<xs:documentation>DESC_Attribute_messageSelector</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="subscriptionDurability" type="jms:subscriptionDurabilityTypes" use="optional">
					<xs:annotation>
						<xs:documentation>DESC_Attribute_subscriptionDurability</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="subscriptionName" type="xs:string" use="optional">
					<xs:annotation>
						<xs:documentation>DESC_Attribute_subscriptionName</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="maxConcurrentConsumers" type="xs:positiveInteger" use="optional">
					<xs:annotation>
						<xs:documentation>DESC_Attribute_maxConcurrentConsumers</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="concurrencyMode" type="jms:concurrencyModeTypes" use="optional" default="sync">
					<xs:annotation>
						<xs:documentation>DESC_Attribute_concurrencyMode</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="batchSize" type="xs:positiveInteger" use="optional">
					<xs:annotation>
						<xs:documentation>DESC_Attribute_batchSize</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="redeliveryHandling" type="xs:string" use="optional">
					<xs:annotation>
						<xs:documentation>DESC_Attribute_redeliveryHandling</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="validateMessageSelector" type="xs:boolean" use="optional">
					<xs:annotation>
						<xs:documentation>DESC_Attribute_validateMessageSelector</xs:documentation>
					</xs:annotation>
				</xs:attribute>                                
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

        <!-- JMS protocol input and output definition -->
	<xs:element name="message" type="jms:tMessage">
		<xs:annotation>
			<xs:documentation>DESC_Element_message</xs:documentation>
              <xs:appinfo>
                <prop:ElementProperties  xmlns:prop="http://xml.netbeans.org/schema/wsdlui/property">
                    <prop:PropertyGroup name="Message" groupOrder="1" />
                    <prop:PropertyGroup name="ReadWriteMessageHeaders" groupOrder="2" />
                    <prop:PropertyGroup name="ReadOnlyMessageHeaders" groupOrder="3" />
                    <prop:PropertyGroup name="Encoding" groupOrder="4" />
                    
                    <prop:Property attributeName="messageType" groupName="Message" propertyOrder="1">
                        <prop:SchemaCustomizer/>
                    </prop:Property>
                    <prop:Property attributeName="textPart" groupName="Message" propertyOrder="2" >
                        <prop:BuiltInCustomizer>
                            <prop:SimpleCustomizer name="PartChooser"/>
                        </prop:BuiltInCustomizer>
                    </prop:Property>
                    
                    <prop:Property attributeName="correlationIdPart" groupName="ReadWriteMessageHeaders" propertyOrder="1" >
                        <prop:BuiltInCustomizer>
                            <prop:SimpleCustomizer name="PartChooser"/>
                        </prop:BuiltInCustomizer>
                    </prop:Property>
                    <prop:Property attributeName="deliveryModePart" groupName="ReadWriteMessageHeaders" propertyOrder="2">
                        <prop:BuiltInCustomizer>
                            <prop:SimpleCustomizer name="PartChooser"/>
                        </prop:BuiltInCustomizer>
                    </prop:Property>
                    <prop:Property attributeName="priorityPart" groupName="ReadWriteMessageHeaders" propertyOrder="3">
                        <prop:BuiltInCustomizer>
                            <prop:SimpleCustomizer name="PartChooser"/>
                        </prop:BuiltInCustomizer>
                    </prop:Property>
                    <prop:Property attributeName="typePart" groupName="ReadWriteMessageHeaders" propertyOrder="4">
                        <prop:BuiltInCustomizer>
                            <prop:SimpleCustomizer name="PartChooser"/>
                        </prop:BuiltInCustomizer>
                    </prop:Property>
                    
                    <prop:Property attributeName="messageIDPart" groupName="ReadOnlyMessageHeaders" propertyOrder="1">
                        <prop:BuiltInCustomizer>
                            <prop:SimpleCustomizer name="PartChooser"/>
                        </prop:BuiltInCustomizer>
                    </prop:Property>
                    <prop:Property attributeName="redeliveredPart" groupName="ReadOnlyMessageHeaders" propertyOrder="2">
                        <prop:BuiltInCustomizer>
                            <prop:SimpleCustomizer name="PartChooser"/>
                        </prop:BuiltInCustomizer>
                    </prop:Property>
                    <prop:Property attributeName="timestampPart" groupName="ReadOnlyMessageHeaders" propertyOrder="3">
                        <prop:BuiltInCustomizer>
                            <prop:SimpleCustomizer name="PartChooser"/>
                        </prop:BuiltInCustomizer>
                    </prop:Property>
                    
                    <prop:Property attributeName="use" groupName="Encoding" propertyOrder="1">
                        <prop:SchemaCustomizer/>
                    </prop:Property>
                    <prop:Property attributeName="encodingStyle" groupName="Encoding" propertyOrder="2">
                        <prop:SchemaCustomizer/>
                    </prop:Property>
                </prop:ElementProperties>
            </xs:appinfo>
        </xs:annotation>
    </xs:element>
	<xs:complexType name="tMessage">
		<xs:complexContent>
			<xs:extension base="wsdl:tExtensibilityElement">
                                <!-- common to both producer and consumer -->
				<xs:sequence>
					<xs:element ref="jms:properties"  minOccurs="0"/>
					<xs:element ref="jms:mapmessage"  minOccurs="0"/>
				</xs:sequence>
				<xs:attribute name="messageType" type="jms:messageTypes" use="required">
					<xs:annotation>
						<xs:documentation>DESC_Attribute_messageType</xs:documentation>
					</xs:annotation>
				</xs:attribute>                                
				<xs:attribute name="textPart" type="xs:string" use="optional">
					<xs:annotation>
						<xs:documentation>DESC_Attribute_textPart</xs:documentation>
					</xs:annotation>
				</xs:attribute>                                

                                <!-- reserved for later use with encoder library -->

				<xs:attribute name="use" type="jms:useTypes" use="optional">
					<xs:annotation>
						<xs:documentation>DESC_Attribute_use</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="encodingStyle" type="xs:string" use="optional">
					<xs:annotation>
						<xs:documentation>DESC_Attribute_encodingStyle</xs:documentation>
					</xs:annotation>
				</xs:attribute>

				<xs:attribute name="correlationIdPart" type="xs:string" use="optional">
					<xs:annotation>
						<xs:documentation>DESC_Attribute_correlationIdPart</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="deliveryModePart" type="xs:string" use="optional">
					<xs:annotation>
						<xs:documentation>DESC_Attribute_deliveryModePart</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="priorityPart" type="xs:string" use="optional">
					<xs:annotation>
						<xs:documentation>DESC_Attribute_priorityPart</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="typePart" type="xs:string" use="optional">
					<xs:annotation>
						<xs:documentation>DESC_Attribute_typePart</xs:documentation>
					</xs:annotation>
				</xs:attribute>                                
                                <!-- only applies to consumer -->
				<xs:attribute name="messageIDPart" type="xs:string" use="optional">
					<xs:annotation>
						<xs:documentation>DESC_Attribute_messageIDPart</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="redeliveredPart" type="xs:string" use="optional">
					<xs:annotation>
						<xs:documentation>DESC_Attribute_redeliveredPart</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="timestampPart" type="xs:string" use="optional">
					<xs:annotation>
						<xs:documentation>DESC_Attribute_timestampPart</xs:documentation>
					</xs:annotation>
				</xs:attribute>	
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
                
    <!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
    <!-- Start complex type defintions to define elements referenced by    -->
    <!-- JMS binding definitions                                           -->
    <!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
            
	<!-- JMS Message user properties definition -->
	<xs:element name="properties" type="jms:tProperties">
		<xs:annotation>
			<xs:documentation>DESC_Element_properties</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="tProperties">
		<xs:complexContent>
			<xs:extension base="wsdl:tExtensibilityElement">
				<xs:sequence>
					<xs:element ref="jms:property" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="property" type="jms:tProperty">
		<xs:annotation>
			<xs:documentation>DESC_Element_property</xs:documentation>
                        <xs:appinfo>
                            <prop:ElementProperties  xmlns:prop="http://xml.netbeans.org/schema/wsdlui/property">
                                <prop:Property attributeName="part" propertyOrder="1" >
                                    <prop:BuiltInCustomizer>
                                        <prop:SimpleCustomizer name="PartChooser"/>
                                    </prop:BuiltInCustomizer>
                                </prop:Property>
                            </prop:ElementProperties>
                        </xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="tProperty">
		<xs:complexContent>
			<xs:extension base="wsdl:tExtensibilityElement">
				<xs:attribute name="name" type="xs:string" use="required">
					<xs:annotation>
						<xs:documentation>DESC_Attribute_name</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="part" type="xs:string" use="required">
					<xs:annotation>
						<xs:documentation>DESC_Attribute_part</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="type" type="jms:propertyTypes" use="required">
					<xs:annotation>
						<xs:documentation>DESC_Attribute_type</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
        
	<!-- JMS MapMessage definition for MapMessage to Message part(s) mapping -->
	<xs:element name="mapmessage" type="jms:tMapParts">
		<xs:annotation>
			<xs:documentation>DESC_Element_mapmessage</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="tMapParts">
		<xs:complexContent>
			<xs:extension base="wsdl:tExtensibilityElement">
				<xs:sequence>
					<xs:element ref="jms:mappart" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="mappart" type="jms:tMapPart">
		<xs:annotation>
			<xs:documentation>DESC_Element_mappart</xs:documentation>
                        <xs:appinfo>
                            <prop:ElementProperties  xmlns:prop="http://xml.netbeans.org/schema/wsdlui/property">
                                <prop:Property attributeName="part" propertyOrder="1" >
                                    <prop:BuiltInCustomizer>
                                        <prop:SimpleCustomizer name="PartChooser"/>
                                    </prop:BuiltInCustomizer>
                                </prop:Property>
                            </prop:ElementProperties>
                        </xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="tMapPart">
		<xs:complexContent>
			<xs:extension base="wsdl:tExtensibilityElement">
				<xs:attribute name="name" type="xs:string" use="required">
					<xs:annotation>
						<xs:documentation>DESC_Attribute_name</xs:documentation>
					</xs:annotation>
				</xs:attribute>				
				<xs:attribute name="part" type="xs:string" use="required">
					<xs:annotation>
						<xs:documentation>DESC_Attribute_part</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="type" type="jms:javaPrimitiveTypes" use="required">
					<xs:annotation>
						<xs:documentation>DESC_Attribute_type</xs:documentation>
					</xs:annotation>
				</xs:attribute>				
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!-- Additional "connection" related usage options -->
	<xs:element name="options" type="jms:tOptions">
		<xs:annotation>
			<xs:documentation>DESC_Element_options</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="tOptions">
		<xs:complexContent>
			<xs:extension base="wsdl:tExtensibilityElement">
				<xs:sequence>
					<xs:element ref="jms:option" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="option" type="jms:tOption">
		<xs:annotation>
			<xs:documentation>DESC_Element_option</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="tOption">
		<xs:complexContent>
			<xs:extension base="wsdl:tExtensibilityElement">
				<xs:attribute name="name" type="xs:string" use="required">
					<xs:annotation>
						<xs:documentation>DESC_Attribute_name</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="value" type="xs:string" use="required">
					<xs:annotation>
						<xs:documentation>DESC_Attribute_value</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!-- "address" JNDI environment entries -->
	<xs:element name="jndienv" type="jms:tJNDIEnv">
		<xs:annotation>
			<xs:documentation>DESC_Element_jndienv</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="tJNDIEnv">
		<xs:complexContent>
			<xs:extension base="wsdl:tExtensibilityElement">
				<xs:sequence>
					<xs:element ref="jms:jndienventry" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="jndienventry" type="jms:tJNDIEnvEntry">
		<xs:annotation>
			<xs:documentation>DESC_Element_jndienventry</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="tJNDIEnvEntry">
		<xs:complexContent>
			<xs:extension base="wsdl:tExtensibilityElement">
				<xs:attribute name="name" type="xs:string" use="required">
					<xs:annotation>
						<xs:documentation>DESC_Attribute_name</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute name="value" type="xs:string" use="required">
					<xs:annotation>
						<xs:documentation>DESC_Attribute_value</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

    <!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
    <!-- Start simple type defintions to define type enumerations          -->
    <!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

    <!-- Transactional support types -->
	<xs:simpleType name="transactionSupportTypes">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NoTransaction"/>
			<xs:enumeration value="XATransaction"/>
		</xs:restriction>
	</xs:simpleType>	

    <!-- Message delivery priority levels -->
	<xs:simpleType name="priorityType">
		<xs:restriction base="xs:int">
			<xs:enumeration value="4"/>
			<xs:enumeration value="0"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
			<xs:enumeration value="4"/>
			<xs:enumeration value="5"/>
			<xs:enumeration value="6"/>
			<xs:enumeration value="7"/>
			<xs:enumeration value="8"/>
			<xs:enumeration value="9"/>
		</xs:restriction>
	</xs:simpleType>	

	<!-- Message delivery modes -->
	<xs:simpleType name="deliveryModes">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NON_PERSISTENT"/>
			<xs:enumeration value="PERSISTENT"/>
		</xs:restriction>
	</xs:simpleType>

	<!-- Message receiver acknowledgement modes -->
	<xs:simpleType name="acknowledgeModes">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AUTO_ACKNOWLEDGE"/>
			<!--
			<xs:enumeration value="CLIENT_ACKNOWLEDGE"/>
			<xs:enumeration value="DUPS_OK_ACKNOWLEGE"/>
			-->
		</xs:restriction>
	</xs:simpleType>

    <!-- Message types -->
	<xs:simpleType name="messageTypes">
		<xs:restriction base="xs:string">
			<xs:enumeration value="TextMessage"/>
			<xs:enumeration value="MapMessage"/>
			<!-- ToDo
			<xs:enumeration value="StreamMessage"/>
			<xs:enumeration value="BytesMessage"/>
			-->	
		</xs:restriction>
	</xs:simpleType>

    <!-- Destination types -->
	<xs:simpleType name="destinationTypes">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Topic"/>
			<xs:enumeration value="Queue"/>
		</xs:restriction>
	</xs:simpleType>

    <!-- Subscription Durability types -->
	<xs:simpleType name="subscriptionDurabilityTypes">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NonDurable"/>
			<xs:enumeration value="Durable"/>
		</xs:restriction>
	</xs:simpleType>
    
    <!-- Use types -->
	<xs:simpleType name="useTypes">
		<xs:restriction base="xs:string">
			<xs:enumeration value="literal"/>
			<xs:enumeration value="encoded"/>
		</xs:restriction>
	</xs:simpleType>


    <!-- Message property types -->
	<xs:simpleType name="propertyTypes">
		<xs:restriction base="xs:string">
			<xs:enumeration value="boolean"/>
			<!--
			<xs:enumeration value="byte"/>
			-->
			<xs:enumeration value="short"/>
			<xs:enumeration value="int"/>
			<xs:enumeration value="long"/>
			<xs:enumeration value="float"/>
			<xs:enumeration value="double"/>
			<xs:enumeration value="string"/>
		</xs:restriction>
	</xs:simpleType>


    <!-- Java primitive types -->
	<xs:simpleType name="javaPrimitiveTypes">
		<xs:restriction base="xs:string">
			<xs:enumeration value="boolean"/>
			<!--
			<xs:enumeration value="byte"/>
			<xs:enumeration value="bytes"/>
			-->
			<xs:enumeration value="char"/>
			<xs:enumeration value="double"/>
			<xs:enumeration value="float"/>
			<xs:enumeration value="int"/>
			<xs:enumeration value="long"/>
			<xs:enumeration value="short"/>
			<xs:enumeration value="string"/>
		</xs:restriction>
	</xs:simpleType>

    <!-- Consumer Concurrency types -->
	<xs:simpleType name="concurrencyModeTypes">
		<xs:restriction base="xs:string">
			<xs:enumeration value="cc"/>
			<xs:enumeration value="sync"/>
		</xs:restriction>
	</xs:simpleType>
        
</xs:schema>
