wsdlextensions.ftp/src/org/netbeans/modules/wsdlextensions/ftp/resources/ftp_ext.xsd

<?xml version="1.0" encoding="UTF-8" ?> 

<!--
 The contents of this file are subject to the terms of the Common Development
 and Distribution License (the License). You may not use this file except in
 compliance with the License.
 
 You can obtain a copy of the License at http://www.netbeans.org/cddl.html
 or http://www.netbeans.org/cddl.txt.
 
 When distributing Covered Code, include this CDDL Header Notice in each file
 and include the License file at http://www.netbeans.org/cddl.txt.
 If applicable, add the following below the CDDL Header, with the fields
 enclosed by brackets [] replaced by your own identifying information:
 "Portions Copyrighted [year] [name of copyright owner]"
 
 The Original Software is NetBeans. The Initial Developer of the Original
 Software is Sun Microsystems, Inc. Portions Copyright 1997-2007 Sun
 Microsystems, Inc. All Rights Reserved.
-->

<!-- 
schema for FTP BC extensibility element
--> 
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:ftp="http://schemas.sun.com/jbi/wsdl-extensions/ftp/"
    targetNamespace="http://schemas.sun.com/jbi/wsdl-extensions/ftp/" >

    <xs:import namespace = "http://schemas.xmlsoap.org/wsdl/" schemaLocation="wsdl.xsd"/>
    
    <xs:element name="binding" type="ftp:tBinding" >
        <xs:annotation>
            <xs:documentation>
                "binding" indicates a ftp protocol based binding.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    
    <xs:complexType name="tBinding" >
        <xs:complexContent>
            <xs:extension base="wsdl:tExtensibilityElement" >
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="operation" type="ftp:tOperation" >
        <xs:annotation>
            <xs:documentation>
                "operation" indicates a ftp protocol based operation.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
    
    <xs:complexType name="tOperation" >
        <xs:complexContent>
            <xs:annotation>
                <xs:documentation>
	      	"operation" defines the ftp protocol based operation binding details..
                </xs:documentation>
            </xs:annotation>
            <xs:extension base="wsdl:tExtensibilityElement" >
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="message" type="ftp:tMessage">
        <xs:annotation>
            <xs:documentation>&lt;message&gt; defines the ftp protocol
based message exchange with default staging, with or without existing
target message overwrite protection, and archiving/deleting 
of processed messages.</xs:documentation>
                  <xs:appinfo>
                    <prop:ElementProperties  xmlns:prop="http://xml.netbeans.org/schema/wsdlui/property">
                        <prop:PropertyGroup name="MessageExchange" groupOrder="1" />
                        <prop:PropertyGroup name="MessageNameSpec" groupOrder="2" />
                        <prop:PropertyGroup name="MessagePoller" groupOrder="3" />
                        <prop:PropertyGroup name="Encoding" groupOrder="4" />
                        <prop:Property attributeName="messageRepository" groupName="MessageExchange" propertyOrder="1">
                            <prop:SchemaCustomizer/>
                        </prop:Property>
                        <prop:Property attributeName="messageCorrelate" groupName="MessageExchange" propertyOrder="2">
                            <prop:SchemaCustomizer/>
                        </prop:Property>
                        <prop:Property attributeName="messageName" groupName="MessageNameSpec" propertyOrder="1">
                            <prop:SchemaCustomizer/>
                        </prop:Property>
                        <prop:Property attributeName="messageNamePrefixIB" groupName="MessageNameSpec" propertyOrder="2">
                            <prop:SchemaCustomizer/>
                        </prop:Property>
                        <prop:Property attributeName="messageNamePrefixOB" groupName="MessageNameSpec" propertyOrder="3">
                            <prop:SchemaCustomizer/>
                        </prop:Property>
                        <prop:Property attributeName="pollIntervalMillis" groupName="MessagePoller" propertyOrder="1">
                            <prop:SchemaCustomizer/>
                        </prop:Property>
                        <prop:Property attributeName="protect" groupName="MessageExchange" propertyOrder="5">
                            <prop:SchemaCustomizer/>
                        </prop:Property>
                        <prop:Property attributeName="stage" groupName="MessageExchange" propertyOrder="6">
                            <prop:SchemaCustomizer/>
                        </prop:Property>
                        <prop:Property attributeName="archive" groupName="MessageExchange" propertyOrder="7">
                            <prop:SchemaCustomizer/>
                        </prop:Property>
                        <prop:Property attributeName="use" groupName="Encoding" propertyOrder="1">
                            <prop:SchemaCustomizer/>
                        </prop:Property>
                        <prop:Property attributeName="encodingStyle" groupName="Encoding" propertyOrder="2">
                            <prop:SchemaCustomizer/>
                        </prop:Property>
                        <prop:Property attributeName="part" groupName="Encoding" propertyOrder="3">
                            <prop:SchemaCustomizer/>
                        </prop:Property>
                    </prop:ElementProperties>
                </xs:appinfo>	      	      
	</xs:annotation>
    </xs:element>
    <!-- out-of-box message transfer operations that 
    assume default values for the convenience of the 
    user
    -->
    <xs:complexType name="tMessage">
	<xs:complexContent>
            <xs:extension base="wsdl:tExtensibilityElement">
		<xs:attribute name="messageRepository" type="xs:string" use="required">
                    <xs:annotation>
                        <xs:documentation>Path pointing to a directory on remote FTP server
where messages will be persisted and processed and archived, specifically,
the following defaults are assumed and created appropriately by FTP BC:
Note IN and OUT are from service provider's point of view:
(1)&lt;messageRepository&gt;/inbox - default location where
consumer puts request message to and provider polls request message
from.
(2)&lt;messageRepository&gt;/instage - default location where
consumer stages request message before it is completely uploaded.
(3)&lt;messageRepository&gt;/inprotect - default location where
consumer moves an existing request message to so that it is not
overwritten by current request message.
(4)&lt;messageRepository&gt;/inarchive - default location where
provider archives request message after it is processed.
(5)&lt;messageRepository&gt;/outbox - default location where provider
puts response message to and consumer polls the response message from.
(6)&lt;messageRepository&gt;/outstage - default location where
provider stages response message before it is completely uploaded.
(7)&lt;messageRepository&gt;/outprotect - default location where
provider moves an existing response message to so that it is not
overwritten by current response message.
(8)&lt;messageRepository&gt;/outarchive - default location where
consumer archives response message after it is processed.
</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
		<xs:attribute name="messageName" type="xs:string" use="optional" default="">
                    <xs:annotation>
                        <xs:documentation>messageName is actually the file name where a message is put into,
usually in the form of a name pattern,
where 'pattern' is a string containing special 
characters escaped by percentage sign, the following 
are all the symbols supported:
1. time stamps (%[GyMdhHmsSEDFwWakKz]). Java simple date/time format is used:
------------------------------------------------------------
Letter  Date or Time Component  Presentation       Examples
------------------------------------------------------------
G       Era designator          Text               AD
y       Year                    Year               1996; 96
M       Month in year           Month              July; Jul; 07
w       Week in year            Number             27
W       Week in month           Number             2
D       Day in year             Number             189
d       Day in month            Number             10
F       Day of week in month    Number             2
E       Day in week             Text               Tuesday; Tue
a       Am/pm marker            Text               PM
H       Hour in day (0-23)      Number             0
k       Hour in day (1-24)      Number             24
K       Hour in am/pm (0-11)    Number             0
h       Hour in am/pm (1-12)    Number             12
m       Minute in hour          Number             30
s       Second in minute        Number             55
S       Millisecond             Number             978
z       Time zone               General time zone  Pacific Standard Time; PST; GMT-08:00
Z       Time zone               RFC 822 time zone  -0800
-----------------------------------------------------------
2. UUID %u, will be substituted by a UUID value compliant with Java 1.5 UUID.
3. sequence number reference %#, this symbol will be replaced by the current 
value of sequence number which is a persisted integer count that increament 
after each reference.</xs:documentation>
                </xs:annotation>
                </xs:attribute>
                <xs:attribute name="messageNamePrefixIB" type="xs:string" use="optional" default="">
                    <xs:annotation>
                        <xs:documentation>Prefix for inbound (IB) message name.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="messageNamePrefixOB" type="xs:string" use="optional" default="">
                    <xs:annotation>
                        <xs:documentation>Prefix for inbound (OB) message name.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
		<xs:attribute name="pollIntervalMillis" type="xs:int" use="optional" default="5000">
                    <xs:annotation>
                        <xs:documentation>Polling interval in milli-seconds when data is polled from a location specified by 'receiveFrom'.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="archive" type="xs:boolean" use="optional" default="true">
                    <xs:annotation>
                        <xs:documentation>Indicate if archive is required for processed message,
when true, processed message is archived, otherwise, it is removed.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="protect" type="xs:boolean" use="optional" default="true">
                    <xs:annotation>
                        <xs:documentation>Indicate if overwrite protection is required for message send,
when true, existing message will be moved to dedicated directory before
the current message is put to the target, otherwise, current message 
overwrite existing message.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="stage" type="xs:boolean" use="optional" default="true">
                    <xs:annotation>
                        <xs:documentation>Indicate if staing is enabled for message transfer.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="use" type="ftp:tUseTypes" use="required">
                    <xs:annotation>
                        <xs:documentation>Indicate if the message is treated as literal or encoded.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
		<xs:attribute name="encodingStyle" type="xs:anyURI" use="optional">
                    <xs:annotation>
                        <xs:documentation>If 'use' is 'encoded', this is the encoding name associated with an encoder.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="part" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>Defines the reference to the abstract message part in the WSDL.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="messageCorrelate" type="xs:boolean" use="optional" default="true">
                    <xs:annotation>
                        <xs:documentation>Indicate if a GUID tagging based request - response message correlate mechanism is enabled,
when enabled, the request message (initiated from web service consumer) name
and response message name (created by the web service provider) will comply
with the Message GUID Tagging Contract:
request message name (i.e., ftp file name containing the message) =: req.guid-val
response message name (i.e., ftp file name containing the message) =: resp.guid-val
Note: the guid-val on both names are the same GUID generated by the consumer when it
intiated the request, and propagated throughout the message transit path, to make
the guid-val across the NMR, JBI message property or JBI message exchange ID indexed
message exchange context could be used by the BC implementation.
as a result, the consumer can poll the exact response for the request it sends.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
	</xs:complexContent>
    </xs:complexType>

    <xs:element name="address" type="ftp:tAddress">
        <xs:annotation>
            <xs:documentation>
                "address" indicates a ftp protocol based service address.
            </xs:documentation>
                  <xs:appinfo>
                    <prop:ElementProperties  xmlns:prop="http://xml.netbeans.org/schema/wsdlui/property">
                        <prop:PropertyGroup name="Connection" groupOrder="1" />
                        <prop:PropertyGroup name="DirectoryList" groupOrder="2" />
                        <prop:PropertyGroup name="Transfer" groupOrder="3" />
                        <prop:Property attributeName="url" groupName="Connection" propertyOrder="1">
                            <prop:SchemaCustomizer/>
                        </prop:Property>
                        <prop:Property attributeName="user" groupName="Connection" propertyOrder="2">
                            <prop:SchemaCustomizer/>
                        </prop:Property>
                        <prop:Property attributeName="password" groupName="Connection" propertyOrder="3">
                            <prop:SchemaCustomizer/>
                        </prop:Property>
                        <prop:Property attributeName="dirListStyle" groupName="DirectoryList" propertyOrder="1">
                            <prop:SchemaCustomizer/>
                        </prop:Property>
                        <prop:Property attributeName="useUserDefinedHeuristics" groupName="DirectoryList" propertyOrder="2">
                            <prop:SchemaCustomizer/>
                        </prop:Property>
                        <prop:Property attributeName="userDefDirListStyle" groupName="DirectoryList" propertyOrder="3">
                            <prop:SchemaCustomizer/>
                        </prop:Property>
                        <prop:Property attributeName="userDefDirListHeuristics" groupName="DirectoryList" propertyOrder="4">
                            <prop:SchemaCustomizer/>
                        </prop:Property>
                        <prop:Property attributeName="mode" groupName="Transfer" propertyOrder="1">
                            <prop:SchemaCustomizer/>
                        </prop:Property>
                        <prop:Property attributeName="cmdChannelTimeout" groupName="Transfer" propertyOrder="2">
                            <prop:SchemaCustomizer/>
                        </prop:Property>
                        <prop:Property attributeName="dataChannelTimeout" groupName="Transfer" propertyOrder="3">
                            <prop:SchemaCustomizer/>
                        </prop:Property>
                    </prop:ElementProperties>
                </xs:appinfo>	      	      
	</xs:annotation>
    </xs:element>

    <!--
    for FTP BC endpoint information
    -->
    <xs:complexType name="tAddress">
       <xs:complexContent>
            <xs:extension base="wsdl:tExtensibilityElement">
                <xs:attribute name="url" type="xs:string" use="required">
                    <xs:annotation>
                        <xs:documentation>FTP url in the form of: ftp://[user]:[password]@[host name or IP]:[port]</xs:documentation>
                    </xs:annotation>
		</xs:attribute>
                <xs:attribute name="user" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>User ID for FTP login, if 'user' is not specified in 'url', this attribute is used.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="password" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>Password for FTP login, if 'password' is not specified in 'url', this attribute is used.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="dirListStyle" type="ftp:tDirListingStyles" use="optional" default="UNIX">
                    <xs:annotation>
                        <xs:documentation>Directory listing style of FTP server.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="useUserDefinedHeuristics" type="xs:boolean" use="optional" default="false">
                    <xs:annotation>
                        <xs:documentation>Indicate that a user defined directory listing style will be used, instead of out-of-box 'dirListStyle'.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="userDefDirListStyle" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>Name of the user defined directory listing style, must match an entry name in user defined heuristics configuration.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="userDefDirListHeuristics" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>Local file system path pointing to the user defined heuristics configuration file.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="mode" type="ftp:tTransModes" use="optional" default="BINARY">
                    <xs:annotation>
                        <xs:documentation>FTP transport mode.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="cmdChannelTimeout" type="xs:integer" use="optional" default="45000">
                    <xs:annotation>
                        <xs:documentation>FTP command channel timeout in milliseconds.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="dataChannelTimeout" type="xs:integer" use="optional" default="45000">
                    <xs:annotation>
                        <xs:documentation>FTP data channel timeout in milliseconds.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
	</xs:complexContent>
    </xs:complexType>

    <xs:simpleType name="tUseTypes">
        <xs:restriction base="xs:string">
            <xs:enumeration value="literal"/>
            <xs:enumeration value="encoded"/>
	</xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="tTransModes">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ASCII"/>
            <xs:enumeration value="BINARY"/>
            <xs:enumeration value="EBCDIC"/>
	</xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="tDirListingStyles">
        <xs:restriction base="xs:string">
            <xs:enumeration value="UNIX"/>
            <xs:enumeration value="AS400"/>
            <xs:enumeration value="AS400-UNIX"/>
            <xs:enumeration value="HCLFTPD 6.0.1.3"/>
            <xs:enumeration value="HCLFTPD 5.1"/>
            <xs:enumeration value="HP NonStop/Tandem"/>
            <xs:enumeration value="MPE"/>
            <xs:enumeration value="MSFTPD 2.0"/>
            <xs:enumeration value="MSP PDS (Fujitsu)"/>
            <xs:enumeration value="MSP PS (Fujitsu)"/>
            <xs:enumeration value="MVS GDG"/>
            <xs:enumeration value="MVS PDS"/>
            <xs:enumeration value="MVS Sequential"/>
            <xs:enumeration value="Netware 4.11"/>
            <xs:enumeration value="NT 3.5"/>
            <xs:enumeration value="NT 4.0"/>
            <xs:enumeration value="UNIX (EUC-JP)"/>
            <xs:enumeration value="UNIX (SJIS)"/>
            <xs:enumeration value="VM/ESA"/>
            <xs:enumeration value="VMS"/>
            <xs:enumeration value="VOS3 PDS (Hitachi)"/>
            <xs:enumeration value="VOS3 PS (Hitachi)"/>
            <xs:enumeration value="VOSK (Hitachi)"/>
	</xs:restriction>
    </xs:simpleType>
</xs:schema>