websvc.manager/test/unit/src/org/netbeans/modules/websvc/manager/resources/uszip-asmx-catalog/www.webservicemart.com/uszip.asmx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://webservicemart.com/ws/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://webservicemart.com/ws/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://webservicemart.com/ws/">
      <s:element name="ValidateZip">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ZipCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateZipResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidateZipResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ValidateZipSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateZip" />
  </wsdl:message>
  <wsdl:message name="ValidateZipSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateZipResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateZipHttpGetIn">
    <wsdl:part name="ZipCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ValidateZipHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ValidateZipHttpPostIn">
    <wsdl:part name="ZipCode" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ValidateZipHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="USZipSoap">
    <wsdl:operation name="ValidateZip">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns United States Postal Service State Abbreviation, Latitude (decimal degrees) and Longitude (decimal degrees).</wsdl:documentation>
      <wsdl:input message="tns:ValidateZipSoapIn" />
      <wsdl:output message="tns:ValidateZipSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="USZipHttpGet">
    <wsdl:operation name="ValidateZip">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns United States Postal Service State Abbreviation, Latitude (decimal degrees) and Longitude (decimal degrees).</wsdl:documentation>
      <wsdl:input message="tns:ValidateZipHttpGetIn" />
      <wsdl:output message="tns:ValidateZipHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="USZipHttpPost">
    <wsdl:operation name="ValidateZip">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns United States Postal Service State Abbreviation, Latitude (decimal degrees) and Longitude (decimal degrees).</wsdl:documentation>
      <wsdl:input message="tns:ValidateZipHttpPostIn" />
      <wsdl:output message="tns:ValidateZipHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="USZipSoap" type="tns:USZipSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidateZip">
      <soap:operation soapAction="http://webservicemart.com/ws/ValidateZip" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="USZipSoap12" type="tns:USZipSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidateZip">
      <soap12:operation soapAction="http://webservicemart.com/ws/ValidateZip" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="USZipHttpGet" type="tns:USZipHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ValidateZip">
      <http:operation location="/ValidateZip" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="USZipHttpPost" type="tns:USZipHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ValidateZip">
      <http:operation location="/ValidateZip" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="USZip">
    <wsdl:port name="USZipSoap" binding="tns:USZipSoap">
      <soap:address location="http://www.webservicemart.com/uszip.asmx" />
    </wsdl:port>
    <wsdl:port name="USZipSoap12" binding="tns:USZipSoap12">
      <soap12:address location="http://www.webservicemart.com/uszip.asmx" />
    </wsdl:port>
    <wsdl:port name="USZipHttpGet" binding="tns:USZipHttpGet">
      <http:address location="http://www.webservicemart.com/uszip.asmx" />
    </wsdl:port>
    <wsdl:port name="USZipHttpPost" binding="tns:USZipHttpPost">
      <http:address location="http://www.webservicemart.com/uszip.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>