xml.wsdl.extensions/test/unit/src/org/netbeans/modules/xml/wsdl/model/extensions/bpel/validation/semantic/resources/invalid/invalidPortType1.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:Test1TargetNamespace" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop" name="Test1Definition" targetNamespace="urn:Test1TargetNamespace">
    <types>
        <xsd:schema xmlns:ns1="urn:Test1TargetNamespace" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:Test1TargetNamespace">
            <xsd:element name="Test1Element" type="tns:Test1Type">
            </xsd:element>
            <xsd:complexType name="Test1Type">
                <xsd:sequence>
                    <xsd:element name="string" type="xsd:string"/>
                    <xsd:element name="nonNegativeInteger" type="xsd:nonNegativeInteger"/>
                    <xsd:element name="byte" type="xsd:byte"/>
                    <xsd:element name="short" type="xsd:short"/>
                    <xsd:element name="int" type="xsd:int"/>
                    <xsd:element name="long" type="xsd:long"/>
                    <xsd:element name="negativeInteger" type="xsd:negativeInteger"/>
                    <xsd:element name="dateTime" type="xsd:dateTime"/>
                    <xsd:element name="nonPositiveInteger" type="xsd:nonPositiveInteger"/>
                    <xsd:element name="duration" type="xsd:duration"/>
                    <xsd:element name="ENTITIES" type="xsd:string">
                    </xsd:element>
                    <xsd:element name="double" type="xsd:double"/>
                    <xsd:element name="ENTITY" type="xsd:ENTITY"/>
                    <xsd:element name="float" type="xsd:float"/>
                    <xsd:element name="IDREFS">
                         <xsd:complexType>
                            <xsd:simpleContent>
                                <xsd:extension base="xsd:string">
                                <xsd:attribute name="IDREFS" type="xsd:IDREFS"/>
                                </xsd:extension>
                            </xsd:simpleContent>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="integer" type="xsd:integer"/>
                    <xsd:element name="decimal" type="xsd:decimal"/>
                    <xsd:element name="boolean" type="xsd:boolean"/>
                    <xsd:element name="normalizedString" type="xsd:normalizedString"/>
                    <xsd:element name="IDREF">
                    <xsd:complexType>
                            <xsd:simpleContent>
                                <xsd:extension base="xsd:string">
                                <xsd:attribute name="IDREF" type="xsd:IDREF"/>
                                </xsd:extension>
                            </xsd:simpleContent>
                        </xsd:complexType>
                     </xsd:element>   
                    <xsd:element name="ID">
                    <xsd:complexType>
                            <xsd:simpleContent>
                                <xsd:extension base="xsd:string">
                                <xsd:attribute name="ID" type="xsd:ID"/>
                                </xsd:extension>
                            </xsd:simpleContent>
                        </xsd:complexType>
                     </xsd:element>  
                    <xsd:element name="NCName" type="xsd:NCName"/>
                    <xsd:element name="Name" type="xsd:Name"/>
                    <xsd:element name="NMTOKENS">
                    <xsd:complexType>
                            <xsd:simpleContent>
                                <xsd:extension base="xsd:string">
                                <xsd:attribute name="NMTOKENS" type="xsd:NMTOKENS"/>
                                </xsd:extension>
                            </xsd:simpleContent>
                        </xsd:complexType>
                     </xsd:element>      
                    <xsd:element name="NMTOKEN">
                        <xsd:complexType>
                            <xsd:simpleContent>
                                <xsd:extension base="xsd:string">
                                <xsd:attribute name="NMTOKEN" type="xsd:NMTOKEN"/>
                                </xsd:extension>
                            </xsd:simpleContent>
                        </xsd:complexType>
                     </xsd:element>      
                     
                    <xsd:element name="language" type="xsd:language"/>
                    <xsd:element name="token" type="xsd:token"/>
                    <xsd:element name="NOTATION" type="xsd:NOTATION"/>
                    <xsd:element name="QName" type="xsd:QName"/>
                    <xsd:element name="anyURI" type="xsd:anyURI"/>
                    <xsd:element name="base64Binary" type="xsd:base64Binary"/>
                    <xsd:element name="hexBinary" type="xsd:hexBinary"/>
                    <xsd:element name="gMonth" type="xsd:gMonth"/>
                    <xsd:element name="gDay" type="xsd:gDay"/>
                    <xsd:element name="gMonthDay" type="xsd:gMonthDay"/>
                    <xsd:element name="gYear" type="xsd:gYear"/>
                    <xsd:element name="gYearMonth" type="xsd:gYearMonth"/>
                    <xsd:element name="date" type="xsd:date"/>
                    <xsd:element name="time" type="xsd:time"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="Test1Message">
        <part element="tns:Test1Element" name="Test1Part"/>
    </message>
    <portType name="Test1PortType">
        <operation name="Test1Operation">
            <input message="tns:Test1Message"/>
            <output message="tns:Test1Message"/>
        </operation>
    </portType>
    <binding name="Test1Binding" type="tns:Test1PortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="Test1Operation">
            <soap:operation soapAction="Test1Operation"/>
            <input>
                <soap:body parts="Test1Part" use="literal"/>
            </input>
            <output>
                <soap:body parts="Test1Part" use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="Test1Service">
        <port binding="tns:Test1Binding" name="Test1Port">
            <soap:address location="http://localhost:12100/service/Test1"/>
        </port>
    </service>
    <plnk:partnerLinkType xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" name="Test1ServiceLinkType">
	<plnk:role name="Test1ServerRole" portType="Test1PortType"/>
   </plnk:partnerLinkType>
   
</definitions>