wlm.model/src/org/netbeans/modules/wlm/validator/resources/wfse_def.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- 
 # BEGIN_HEADER - DO NOT EDIT
 # 
 # The contents of this file are subject to the terms
 # of the Common Development and Distribution License
 # (the "License").  You may not use this file except
 # in compliance with the License.
 #
 # You can obtain a copy of the license at
 # https://open-jbi-components.dev.java.net/public/CDDLv1.0.html.
 # See the License for the specific language governing
 # permissions and limitations under the License.
 #
 # When distributing Covered Code, include this CDDL
 # HEADER in each file and include the License file at
 # https://open-jbi-components.dev.java.net/public/CDDLv1.0.html.
 # If applicable add the following below this CDDL HEADER,
 # with the fields enclosed by brackets "[]" replaced with
 # your own identifying information: Portions Copyright
 # [year] [name of copyright owner]
-->
<!-- 
 # @(#)wfse_def.xsd 
 #
 # Copyright 2004-2007 Sun Microsystems, Inc. All Rights Reserved.
 # 
 # END_HEADER - DO NOT EDIT
-->
<!--W3C Schema generated by XMLSpy v2006 sp1 U (http://www.altova.com)-->
<xs:schema targetNamespace="http://jbi.com.sun/wfse" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://jbi.com.sun/wfse"
    xmlns:tc="http://jbi.com.sun/wfse/wsdl/TaskCommon"
    elementFormDefault="qualified">
    <xs:element name="task" type="tns:tTask"/>
    <xs:complexType name="tAssignment">
        <xs:sequence>
            <xs:element name="user" type="tns:tExpression" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="group" type="tns:tExpression" minOccurs="0" maxOccurs="unbounded"/>
	    <xs:element name="excluded" type="tns:tExcluded"  minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tExcluded">
        <xs:sequence>
            <xs:element name="user" type="tns:tExpression" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="group" type="tns:tExpression" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tTimeout">
        <xs:sequence>
            <xs:group ref="tns:deadlineOrDurationGroup"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tEscalation">
        <xs:sequence>
            <xs:group ref="tns:deadlineOrDurationGroup"/>
            <xs:element name="assignment" type="tns:tAssignment" minOccurs="0"/>
            <xs:element name="localNotification" type="tns:tLocalNotification" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:group name="deadlineOrDurationGroup">
        <xs:choice>
            <xs:element name="deadline" type="tns:tDeadline-expr"/>
            <xs:element name="duration" type="tns:tDuration-expr"/>
        </xs:choice>
    </xs:group>
    <xs:complexType name="tImport">
        <xs:attribute name="namespace" type="xs:anyURI" use="required"/>
        <xs:attribute name="location" type="xs:string" use="required"/>
    </xs:complexType>
    <xs:complexType name="tTask">
        <xs:sequence>
            <xs:element name="import" type="tns:tImport" maxOccurs="unbounded"/>
            <xs:element name="title" type="tns:tExpression" default=""/>
            <!-- Priority value should be in the range of 1 through 10 and can be either of following
                 a) xpath expression of xsd:string or xsd:int simple type
                 b) it can be fixed integer value in single quotes, e.g. '8' -->                 
            <xs:element name="priority" type="tns:tExpression" default="'5'"/>
            <xs:element name="init" type="tns:tInit" minOccurs="0"/>
            <xs:element name="assignment" type="tns:tAssignment" minOccurs="0"/>
            <xs:element name="timeout" type="tns:tTimeout" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="escalation" type="tns:tEscalation" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="notification" type="tns:tNotification" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="action" type="tns:tAction" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="keywords" type="tns:tKeywords" minOccurs="0"/>
	</xs:sequence>
        <xs:attribute name="name" type="xs:NCName" use="required"/>
	<xs:attribute name="targetNamespace" type="xs:anyURI" use="required"/>
        <xs:attributeGroup ref="tns:endpointReference"/>
    </xs:complexType>
    <xs:complexType name="tInit">
        <xs:sequence>
            <xs:element name="variables" type="tns:tVariables" minOccurs="0" />
            <xs:element name="variable-init" type="tns:tChangeVariables" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tVariables">
        <xs:sequence>
            <xs:element name="variable" type="tns:tVariable" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tVariable">
        <xs:attribute name="name" type="xs:NCName" use="required" />
        <xs:attribute name="messageType" type="xs:QName" use="optional" />
        <xs:attribute name="type" type="xs:QName" use="optional" />
        <xs:attribute name="element" type="xs:QName" use="optional" />
    </xs:complexType>
    <xs:complexType name="tChangeVariables">
        <xs:sequence>
            <xs:element name="copy" type="tns:tCopy" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tCopy">
        <xs:sequence>
            <xs:element name="from" type="tns:tFrom" />
            <xs:element name="to" type="tns:tTo" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tExpression" mixed="true">
        <xs:sequence>
            <xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="expressionLanguage" type="xs:anyURI" default="urn:oasis:names:tc:wsbpel:2.0:sublang:xpath1.0"/>
        <xs:anyAttribute namespace="##other" processContents="lax"/>
    </xs:complexType>
    <xs:complexType name="tDuration-expr" mixed="true">
        <xs:complexContent mixed="true">
            <xs:extension base="tns:tExpression"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="tDeadline-expr" mixed="true">
        <xs:complexContent mixed="true">
            <xs:extension base="tns:tExpression"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="tFrom" mixed="true">
        <xs:complexContent mixed="true">
            <xs:extension base="tns:tExpression"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="tTo" mixed="true">
        <xs:complexContent mixed="true">
            <xs:extension base="tns:tExpression"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="tAction">
        <xs:sequence>
            <xs:element name="localNotification" type="tns:tLocalNotification" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element name="changeVariables" type="tns:tChangeVariables" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="type" type="tns:tActionType"/>
        <xs:attribute name="name" type="xs:NCName" use="optional"/>
    </xs:complexType>


    <xs:complexType name="tKeywords">
        <xs:sequence>
            <xs:element name="keyword" type="tns:tExpression" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="tActionType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Assigned"/>
            <xs:enumeration value="Claimed"/>
            <xs:enumeration value="Completed"/>
            <xs:enumeration value="Expired"/>
            <xs:enumeration value="Escalated"/>
            <xs:enumeration value="Aborted"/>
            <xs:enumeration value="UserDefined"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="tLocalNotification">
        <xs:attribute name="reference" type="xs:NCName"/>
    </xs:complexType>

    <xs:complexType name="tNotification">
        <xs:sequence>
            <xs:group ref="tns:notificationOptions"/>
            <xs:element name="message" type="tns:tMessage"></xs:element>
        </xs:sequence>
        <xs:attribute name="name" type="xs:NCName"/>
    </xs:complexType>
    
    <xs:group name="notificationOptions">
        <xs:sequence>
            <xs:element name="email" type="tns:tEmail" maxOccurs="1"></xs:element>
            <!-- <xs:element name="sms" type="tns:tSMS" maxOccurs="1"></xs:element> -->
        </xs:sequence>
    </xs:group>
    
        <xs:complexType name="tEmail">
        <xs:sequence>
            <xs:element name="address" type="tns:tExpression" maxOccurs="unbounded"></xs:element>
        </xs:sequence>
        <xs:attributeGroup ref="tns:endpointReference"/>
    </xs:complexType>
    
    <!-- <xs:complexType name="tSMS">
        <xs:sequence>
            <xs:element name="faxNumber" type="xs:string" maxOccurs="unbounded"></xs:element>
        </xs:sequence>
        <xs:attributeGroup ref="tns:endpointReference"/>
    </xs:complexType> -->
    
    <xs:complexType name="tMessage">
        <xs:sequence>
            <xs:element name="subject" type="tns:tExpression"></xs:element>
            <xs:element name="body" type="tns:tExpression"></xs:element>
        </xs:sequence>
    </xs:complexType>
        
    <xs:attributeGroup name="endpointReference">
       <xs:attribute name="portType" type="xs:QName" use="required"/>
      <xs:attribute name="operation" type="xs:NCName" use="required"/>
    </xs:attributeGroup>
</xs:schema>
